{% extends "/layouts/noheader.twig" %}

{% block content %}

<div class="container-404" style="background-image:url('/app/themes/legal/assets/images/404.png')">
    <div class="logo">
        <img src="/app/themes/legal/assets/images/logo-white.png" alt="White logo">
        <img src="/app/themes/legal/assets/images/404-text.png" class="mobile-only" alt="404 text">

    </div>
    <div class="text">
        <span>Nie odnaleziono strony</span>
        <a href="/" class="btn"> POWRÓT NA STRONĘ GŁÓWNĄ </a>
    </div>
</div>

{% endblock %}
