
{% extends "/layouts/agregator.twig" %}

{% block content %}

    <div class="sidebar-content" >
        <div class="container ">
            <div class="content text-content bigger-padding-elements">

                {{post.content}}

    {% include "parts/related.twig" %}


            </div>
            <div class="sidebar sidebar-off wider" data-sticky-container >
                <div class="sidebar-wrapper sticky"  data-margin-top="20">
                    {% include "parts/sidebar.twig" %}

                </div>
            </div>
        </div>
    </div>



    {# {{ post.content }} #}

    <style>

        @media all and (max-width:800px){
            .under-header{
                padding-bottom:0!important;
            }

            .sidebar-content{
                padding-top:0!important;
            }
        }
    </style>

{% endblock %}
