{% extends "/layouts/blank.twig" %}

{% block content %}

<div class="container archive-filters column v-center" style="margin-bottom:10px!important">
    <h2>{{ post.title }}</h2>
    {% if powiazane_tagi %}
    <div class="filters">
        <span>Filtruj</span>
        {% for tag in powiazane_tagi %}
        <a href="{{ function('get_tag_link', tag.tag.term_id ) }}" class="btn btn-blue">{{tag.tag.name}}</a>
        {% endfor %}
    </div>
    {% endif %}

    <div class="text-content" style="margin-top:20px;">
        {{post.tekst_gora}}
    </div>
</div>

{% if main %}


<div class="container main-news-in-list" style="margin-bottom:30px;">
    <div class="main-news-wrapper">
        <div class="left">
            <a href="{{ main.link }}">
            <img src="{{ TimberImage(main.thumbnail).src | resize(580, 300)}}" alt="{{ TimberImage(main.thumbnail).post_title }}">
        </a>
        </div>
        <div class="right">
            {% for tag in main.tags %}
            <a href="{{ function('get_tag_link', tag.term_id ) }}" class="btn btn-black smaller-padding">{{tag.name}}</a>
            {% endfor %}

            <div class="texts">
                <h3><a href="{{ main.link }}">{{ main.title }}</a></h3>
                <p>
                    {{main.preview.length(20).read_more(' ')}}
                </p>
            </div>

            <div class="author">
                <div class="image">
                    <img src="{{ function('get_avatar_url', main.post_author )}}" alt="author avatar" style="width:40px;height:40px;">
                </div>
                <div class="info">
                  <span class="date">{{main.post_date | date('d.m.Y')}}</span>

                    <span class="author-name">{{ function('get_the_author_meta','user_nicename', main.post_author ) }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}


<section class="container cols-5 buks-boxes nopadding">
    {% for item in kafelki_bukmacherzy %}
        {% if loop.index <= 5 %}
            <article class="single-col smaller-gap ">
                <a class="single-wrap" href="{{ item.go_link }}">
                    <div class="top">
                        <div class="background" style="width: 100%;
                        height: 100%;background-color:{{ item.kolor_glowny_bukmachera }}">

                            <img src="{{ TimberImage(item.tlo_pod_logo).src }}" alt="{{ TimberImage(item.tlo_pod_logo).post_title }}">
                        </div>
                        <div class="sponsor">
                            sponsor serwisu
                        </div>
                        <div class="buk-logo">
                            <img src="{{ TimberImage(item.logo).src }}" alt="{{ TimberImage(item.logo).post_title }}">
                        </div>
                    </div>
                    <div class="bottom shadow" {% if item.get_field('kwoty')|length > 3 %} style="padding-bottom: 45px;" {% endif %}>
                        <div class="promocode bordered-dark shadow" style="color:{{ item.kolor_glowny_bukmachera }}">
                            <span>KOD</span> {{item.kod}}
                        </div>
                        <div class="rest">
                            {% for single in item.get_field('kwoty') %}
                            <div class="single">
                                <div class="left">
                                    {% if single.kwota_stara %}

                                    <span class="old">
                                        {{single.kwota_stara}}
                                    </span>
                                    {% endif %}

                                    {{single.kwota_standard}}
                                </div>
                                <div class="right">
                                   {{single.opis}}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <a href="{{ item.link_odbierz }}" class="btn btn-arrow shadow">
                            {{item.tekst_button_odbierz}}
                        </a>
                    </div>
                </a>
                <div class="under">
                    {{item.tekst_pod_kafelkiem}}
                </div>
            </article>
        {% endif %}
    {% endfor %}
</section>
    <div class="container ">
        <div class="content ">
            <div class="posts-columns single-bordered">
                <div class="title-border">
                    <h3>{{ post.title }}</h3>
                </div>
                <div class="container nopadding cols-3 wrap">
                    {% for item in typy %}

                    <div class="single-col">
                        <div class="image"> <a
                                href="{{ item.link }}">
                                <img src="{{ TimberImage(item.thumbnail).src | resize(420, 210) }}" alt="{{ TimberImage(item.thumbnail).post_title }}">
                                <div class="cover"></div>
                            </a></div>
                            {% if item.tags.0 %}

                            <a href="{{ function('get_tag_link', item.tags.0.term_id ) }}" class="btn btn-black smaller-padding" style="display:block;margin-bottom:10px;">{{ item.tags.0.name }}</a>
                            {% endif %}

                        <div class="title">
                            <a
                                href="{{ item.link }}"> {{ item.title }} </a></div>
                                <div class="author">
                                    <div class="image">
                                        <img src="{{ function('get_avatar_url', item.post_author )}}" alt="author avatar" style="width:40px;height:40px;">
                                    </div>
                                    <div class="info">
                                      <span class="date">{{item.post_date | date('d.m.Y')}}</span>

                                        <span class="author-name">{{ function('get_the_author_meta','user_nicename', item.post_author ) }}</span>
                                    </div>
                                </div>
                        <div class="excerpt" style="margin-top:15px;"> {{item.preview.length(10).read_more(' ')}}
                            <a
                                href="{{item.link}}"
                                class="read-more">Więcej</a></div>
                        <div class="additional shadow radius">
                            {% for kurs in item.get_field('kursy') %}
                                {% if loop.index == 1 %}
                                <div class="rate"> {{kurs.kurs}}</div>
                                <div class="text"> {{kurs.typ}}</div>
                                <div class="logo"> <img src="{{ TimberImage(kurs.bukmacher.male_logo).src }}" alt="{{ TimberImage(kurs.bukmacher.male_logo).post_title }}"> </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="navi-holder">
                <div class="wp-pagenavi orange">
                  {{wp_pagenavi}}
                </div>
              </div>

              <div class="legal-bookmaker collapsable">
                <div class="intro">
                    {{ post.tekst_rozwijany_zajawka }}
                    {% if post.tekst_rozwijany %}
                    <div class="expand-btn">Rozwiń <img src="/app/themes/legal/dist/images/chevron-bottom.png" alt="chevron"></div>
                    <div class="hidden-content"  style="display:none;">
                        {{post.tekst_rozwijany}}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>



{# {{ post.content }} #}

{% endblock %}
