{% extends "/layouts/blank.twig" %}

{% block content %}

<div class="sidebar-content double">
  
  <div class="container ">
    <div class="sidebar" style="width:100px; min-width:100px">

    </div>
    <div class="author-info">
      <div class="image">
        <img data-lazyloaded="1"
          src="{{ function('get_avatar_url', author )}}"
          data-src="{{ function('get_avatar_url', author )}}"
          alt="Post author avatar" style="width:100px;height:100px;border-radius:100%;" class="litespeed-loaded"
          data-was-processed="true"><noscript><img
            src="{{ function('get_avatar_url', author )}}"
            alt="Post author avatar" style="width:100px;height:100px;border-radius:100%;"></noscript>
        </div>
      <div class="info">
        <h2 class="author-name">{{author.display_name}}</h2>
        <span>{{author.rola}}</span>
        <div class="social-icons">
          {% if author.facebook %}
            <a href="{{ author.facebook }}"> <img src="https://www.bukmacher-legalny.pl/app/uploads/2020/05/fb.svg" alt=""> </a>
          {% endif %}
          {% if author.instagram %}
            <a href="{{ author.instagram }}"> <img src="https://www.bukmacher-legalny.pl/app/uploads/2020/05/inst.svg" alt=""> </a>
          {% endif %}
          {% if author.twitter %}
            <a href="{{ author.twitter }}"> <img src="https://www.bukmacher-legalny.pl/app/uploads/2020/05/tt.svg" alt=""> </a>
          {% endif %}
        </div>
      </div>
      <div class="text-content">
        <div class="text">
          {{function('get_the_author_meta','description', author.ID)}}

        </div>
      </div>
    </div>

  </div>
</div>


  <div class="sidebar-content double">
    <div class="container ">
      <div class="sidebar" style="width:100px; min-width:100px">

      </div>
      <div class="content text-content" >
        <div class="title-border">
          <h3>{{ tag.name }}</h3>
        </div>
        <div class="posts-mosaic archive">
          {% for chunk in chunks %}

          <div class="posts">
            {% for post in chunk %}

            <div class="left" style="width:100%;">
              <div class="single">
                <div class="image"><a href="{{post.link}}"><img
                      src="{{ TimberImage(post.thumbnail).src | resize(450, 200) }}"
                      alt="{{ TimberImage(post.thumbnail).post_title }}"></a></div>
                <a href="{{post.link}}">
                  <h3 class="post-title">{{post.title}}</h3>
                </a>

                <div class="info">
                  <div class="excerpt" style="display:none;">
                    {{post.preview.length(10).read_more(' ')}}
                  </div>
                  <div class="author">
                    <div class="image">
                      <img src="{{ function('get_avatar_url', post.post_author )}}" alt="Post author avatar"
                        style="width:40px;height:40px;">
                    </div>
                    <div class="info">
                      <span
                        class="author-name">{{ function('get_the_author_meta','user_nicename', post.post_author ) }}</span>
                      <span class="date">{{post.post_date | date('d.m.Y')}}</span>

                    </div>
                  </div>
                </div>

              </div>
            </div>
            {% endfor %}
          </div>
          {% endfor %}

        </div>

        <div class="navi-holder">
          <div class="wp-pagenavi orange">
            {{wp_pagenavi}}
          </div>
        </div>

      </div>
      <div class="sidebar" data-sticky-container>
        <div class="sidebar-wrapper sticky" data-margin-top="80">
          <a class="simple-sidebar" href="{{ function('get_the_permalink', 4582) }}" class="simple-sidebar"
            style="background-image:url(/app/themes/legal/assets/images/sidebar-own.png)">
            <button href="" class="btn btn-transparent" style="visibility:hidden"></button>

            <img src="{{TimberImage(options.logo).src | resize(130,0)}}"
              alt="{{ TimberImage(options.logo).post_title }}" style="max-width:initial;">
            <button href="" class="btn btn-black">RANKING BUKMACHERÓW</button>
          </a>

        </div>
      </div>
    </div>
  </div>


<style>
  .author-info{
    display:flex;
    flex-flow:row wrap;
  }

  .author-info .info .social-icons a{
    margin: 0 5px;
  }
  .author-info .info h2{
    font-size:34px;
    line-height:34px;
    font-weight: bold;
    margin-bottom:0;
  }

  .author-info .info{
    margin-left:20px;
  }

  .author-info .text-content {
    width:100%;
    margin:30px 0;
  }

  .author-info .text-content .text{
    max-width:770px;
  }
</style>
  {# {{ post.content }} #}

  {% endblock %}