{% extends "/layouts/bonus.twig" %}

{% block content %}
<div class="sidebar-content double left-wider" style="background-color:transparent"> 
    <div class="container ">
        <div class="sidebar context chapters" data-sticky-container  >

        </div>
        <div class="content text-content" style="max-width: 730px;">    
            <h1 style="text-align:center;"> {% if header_h2 %}               
             {{header_h2}}{% else %}{{post.title}}{% endif %}</h1> 
             {% if header_h3 %} 
             <h2 style="text-align:center;font-size:16px;">{{ header_h3 }}</h2>     
             {% endif %}
            <div class="date" style="text-align:center;margin-bottom:30px;">Aktualizacja {{ first_month_day | date('d F Y')}}</div>

        </div>
        <div class="sidebar" data-sticky-container  >
            <div class="sidebar-wrapper sticky"  data-margin-top="80">

            </div>
        </div>
    </div>
</div>
    <div class="sidebar-content double left-wider" style="background-color:transparent"> 
        <div class="container ">
            <div class="sidebar context chapters" data-sticky-container  >
                <div class="sidebar-wrapper sticky chapters context-list"  data-margin-top="80">
                    {% for item in headings_list %}
                    <li class="chapter {% if loop.index == 1 %} active {% endif %} go-to-id">
                        <a href="#{{ item.id }}" class="{{ item.id }}">{{ item.title }}</a>
                    </li>
                        
                    {% endfor %}
                </div>
            </div>
            <div class="content text-content" style="">    

                <div class="override-width">
                    {{ post.content }}
                </div>    

                {% include "parts/related.twig" %}

            </div>
            <div class="sidebar" data-sticky-container  >
                <div class="sidebar-wrapper sticky"  data-margin-top="80">
                    {% include "parts/sidebar.twig" %}

                </div>
            </div>
        </div>
    </div>
    <style>
        .override-width{
            max-width:730px!important; margin:0 auto!important;
        }
    </style>
    
    {% if post.id == 2939 %}
    <script type="application/ld+json">
        {
        "@context":"http:\/\/schema.org\/",
        "@type":"Organization",
        "name":"{{ post.title }}",
        "aggregateRating":{
            "@type":"AggregateRating",
            "ratingValue":"5",
            "reviewCount":97
        }
    } 
</script>
    {% endif %}
{% endblock %}
