{% extends "/layouts/kod-header.twig" %}

{% block content %}
<div class="title-menu shadow-bottom radius" style="margin-bottom:0;">
    <div class="container">
        <a class="logo" href="{{ bookmaker.link }}" style="display:none">
            <img src="{{ TimberImage(bookmaker.logo_do_menu_contextowego).src | resize(0, 30)}}"
                alt="{{ TimberImage(bookmaker.logo_do_menu_contextowego).post_title }}">
        </a>
        <ul class="context-menu context-list">

            {% for heading in context_list %}
            <li class=" {% if loop.index == 1 %} active {% endif %}">
                <a href="#{{ heading.id }}" class="{{heading.id}}">
                    {{heading.name}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>

</div>

<div class="sidebar-content">
    <div class="container ">

        <div class="content text-content arrows m-kod-single bigger-padding">
            <table class=" white-bars">
                <tbody style="border:none;">
                    {% for item in post.get_field('belki') %}
                    <tr class="single radius shadow-bottom">
                        <td class="left">
                            {{item.lewy_tekst}}
                        </td>
                        <td class="right">
                            {{item.prawy_tekst}}
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
            <!-- <div class="white-bars">
                    {% for item in post.get_field('belki') %}
                    <div class="single radius shadow-bottom">
                        <div class="left">
                            {{item.lewy_tekst}}
                        </div>
                        <div class="right">
                            {{item.prawy_tekst}}
                        </div>
                    </div>
                    {% endfor %}

                    {% if post.belki_link_button %}

                    <div class="single radius shadow-bottom" style="padding:20px 15px;">
                        <div class="left">
                            Bonus od wpłaty
                        </div>
                        <button class="btn btn-black safari-width">KOD <span style="color:#10C174" >{{post.kod}}</span></button>
                        <span class="green copy-code" data-code="{{ post.kod }}">kopiuj kod</span>
                        <a href="{{post.belki_link_button}}" class="btn btn-arrow btn"><span>{{post.belki_tekst_button}}</span></a>
                    </div>
                    {% endif %}

                </div> -->

            {{post.content}}
            <div class="under-post-reviews text-content">

                <h3 style="font-size: 28px;">Jak bonus i promocje oceniają gracze?</h3>

                {% if hide_review_form %}

                <div class="header-rate-buk shadow radius">
                    <div class="left">
                        <div class="avatar">
                            <img src="/app/themes/legal/dist/images/avatar-blank.png" alt="">
                        </div>
                        <span>OCEŃ BONUS</span>
                        <div class="stars user-rate form-stars scrollToReview" data-rating="0">
                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                        </div>
                    </div>

                    <div class="right">
                        <a href="#ocenBonus" class="btn btn-black scrollToReview">
                            SPRAWDŹ OCENY
                        </a>
                    </div>
                </div>
                {% endif %}
                {% for review in reviews %}

                <div class="single-review shadow radius">
                    <div class="about">
                        <img src="/app/themes/legal/dist/images/avatar-grey.png" alt="">
                        <div class="date">
                            {{review.post_date | date('d.m.Y')}}
                        </div>
                        <div class="name">
                            {{review.custom.name}}
                        </div>
                        <div class="stars" data-stars="{{ review.ilosc_gwiazdek }}">
                            {% set count = review.ilosc_gwiazdek %}
                            {% for i in 1 .. count %}
                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                            {% endfor %}
                            {% if review.ilosc_gwiazdek != 5 %}
                            {% set count = 5 - review.ilosc_gwiazdek %}
                            {% for i in 1 .. count %}
                            <img src="/app/themes/legal/dist/images/star-dark.png" alt="">
                            {% endfor %}
                            {% endif %}

                        </div>
                    </div>

                    <div class="content">
                        <div class="positive">
                            {{review.pozytywna_opinia}}
                        </div>
                    </div>

                </div>

                {% endfor %}

                {% if hide_review_form %}
                <form class="add-review" id="ocenBonus">
                    <div class="rate">
                        <span>OCEŃ BONUS</span>
                        <div class="stars user-rate form-stars" data-rating="0">
                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                        </div>
                    </div>

                    <div class="textarea-wrap pros">
                        <textarea name="message-positive" id="" cols="30" placeholder="Komentarz"></textarea>
                    </div>

                    <div class="author" style="justify-content:flex-end">
                        <!-- <img src="/app/themes/legal/dist/images/avatar-grey.png" alt=""> -->
                        <!-- <span class="green">dodaj avatar</span> -->
                        <input type="hidden" name="post_id" value="{{post.ID}}">
                        <input type="hidden" name="rate" value="5">
                        <input type="text" name="name" placeholder="Imię" id="">
                        <button class="btn" type="button">DODAJ KOMENTARZ</button>
                    </div>
                </form>

                {% endif %}
            </div>

        </div>
        <div class="sidebar sidebar-off wider" data-sticky-container>
            <div class="sidebar-wrapper sticky" data-margin-top="80">

                <div class="cashes-sidebar" style="background-color:{{bookmaker.kolor_glowny_bukmachera}}">

                    <div class="top"
                        style="background-image:url('{{ TimberImage( bookmaker.tlo_pod_logo ).src }}');border-radius:5px 5px 0 0">
                        <a href="{{bookmaker.go_link}}">
                            <img src="{{TimberImage(bookmaker.logo).src | resize(160,0)}}"
                                alt="{{ TimberImage(bookmaker.logo).post_title }}">
                        </a>
                    </div>
                    <div class="bottom">
                        <div class="bulletpoints">

                            {% for single in bookmaker.get_field('kwoty') %}
                            <div class="single">
                                <div class="left">
                                    {% if single.kwota_stara %}

                                    <span class="old" style="text-decoration:line-through">
                                        {{single.kwota_stara}}
                                    </span>
                                    {% endif %}

                                    <span class="green">{{single.kwota_standard}}</span>

                                </div>
                                <div class="right">
                                    <span>
                                        {{single.opis}}
                                    </span>
                                </div>
                            </div>
                            {% endfor %}



                        </div>

                        <a href="{{bookmaker.go_link}}" class="btn btn-arrow">ODBIERZ BONUS</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="sidebar-content">
    <div class="container ">

        <div class="content text-content  m-kod-single ">

            {% include "parts/related.twig" %}

        </div>
        <div class="sidebar sidebar-off" data-sticky-container>
        </div>
    </div>
</div>

<script type="application/ld+json">
            {
                "@context":"http:\/\/schema.org\/",
                "@type":"Organization",
                "name":"{{ post.title }}",
                "aggregateRating":{
                    "@type":"AggregateRating",
                    "ratingValue":"{{ bookmaker.bonusy_ocena }}",
                    "reviewCount": 89
                }
            }
        </script>
<style>
    @media all and (max-width:1200px) {
        body .text-content .wp-block-table {
            max-width: 100%;
        }
    }

    body .add-review .textarea-wrap{
        padding-left:0!important;
    }
    body .add-review .textarea-wrap::before{
        display:none!important;
    }
    body .under-post-reviews .single-review .content{
        padding-left:0;

    }

    body .under-post-reviews .single-review .content .positive::before{
        display:none;
    }
</style>
{% if post.id == 4096 %}
<style>
    @media all and (max-width:1200px) {
        body .text-content .wp-block-table tbody td:nth-child(2) {
            width: 30%;
        }
    }


</style>
{% endif %}

 <script>
    $ = jQuery;
    $('#ocenBonus button').click(function () {
      $('#ocenBonus button').addClass('loading').html('<i class="fa fa-spinner fa-spin" style="color:white;"></i>');
        jQuery.ajax({
          url: '{{ function('admin_url', 'admin-ajax.php') }}',
          data: {
            action: 'ajax_save_review',
            data: $('#ocenBonus').serialize()
          },
          type: 'POST',
          success: function (data) {
            var info = JSON.parse(data);
            $('#ocenBonus button').removeClass('loading').html('DODAJ KOMENTARZ');
            new Noty({
              type: info.type,
              text: info.message,
              progressBar: true,
              theme: 'mint',
              timeout: 3000
            }).show();
            if (info.type == "success") {
              $('#ocenBonus').remove();
              setCookie('BlockReview', getCookie('BlockReview') + ',' + info.post_id, 365);
            }
          }
        });
      });
      $('.user-rate img').click(function (e) {
          e.stopImmediatePropagation();
        var count = Number($(this).prevAll('img').length) + 1;
        $('.user-rate').removeClass(function (index, className) {
          return (className.match(/(^|\s)active-\S+/g) || []).join(' ');
        });
        $('.user-rate').addClass('active-' + count).attr('data-rating', count);
        $('#ocenBonus input[name="rate"]').val(count);
      }
      );
  
</script> 

{% endblock %} 