{% extends "/layouts/base.twig" %}

{% block content %}

    <div class="container center">
        <div class="bordered">
            <b>TOP 5</b>
        </div>
    </div>

    <section class="container cols-5 buks-boxes nopadding after">
        {% for item in kafelki_bukmacherzy %}
            {% if loop.index <= 5 %}
                <article class="single-col smaller-gap ">
                    <a class="single-wrap" href="{{ item.go_link }}">
                        <div class="top">
                            <div class="background" style="width: 100%;
                            height: 100%;background-color:{{ item.kolor_glowny_bukmachera }}">

                                <img src="{{ TimberImage(item.tlo_pod_logo).src }}" alt="{{ TimberImage(item.tlo_pod_logo).post_title }}">
                            </div>
                            <div class="sponsor">
                                sponsor serwisu
                            </div>
                            <div class="buk-logo bigger">
                                <img src="{{ TimberImage(item.logo).src }}" alt="{{ TimberImage(item.logo).post_title }}">
                            </div>
                        </div>
                        <div class="bottom shadow" {% if item.get_field('kwoty')|length > 3 %} style="padding-bottom: 45px;" {% endif %}>
                            <div class="promocode bordered-dark shadow" style="color:{{ item.kolor_tekstu_bukmachera }}">
                                <span>KOD</span> {{item.kod}}
                            </div>
                            <div class="rest">
                                {% for single in item.get_field('kwoty') %}
                                <div class="single">
                                    <div class="left">
                                        {% if single.kwota_stara|length %}
                                        <span class="old">
                                            {{single.kwota_stara}}
                                        </span>
                                        {% endif %}

                                        {{single.kwota_standard}}
                                    </div>
                                    <div class="right">
                                       {{single.opis}}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <a href="{{ item.link_odbierz }}" class="btn btn-arrow shadow safari-width">
                                <span>{{item.tekst_button_odbierz}}</span>
                            </a>
                        </div>
                    </a>
                    <div class="under">
                        <a href="{{ function('get_kod_link_by_recenzja_id', item.id)}}" class="{{ item.id }}"><h3 style="font-size: 13px;
                            text-align: center;
                            font-weight: 700;color: #101f3c;">{{ item.krotka_nazwa }} Kod promocyjny </h3></a>
                        {{item.tekst_pod_kafelkiem}}
                    </div>
                </article>
            {% endif %}
        {% endfor %}
    </section>
    <section class="our-goal">
        <div class="container column v-center">
            <a href="{{ post.link_buttona }}" class="btn btn-reverse"><h3 style="    font-size: inherit;
                margin: 0;">RANKING BUKMACHERÓW</h3></a>
            <div class="text-content smaller">
                {{post.tekst}}
            </div>
        </div>
    </section>
    <div class="sidebar-content">
        <div class="container ">
            <div class="content">
                <div class="posts-mosaic" style="margin-top:50px;">
                    <div class="title-border">
                        <h3>Poradniki</h3>
                    </div>
                    <div class="posts">
                        <div class="left">
                            {% for item in poradnik_main %}
                                {% if loop.index == 1 %}
                                    <div class="single poradnik" >
                                    <div class="excerpt-mobile" style="display:none">
                                        <a href="{{item.link}}">{{item.title}}</a>
                                    </div>
                                        <div class="image text-overlay">
                                            <a href="{{item.link}}"><img src="{{ TimberImage(item.thumbnail).src | resize(0, 400) }}" class="radius" alt="{{ TimberImage(item.thumbnail).post_title }}">
                                            </a>
                                            <div class="overlay radius">
                                                <div class="excerpt">
                                                    <a href="{{item.link}}">{{item.title}}</a>
                                                    {{item.preview.length(30).read_more(' ')}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="right">
                            {% for item in poradniki %}
                                <div class="single w-image poradnik">
                                    <div class="image">
                                        <a href="{{item.link}}"><img src="{{ TimberImage(item.thumbnail).src | resize(160, 160) }}" alt="{{ TimberImage(item.thumbnail).post_title }}">
                                            <div class="overlay radius">

                                            </div>
                                        </a>
                                    </div>
                                    <div class="info">
                                        <a href="{{item.link}}"><h4 class="post-title">{{ item.title }}</h4></a>
                                        <div class="excerpt">
                                            {{item.preview.length(10).read_more(' ')}}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>

                <div class="container column v-center mt-30 center container-mobile" style="margin:30px 0;">
                    <a href="/news" class="btn btn-blue">ZOBACZ WSZYSTKIE</a>
                </div>
                <div class="posts-columns">
                    <div class="title-border">
                        <h3>Typy bukmacherskie</h3>
                    </div>
                        <div class="container nopadding cols-3 slick-mobile">
                            {% for item in typy %}
                                <div class="single-col">
                                    <div class="image">
                                        <a href="{{item.link}}">
                                            <img src="{{ TimberImage(item.thumbnail).src | resize(400, 240) }}" alt="{{ TimberImage(item.thumbnail).post_title }}">
                                        <div class="cover"></div>
                                        </a>

                                    </div>
                                    {% if item.tags.0 %}

                        <a href="{{ function('get_tag_link', item.tags.0.term_id ) }}" class="btn btn-black smaller-padding" style="display:block;margin-bottom:10px;">{{ item.tags.0.name }}</a>
                        {% endif %}

                                    <div class="title">
                                        <a href="{{item.link}}">
                                            {{item.title}}
                                        </a>
                                    </div>
                                    <div class="date">
                                        <span class="date">{{item.post_date | date('d.m.Y')}}</span>
                                    </div>
                                    <div class="excerpt">
                                        {{ item.preview.length(10).read_more(' ').force }}
                                    </div>

                                    <div class="additional shadow radius">
                                        {% for kurs in item.get_field('kursy') %}
                                        {% if loop.index == 1 %}
                                            <div class="rate">
                                                {{kurs.kurs}}
                                            </div>
                                            <div class="text">
                                                {{kurs.typ}}
                                            </div>
                                            <div class="logo">
                                                <img src="{{ TimberImage(kurs.bukmacher.male_logo).src | resize(0,36) }}" alt="{{ TimberImage(kurs.bukmacher.male_logo).post_title }}">
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                </div>
                            {% endfor %}
                        </div>
                </div>
                <div class="container column v-center mt-30 center" style="margin:30px 0;">
                    <a href="/typy-na-dzis/" class="btn btn-blue">ZOBACZ WSZYSTKIE</a>
                </div>

                <section class="buks-table">
                    <div class="text-content">
                        {{post.tekst_nad_tabela_rankingowa}}
                    </div>

                    <div class="table">
                        {% for row in lista_bukmacherow %}
                            <div class="row">
                                <div class="index">
                                    {{loop.index}}
                                </div>
                                <div class="logo" style="background:{{ row.kolor_glowny_bukmachera }}">
                                    <img src="{{ TimberImage(row.logo).src | resize(140,0) }}" alt="{{ TimberImage(row.logo).post_title }}">
                                </div>
                                <div class="score-vote">
                                <div class="score">
                                    <span class="count">{{row.ilosc_glosow_tabelka}}&nbsp;</span> głosów
                                </div>
                                <div class="vote">
                                    <span class="vote-btn">
                                    </span>
                                </div>
                                </div>
                                <div class="bulletpoints">
                                <content class="bulletpoints-content">
                                    {{row.bulletpointy_tabelka}}
                                </content>
                                <content class="more-info">
                                <button class="btn-info" style="display: none;">
                                wiecej informacji </button>
                                <a href="{{ function('get_kod_link_by_recenzja_id', row.id) }}" class="grey grey-mobile" style="text-align:center;">BONUS INFO</a>

                                </content>
                                </div>

                                <div class="prices">
                                    <span class="old">
                                        {{row.kwota_przed_tabelka}}
                                    </span>
                                    <div class="price">
                                    <span class="new">
                                        {{row.kwota_po_tabelka}}
                                    </span>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <a href="{{ row.link_odbierz }}" class="btn" style="width:100%; text-align:center;">ODBIERZ</a>
                                    <a href="{{ function('get_kod_link_by_recenzja_id', row.id) }}" class="grey"  style="width:100%; text-align:center;">BONUS INFO</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
                <div class="posts-mosaic">
                    <div class="title-border">
                        <h3>Aktualności</h3>
                    </div>
                    <div class="posts">
                        <div class="left">
                            {% for item in recent %}
                                {% if loop.index == 1 %}
                                    <div class="single">
                                        <a href="{{item.link}}"><h4 class="post-title">{{ item.title }}</h4></a>
                                        <div class="image"><a href="{{item.link}}"><img src="{{ TimberImage(item.thumbnail).src | resize(570, 200) }}" class="radius" alt="{{ TimberImage(item.thumbnail).post_title }}"></a></div>
                                        <div class="info">
                                            <div class="excerpt">
                                                {{item.preview.length(10).read_more(' ')}}
                                            </div>
                                            <div class="author">
                                                <div class="image">
                                                    <img src="{{ function('get_avatar_url', item.post_author )}}" alt="author avatar" style="width:40px;height:40px;">
                                                </div>
                                                <div class="info">
                                                    <span class="date">{{item.post_date | date('d.m.Y')}}</span>
                                                    <span class="author-name">{{ function('get_the_author_meta','user_nicename', item.post_author ) }}</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="right">
                            {% for item in recent %}
                                {% if loop.index != 1 %}
                                <div class="single">
                                    <div class="info">
                                        <a href="{{item.link}}"><h4 class="post-title">{{ item.title }}</h4></a>
                                        <div class="excerpt">
                                            {{item.preview.length(10).read_more(' ')}}
                                        </div>
                                        <span class="date">{{item.post_date | date('d.m.Y')}}</span>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                </div>

                <div class="container column v-center mt-30 center container-mobile" style="margin:30px 0;">
                    <a href="{{ poradniki_link }}" class="btn btn-blue">ZOBACZ WSZYSTKIE</a>
                </div>

                <div class="current-bonuses radius mobile-900" style="background-image:url('{{TimberImage(post.aktualne_bonusy_tlo_obrazek).src}}')">
                        <div class="text">
                        <h3 class="mobile-h3">Aktualne bonusy</h3>
                        </div>

                </div>

                <div class="current-bonuses radius" style="background-image:url('{{TimberImage(post.aktualne_bonusy_tlo_obrazek).src}}')">
                    <div class="text">
                        <p>
                            {{post.aktualne_bonusy_tekst}}
                        </p>
                    </div>

                    <div class="buttons">
                        {% for row in post.get_field('aktualne_bonusy_buttony') %}

                        <a href="{{ row.link_buttona }}" class="btn">
                            {{row.tekst_buttona}}
                        </a>
                        {% endfor %}
                    </div>
                </div>

                <div class="legal-bookmaker collapsable">
                    <div class="intro text-content">
                        {{post.legal_tekst_zajawka}}
                        <div class="expand-btn">Rozwiń <img src="/app/themes/legal/dist/images/chevron-bottom.png" alt="chevron"></div>
                        <div class="hidden-content"  style="display:none;">
                            {{post.legal_tekst_rozwijany}}
                        </div>
                    </div>
                </div>

            </div>
            <div class="sidebar" data-sticky-container >
                <div class="sidebar-wrapper sticky"  data-margin-top="20">
                    {% include "parts/sidebar.twig" %}


                </div>
            </div>
        </div>
    </div>



    {# {{ post.content }} #}

{% endblock %}
