{% extends "/layouts/news-single.twig" %}

{% block content %}
    <div class="sidebar-content double left-wider" style="background-color:transparent;">
        <div class="container ">
            <div class="content text-content bigger-padding-elements">
                {{post.content}}


                <h3 style="margin:20px 0 20px 0;">Najlepsze oferty dla Ciebie</h3>
                <section class="container cols-3 buks-boxes nopadding nohover" style="margin:30px 0;">
                    {% for item in kafelki_bukmacherzy %}
                        {% if loop.index <= 3 %}
                            <article class="single-col smaller-gap ">
                                <a class="single-wrap noafter" href="{{ item.link }}" style="display:block; padding-right:0;">
                                    <div class="top" style="max-height:100px;">
                                        <div class="background" style="width: 100%;
                                        height: 100%;background-color:{{ item.kolor_glowny_bukmachera }}">

                                            <img src="{{ TimberImage(item.tlo_pod_logo).src }}" alt="{{ TimberImage(item.tlo_pod_logo).post_title }}">
                                        </div>
                                        <div class="buk-logo">
                                            <img src="{{ TimberImage(item.logo).src }}" alt="{{ TimberImage(item.logo).post_title }}">
                                        </div>
                                    </div>
                                    <div class="middle" style="background-color:#28313B;display:flex;flex-flow:column;padding:10px 15px 10px 15px;">
                                        {% for item in item.get_field('wlasciwosci') %}
                                        {% if loop.index <= 3 %}
                                        <div class="single" style="padding:5px 0;">
                                          <img src="{{TimberImage(item.ikona).src | resize(30,30)}}" alt="{{ TimberImage(item.ikona).post_title }}" style="margin-right:5px;">
                                          <span style="color:white;font-size:13px;  ">{{item.tekst}}</span>
                                        </div>
                                        {% endif %}
                                      {% endfor %}
                                    </div>
                                    <div class="bottom shadow" style="padding-top:1px;border-top:1px solid black;background-color:#1A2026;padding-bottom:45px;">
                                        <div class="promocode bordered-dark shadow" style="color:{{ item.kolor_tekstu_bukmachera }}; position:initial; transform:translate(0); margin:10px 20px; border:none;background-color:#1A2026;justify-content:center;">
                                            <span>KOD</span> {{item.kod}}
                                        </div>
                                        <div class="rest">
                                            {% for single in item.get_field('kwoty') %}
                                            <div class="single">
                                                <div class="left">
                                                    {% if single.kwota_stara %}

                                                    <span class="old">
                                                        {{single.kwota_stara}}
                                                    </span>
                                                    {% endif %}

                                                    {{single.kwota_standard}}
                                                </div>
                                                <div class="right">
                                                   {{single.opis}}
                                                </div>
                                            </div>
                                            {% endfor %}

                                        </div>
                                        <a href="{{ item.link_odbierz }}" class="btn btn-arrow shadow">
                                            {{item.tekst_button_odbierz}}
                                        </a>
                                    </div>
                                </a>
                            </article>
                        {% endif %}
                    {% endfor %}
                </section>

                {% include "parts/related.twig" %}

            </div>
            <div class="sidebar wider " data-sticky-container  >
                <div class="sidebar-wrapper sticky"  data-margin-top="80">
                    {% include "parts/sidebar.twig" %}

                </div>
            </div>
        </div>
    </div>


    {# {{ post.content }} #}

{% endblock %}
