{% extends "/layouts/poradnik.twig" %}

{% block content %}
    <div class="sidebar-content double left-wider changepadding ">
        <div class="container ">
            <div class="sidebar context chapters" data-sticky-container  >
                <div class="sidebar-wrapper sticky chapters context-list"  data-margin-top="80">
                    {% for item in headings_list %}
                    <li class="chapter {% if loop.index == 1 %} active {% endif %} go-to-id">
                        <a href="#{{ item.id }}" class="{{ item.id }}">{{ item.title }}</a>
                    </li>

                    {% endfor %}

                </div>
            </div> 
            <div class="content text-content ">
                <div class="override-width">
                    {{ function('do_shortcode', '[toc]') }}
                    {{post.content}}

                </div>
            </div>
            <div class="sidebar" data-sticky-container  >
                <div class="sidebar-wrapper sticky"  data-margin-top="80">
                    {% include "parts/sidebar.twig" %}

                </div>
            </div>
        </div>

    </div>

    <div class="sidebar-content">
        <div class="container">
            <div class="posts-mosaic" style="margin-top:50px;">
                <div class="title-border">
                    <h3>Poradniki</h3>
                </div>
                <div class="posts">
                    <div class="left">
                        {% for item in poradnik_main %}
                            <div class="single">
                            <div class="excerpt-mobile" style="display:none">
                                <a href="{{item.link}}">{{item.title}}</a>
                            </div>
                                <div class="image text-overlay">
                                    <a href="{{item.link}}"><img src="{{ TimberImage(item.thumbnail).src | resize(580, 380) }}" class="radius" alt="{{ TimberImage(item.thumbnail).post_title }}">
                                    </a>
                                    <div class="overlay radius">
                                        <div class="excerpt">
                                            <a href="{{item.link}}">{{item.title}}</a>
                                            {{item.preview.length(30).read_more(' ')}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="right">
                        {% for item in poradniki %}
                            <div class="single w-image poradnik">
                                <div class="image">
                                    <a href="{{item.link}}"><img src="{{ TimberImage(item.thumbnail).src | resize(160, 160) }}" alt="{{ TimberImage(item.thumbnail).post_title }}">
                                        <div class="overlay radius">

                                        </div>
                                    </a>
                                </div>
                                <div class="info">
                                    <a href="{{item.link}}"><h3 class="post-title">{{ item.title }}</h3></a>
                                    <div class="excerpt">
                                        {{item.preview.length(10).read_more(' ')}}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>

    <style>
        body .sidebar-content.double .content iframe{
            max-width:100%;
        }

        .content .override-width{
            max-width: 770px!important;
        }

        @media all and (max-width:1460px){
            .content .override-width{
                max-width: 650px!important;
            }
        }
        @media all and (max-width:1360px){
            .sidebar-wrapper{
                display:none!important;
            }
            body #toc_container, body .crp_related{
                display:block!important;
            }
        }
        @media all and (max-width:1060px){
            body .sidebar-content.changepadding{
                padding-top:0;
                margin-top:-10px;
            }
            body .buks-table .table .row{
                flex-flow:row wrap!important;
            }

            .content .override-width{
                max-width:100%!important;
            }

        }

        body.postid-8773 .sidebar-content .sidebar .sidebar-wrapper.chapters .chapter:nth-child(1),
        body.postid-8773 .sidebar-content .sidebar .sidebar-wrapper.chapters .chapter:nth-child(15){
            text-decoration:underline;
        }
        body .text-content .wp-block-table{
            width:100%;
            max-width:100%;
        }

        body .buks-table .table .row{
            flex-flow:row;
        }

        body .buks-table .table .row .score-vote{
            display:none!important;
        }
        body .text-content .override-width .buks-table .row .bulletpoints{
            margin-left:20px;
        }

        body .sidebar-content .content ul.toc_list li:before, body .sidebar-content .content ol.toc_list li:before{
            display:none;
        }
        body .sidebar-content .content #toc_container li a:after, body .sidebar-content .content #toc_container a:after{
            display:none!important;

        }


    </style>
    {# {{ post.content }} #}

    <script type="application/ld+json">
        {
            "@context":"http:\/\/schema.org\/",
            "@type":"Episode",
            "name":"{{ post.title }}",
            "aggregateRating":{
                "@type":"AggregateRating",
                "ratingValue":5,
                "reviewCount": 4
            }
            }
    </script>
{% endblock %}
