{% extends "/layouts/blank.twig" %}

{% block content %}

<div class="sidebar-content double">
    <div class="container ">
        <div class="content text-content">
            <div class="title-border">
                <h3>{{ tag.name }}</h3>
            </div>
            <div class="posts-mosaic archive">
                {% for chunk in chunks %}

                <div class="posts">
                    {% for post in chunk %}

                    <div class="left" style="width:100%;">
                        <div class="single">
                            <div class="image"><a href="{{post.link}}"><img
                                        src="{{ TimberImage(post.thumbnail).src | resize(450, 200) }}" alt="{{ TimberImage(post.thumbnail).post_title }}"></a></div>
                            <a href="{{post.link}}">
                                <h3 class="post-title">{{post.title}}</h3>
                            </a>

                            <div class="info">
                                <div class="excerpt" style="display:none;">
                                    {{post.preview.length(10).read_more(' ')}}
                                </div>
                                <a class="author" href="{{function('get_author_posts_url', post.post_author)}}">
                                    <div class="image">
                                        <img src="{{ function('get_avatar_url', post.post_author )}}" alt="Post author avatar" style="width:40px;height:40px;">
                                    </div>
                                    <div class="info">
                                        <span
                                            class="author-name">{{ function('get_the_author_meta','user_nicename', post.post_author ) }}</span>
                                        <span class="date">{{post.post_date | date('d.m.Y')}}</span>

                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}

            </div>

            <div class="text-content">
               123 {{ tag.description }}
            </div>

            <div class="navi-holder">
                <div class="wp-pagenavi orange">
                  {{wp_pagenavi}}
                </div>
              </div>

        </div>
        <div class="sidebar" data-sticky-container>
            <div class="sidebar-wrapper sticky" data-margin-top="80">
                <a class="simple-sidebar" href="{{ function('get_the_permalink', 4582) }}" class="simple-sidebar" style="background-image:url(/app/themes/legal/assets/images/sidebar-own.png)">
                    <button href="" class="btn btn-transparent" style="visibility:hidden"></button>

                      <img src="{{TimberImage(options.logo).src | resize(130,0)}}" alt="{{ TimberImage(options.logo).post_title }}" style="max-width:initial;">
                      <button href="" class="btn btn-black">RANKING BUKMACHERÓW</button>
                </a>

            </div>
        </div>
    </div>
</div>



{# {{ post.content }} #}

{% endblock %}
