{% extends "/layouts/blank.twig" %}

{% block content %}

<div class="container archive-filters column">
    <h2>{{ post.title }}</h2>
    {% if powiazane_tagi %}
    <div class="filters">
        <span>Filtruj</span>
        {% for tag in powiazane_tagi %}
        <a href="{{ function('get_tag_link', tag.tag.term_id ) }}" class="btn btn-blue">{{tag.tag.name}}</a>
        {% endfor %}
    </div>
    {% endif %}
</div>


<div class="sidebar-content double">
    <div class="container ">
        <div class="sidebar chapters" data-sticky-container>
            <div class="sidebar-wrapper sticky chapters context-list" data-margin-top="80">
                {% for tag in powiazane_tagi %}

                <li class="chapter {% if loop.index == 1 %} active {% endif %}">
                    <a href="#{{ tag.tag.slug }}" class="{{ tag.tag.slug }}">
                        <span>{{ tag.podtytul }}</span>
                        <p>{{ tag.tag.name }}</p>
                    </a>
                    </li>

                    {% endfor %}

            </div>
        </div>
        <div class="content text-content">
            {% for tag in powiazane_tagi %}
            <div id="{{tag.tag.slug}}" class="chapter-title" style="margin-top:0;">
                <span>{{tag.podtytul}}</span>
                <h3>{{tag.tag.name}}</h3>
            </div>
            <div class="posts-mosaic archive poradniki">
                <div class="posts">
                    {% for post in tag.posts %}
                    {% if loop.index == 1 or loop.index == 2 %}
                    <div class="left">
                        <div class="single">
                            <div class="image"><a href="{{post.link}}"><img
                                        src="{{ TimberImage(post.thumbnail).src | resize(450, 200) }}" class="radius" alt="{{ TimberImage(post.thumbnail).post_title }}"></a></div>
                            <a href="{{post.link}}">
                                <h3 class="post-title">{{post.title}}</h3>
                            </a>

                            <div class="info">
                                <div class="excerpt" style="display:none;">
                                    {{post.preview.length(10).read_more(' ')}}
                                </div>
                                <a class="author" href="{{function('get_author_posts_url', post.post_author)}}">
                                    <div class="image">
                                        <img src="{{ function('get_avatar_url', post.post_author )}}" alt="author avatar" style="width:40px;height:40px;">
                                    </div>
                                    <div class="info">
                                        <span
                                            class="author-name">{{ function('get_the_author_meta','user_nicename', post.post_author ) }}</span>
                                        <span class="date">{{post.post_date | date('d.m.Y')}}</span>

                                    </div>
                                </a>
                            </div>
                            <div class="btn-holder" style="margin-top:15px;display:none" >
                                <a href="{{ post.link }}" class="btn on-hover" >CZYTAJ WIĘCEJ</a>

                            </div>

                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            {% if tag.posts|length >= 4 %}


            <div class="posts-mosaic archive poradniki">
                <div class="posts">
                    {% for post in tag.posts %}
                    {% if loop.index == 3 or loop.index == 4 %}
                    <div class="left">
                        <div class="single">
                            <div class="image"><a href="{{post.link}}"><img
                                        src="{{ TimberImage(post.thumbnail).src | resize(450, 200) }}" alt="{{ TimberImage(post.thumbnail).post_title }}" class="radius"></a></div>
                            <a href="{{post.link}}">
                                <h3 class="post-title">{{post.title}}</h3>
                            </a>

                            <div class="info">
                                <div class="excerpt" style="display:none;">
                                    {{post.preview.length(10).read_more(' ')}}
                                </div>
                                <a class="author" href="{{function('get_author_posts_url', post.post_author)}}">
                                    <div class="image">
                                        <img src="{{ function('get_avatar_url', post.post_author )}}" alt="author avatar" style="width:40px;height:40px;">
                                    </div>
                                    <div class="info">
                                        <span
                                            class="author-name">{{ function('get_the_author_meta','user_nicename', post.post_author ) }}</span>
                                        <span class="date">{{post.post_date | date('d.m.Y')}}</span>

                                    </div>
                                </a>
                            </div>

                            <div class="btn-holder" style="margin-top:15px;display:none" >
                                <a href="{{ post.link }}" class="btn on-hover" >CZYTAJ WIĘCEJ</a>

                            </div>

                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>



            </div>
            {% endif %}


            <div class="" style="margin:30px auto;">
                <a href="{{ function('get_tag_link', tag.tag.term_id ) }}" class="btn btn-blue"
                    style="margin:0 auto;display:block;">ZOBACZ WSZYSTKIE</a>
            </div>

            {% endfor %}

        </div>
        <div class="sidebar" data-sticky-container>
            <div class="sidebar-wrapper sticky" data-margin-top="80">
                {% include "parts/sidebar.twig" %}

            </div>
        </div>
    </div>
</div>


<style>
    @media all and (max-width:1360px){
        .sidebar-wrapper.chapters{
            display:none!important;
        }
    }
    @media all and (max-width:1360px){
        body .sidebar-content .sidebar .simple-sidebar{
            display:none!important;
        }
        body .archive-filters{
            margin-bottom:0!important;
        }
    }
</style>
{# {{ post.content }} #}

{% endblock %}
