{% extends "/layouts/porownanie.twig" %}

{% block content %}


<div class="sidebar-content double left-wider  "> 
    <div class="container ">
        <div class="sidebar context chapters" data-sticky-container  >
            <div class="sidebar-wrapper sticky chapters context-list"  data-margin-top="80">
                {% for item in headings_list %}
                <li class="chapter {% if loop.index == 1 %} active {% endif %} go-to-id">
                    <a href="#{{ item.id }}" class="{{ item.id }}">{{ item.title }}</a>
                </li>
                    
                {% endfor %}

            </div>
        </div>
        <div class="content text-content bigger-padding-elements">  
                {{post.content}}
        </div>
    </div>

</div>

<style>
    @media screen and (max-width: 800px) {
        .verdict-bar{
            margin:15px 0!important;
            margin-top: 70px!important;
        }

        .verdict-bar>div .stars{
            padding:20px 10px!important;
        }

        .verdict-bar .verdict-header{
            min-width:106px;
        }

    }
    .verdict-bar .verdict-header{
        min-width:106px;
    }
</style>


    {# {{ post.content }} #}
 
{% endblock %}
