{% extends "/layouts/base.twig" %}

{% block content %}

    <div class="sidebar-content">
        <div class="container ">
            <div class="content text-content ">
                <section class="buks-table">
                    <div class="text-content">
                        {{post.tekst_wstep}}
                    </div>

                    <div class="table">
                        {% for row in lista_bukmacherow %}
                            <div class="row">
                                <div class="index">
                                    {{loop.index}}
                                </div>
                                <div class="logo" style="background:{{ row.kolor_glowny_bukmachera }}">
                                    <img src="{{ TimberImage(row.logo).src | resize(140,0) }}" alt="{{ TimberImage(row.logo).post_title }}">
                                </div>
                                <div class="score-vote">
                                <div class="score">
                                    <span class="count">{{row.ilosc_glosow_tabelka}}&nbsp;</span> głosów
                                </div>
                                <div class="vote">
                                    <span class="vote-btn">
                                    </span>
                                </div>
                                </div>
                                <div class="bulletpoints">
                                <content class="bulletpoints-content">
                                    {{row.bulletpointy_tabelka}}
                                </content>
                                <content class="more-info">
                                <button class="btn-info" style="display: none;">
                                wiecej informacji </button>
                                <a href="{{ function('get_kod_link_by_recenzja_id', row.id) }}" class="grey grey-mobile" style="text-align:center;">BONUS INFO</a>
                                </content>
                                </div>

                                <div class="prices">
                                    <span class="old">
                                        {{row.kwota_przed_tabelka}}
                                    </span>
                                    <div class="price">
                                    <span class="new">
                                        {{row.kwota_po_tabelka}}
                                    </span>

                                    </div>
                                </div>
                                <div class="buttons">
                                    <a href="{{ row.link_odbierz }}" class="btn" style="width:100%; text-align:center;">ODBIERZ</a>
                                    <a href="{{ function('get_kod_link_by_recenzja_id', row.id) }}" class="grey"  style="width:100%; text-align:center;">BONUS INFO</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>

                <div class="table-date">
                    Aktualizacja {{ first_month_day | date('d F Y')}}
                </div>

                <div style="max-width:730px; margin:0 auto;">
                    {{post.tekst_miedzy_tabelkami}}

                </div>
            </div>
            <div class="sidebar sidebar-off" data-sticky-container >
                <div class="sidebar-wrapper sticky"  data-margin-top="20">
                    {% include "parts/sidebar.twig" %}

                </div>
            </div>
        </div>
    </div>

    <div class="sidebar-content subheader " style="background-image:url(/app/themes/legal/dist/images/subh.png)">
        <div class="container mobile-block">
            <div class="content container column v-center">
                {{post.text_przerywnik}}

                <a href="{{ post.przerywnik_button_link }}" class="btn btn-blue">{{post.przerywnik_button_tekst}}</a>

            </div>
            <div class="sidebar"></div>
        </div>
    </div>

    <div class="sidebar-content">
        <div class="container">
            <div class="content">
        <h2 style="text-align:center">
            {{post.duzy_naglowek_po_przerywniku}}
        </h2>
            </div>
        </div>
    </div>
    <div class="title-menu shadow-bottom radius">
        <div class="container">
            <ul class="context-menu context-list">


                {% for heading in context_list %}
                <li class=" {% if loop.index == 1 %} active {% endif %}">
                    <a href="#{{ heading.id }}" class="{{heading.id}}" >
                        {{heading.name}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>


    <div class="sidebar-content">
        <div class="container ">

            <div class="content text-content " >
                <div class="override-width">
                    {{ post.content }}
                </div>


                {% include "parts/related.twig" %}


            </div>
            <div class="sidebar sidebar-off" data-sticky-container  >
                <div class="sidebar-wrapper sticky"  data-margin-top="80">
                    {% include "parts/sidebar.twig" %}

                </div>
            </div>
        </div>
    </div>



    {# {{ post.content }} #}
    <style>
        .override-width{
            max-width:730px!important; margin:0 auto!important;
        }

        @media all and (max-width:860px){
            body .container.mobile-block{
                display:block;
            }
               .sidebar-content.subheader strong{
                text-align:center;
            }
        }

            .sidebar-content.subheader .btn{
                margin-top:20px!important;
            }

        .sidebar-content.subheader strong{
                color:#101F3C;
                font-size:20px;
                t
            }

        @media screen and (max-width: 1360px){
            .sidebar-content.subheader{
                margin-top:30px!important;
                padding-top:30px!important;
            }
        }
    </style>
    <script type="application/ld+json">
        {
            "@context":"http:\/\/schema.org\/",
            "@type":"Review",
            "name":"{{ post.title }}",
            "itemReviewed": {
                "@type": "Product",
                "name":"{{ post.title }}",
                "aggregateRating": {
                    "@type": "AggregateRating",
                    "ratingValue": "5",
                    "reviewCount": "4"
                  }
            },
            "reviewRating": {
                "@type": "Rating",
                "ratingValue": "5"
              },
            "author": {
            "@type": "Organization",
            "name": "bukmacher-legalny.pl"
            }
        }
    </script>
{% endblock %}
