{% extends "/layouts/recenzja.twig" %}

{% block content %}


    <div class="title-menu shadow-bottom radius">
        <div class="container">
            <a class="logo" href="{{ site.url }}" style="display:none">
                <img src="{{TimberImage(post.logo_do_menu_contextowego).src | resize(0,30)}}" alt="{{ TimberImage(post.logo_do_menu_contextowego).post_title }}">
              </a>
            <ul class="context-menu context-list">

                {% for heading in context_list %}
                <li class=" {% if loop.index == 1 %} active {% endif %}">
                    <a href="#{{ heading.id }}" class="{{heading.id}}" >
                        {{heading.name}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>

    <div class="sidebar-content">
        <div class="container ">
            <div class="content text-content arrows bigger-padding">
                <table class=" white-bars">
                    <tbody style="border:none;">
                        {% for item in kod_bonusowy.get_field('belki') %}
                        <tr class="single radius shadow-bottom">
                            <td class="left">
                                {{item.lewy_tekst}}
                            </td>
                            <td class="right"> 
                                {{item.prawy_tekst}}
                            </td>
                        </tr>
    
                        {% endfor %}
                    </tbody>
                </table>
                        {{post.content}}

                        <!-- <div class="table-comparison">
                            <h3>Porównaj zanim zagrasz</h3>

                            <div class="table">
                                <table border="0">
                                    <tr>
                                        <td style="background:#F7F9FD"></td>
                                        <td style="background-color:#FFD902;">
                                            <img src="/app/themes/legal/dist/images/fortuna-big.png" alt="">

                                            <a href="#" class="bordered radius noafter">SPRAWDŹ OPINIE</a>
                                        </td>
                                        <td style="background-color:#FFD902;">
                                            <img src="/app/themes/legal/dist/images/fortuna-big.png" alt="">
                                            <a href="#" class="bordered radius noafter">SPRAWDŹ OPINIE</a>

                                        </td>
                                        <td style="background-color:#FFD902;">
                                            <img src="/app/themes/legal/dist/images/fortuna-big.png" alt="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            OFERTA
                                        </td>
                                        <td>
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star-dark.png" alt="">
                                        </td>
                                        <td>
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star-dark.png" alt="">
                                        </td>
                                        <td>
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star-dark.png" alt="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            KURSY
                                        </td>
                                        <td>
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star-dark.png" alt="">
                                        </td>
                                        <td>
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star-dark.png" alt="">
                                        </td>
                                        <td>
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star-dark.png" alt="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            BONUSY
                                        </td>
                                        <td>
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star-dark.png" alt="">
                                        </td>
                                        <td>
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star-dark.png" alt="">
                                        </td>
                                        <td>
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star-dark.png" alt="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            PŁATNOŚCI
                                        </td>
                                        <td>
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star-dark.png" alt="">
                                        </td>
                                        <td>
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star-dark.png" alt="">
                                        </td>
                                        <td>
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star-dark.png" alt="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            OBSŁUGA KLIENTA
                                        </td>
                                        <td>
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star-dark.png" alt="">
                                        </td>
                                        <td>
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star-dark.png" alt="">
                                        </td>
                                        <td>
                                            <img src="/app/themes/legal/dist/images/orange-star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/orange-star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/orange-star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/orange-darker-star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/orange-darker-star.png" alt="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            UX & MOBILE
                                        </td>
                                        <td>
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star-dark.png" alt="">
                                        </td>
                                        <td>
                                            <img src="/app/themes/legal/dist/images/red-star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/red-star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/red-darker-star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/red-darker-star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/red-darker-star.png" alt="">
                                        </td>
                                        <td>
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star-dark.png" alt="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="green">
                                            OCENA
                                        </td>
                                        <td>
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star-dark.png" alt="">
                                        </td>
                                        <td>
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star-dark.png" alt="">
                                        </td>
                                        <td>
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            <img src="/app/themes/legal/dist/images/star-dark.png" alt="">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div> -->

                        <div class="under-post-reviews text-content">

                            <h3>Opinie</h3>

      {% if hide_review_form %}

                            <div class="header-rate-buk shadow radius">
                                <div class="left">
                                    <div class="avatar">
                                      <img src="/app/themes/legal/dist/images/avatar-blank.png" alt="">
                                    </div>
                                    <span>OCEŃ BUKMACHERA</span>
                                    <div class="stars user-rate form-stars scrollToReview" data-rating="0" >
                                        <img src="/app/themes/legal/dist/images/star.png" alt="">
                                        <img src="/app/themes/legal/dist/images/star.png" alt="">
                                        <img src="/app/themes/legal/dist/images/star.png" alt="">
                                        <img src="/app/themes/legal/dist/images/star.png" alt="">
                                        <img src="/app/themes/legal/dist/images/star.png" alt="">
                                      </div>
                                </div>

                                <div class="right">
                                  <a href="#dodajOpinie" class="btn btn-black scrollToReview">
                                    SPRAWDŹ OPINIE
                                  </a>
                                </div>
                            </div>
                            {% endif %}
                            {% for review in reviews %}

                            <div class="single-review shadow radius">
                                    <div class="about">
                                        <img src="/app/themes/legal/dist/images/avatar-grey.png" alt="">
                                        <div class="date">
                                            {{review.post_date | date('d.m.Y')}}
                                        </div>
                                        <div class="name">
                                            {{review.custom.name}}
                                        </div>
                                        <div class="stars" data-stars="{{ review.ilosc_gwiazdek }}" >
                                            {% set count = review.ilosc_gwiazdek %}
                                            {% for i in 1 .. count %}
                                              <img src="/app/themes/legal/dist/images/star.png" alt="">
                                            {% endfor %}
                                            {% if review.ilosc_gwiazdek != 5 %}
                                            {% set count = 5 - review.ilosc_gwiazdek %}
                                            {% for i in 1 .. count %}
                                              <img src="/app/themes/legal/dist/images/star-dark.png" alt="">
                                            {% endfor %}
                                            {% endif %}

                                          </div>
                                    </div>

                                    <div class="content">
                                        <div class="positive">
                                            {{review.pozytywna_opinia}}
                                        </div>

                                        <div class="negative">
                                            {{review.negatywna_opinia}}

                                        </div>
                                    </div>

                            </div>

                            {% endfor %}

                            {% if hide_review_form %}



                            <form class="add-review" id="dodajOpinie">
                                <div class="rate">
                                    <span>OCEŃ BUKMACHERA</span>
                                    <div class="stars user-rate form-stars" data-rating="0" >
                                        <img src="/app/themes/legal/dist/images/star.png" alt="">
                                        <img src="/app/themes/legal/dist/images/star.png" alt="">
                                        <img src="/app/themes/legal/dist/images/star.png" alt="">
                                        <img src="/app/themes/legal/dist/images/star.png" alt="">
                                        <img src="/app/themes/legal/dist/images/star.png" alt="">
                                      </div>
                                </div>

                                <div class="textarea-wrap pros">
                                    <textarea name="message-positive" id="" cols="30" placeholder="Plusy"></textarea>
                                </div>
                                <div class="textarea-wrap cons">
                                    <textarea name="message-negative" id="" cols="30" placeholder="Minusy"></textarea>
                                </div>

                                <div class="author" style="justify-content:flex-end">
                                    <!-- <img src="/app/themes/legal/dist/images/avatar-grey.png" alt=""> -->
                                    <!-- <span class="green">dodaj avatar</span> -->
                                    <input type="hidden" name="post_id" value="{{post.ID}}">
                                    <input type="hidden" name="rate" value="5">
                                    <input type="text" name="name" placeholder="Imię" id="">
                                    <button class="btn" type="button">DODAJ OPINIĘ</button>
                                </div>
                            </form>

                            {% endif %}
                        </div>



            </div>
            <div class="sidebar wider" data-sticky-container  >
                <div class="sidebar-wrapper sticky"  data-margin-top="80">
                    {% include "parts/sidebar.twig" %}
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar-content">
        <div class="container ">
            <div class="content text-content ">
                {% include "parts/related.twig" %}

                </div>
                <div class="sidebar" data-sticky-container  >
                    <div class="sidebar-wrapper sticky"  data-margin-top="80">
                    </div>
                </div>
</div>
</div>
<script type="application/ld+json">
    {# {
        "@context":"http:\/\/schema.org\/",
        "@type":"Product",
        "name":"{{ post.title }}",
        "aggregateRating":{
            "@type":"AggregateRating",
            "ratingValue":"{{ post.bukmacher_ocena }}",
            "reviewCount":98
        }
    } #}
    {% for review in reviews %}
    {
        "@context":"http:\/\/schema.org\/",
        "@type": "Review",
        "author": "{{review.custom.name}}",
        "reviewBody": "{{review.pozytywna_opinia}}",
        "itemReviewed": {
            "@type": "Organization",
            "name": " {{post.name}}"
            },
        "reviewRating": {
          "@type": "Rating",
          "bestRating": "5",
          "ratingValue": "{{ review.ilosc_gwiazdek }}",
          "worstRating": "0"
        } 

      }{% if loop.index <= reviews|length %},{% endif %}

      

    {% endfor %}

</script>
<!-- <script>
    $ = jQuery;
    $('#dodajOpinie button').click(function () {
      $('#dodajOpinie button').addClass('loading').html('<i class="fa fa-spinner fa-spin" style="color:white;"></i>');
        jQuery.ajax({
          url: '{{ function('admin_url', 'admin-ajax.php') }}',
          data: {
            action: 'ajax_save_review',
            data: $('#dodajOpinie').serialize()
          },
          type: 'POST',
          success: function (data) {
            var info = JSON.parse(data);
            $('#dodajOpinie button').removeClass('loading').html('DODAJ OPINIĘ');
            new Noty({
              type: info.type,
              text: info.message,
              progressBar: true,
              theme: 'mint',
              timeout: 3000
            }).show();
            if (info.type == "success") {
              $('#dodajOpinie').remove();
              setCookie('BlockReview', getCookie('BlockReview') + ',' + info.post_id, 365);
            }
          }
        });
      });
      $('.user-rate img').click(function (e) {
          e.stopImmediatePropagation();
        var count = Number($(this).prevAll('img').length) + 1;
        $('.user-rate').removeClass(function (index, className) {
          return (className.match(/(^|\s)active-\S+/g) || []).join(' ');
        });
        $('.user-rate').addClass('active-' + count).attr('data-rating', count);
        $('#dodajOpinie input[name="rate"]').val(count);
      }
      );
  
</script> -->



    {# {{ post.content }} #}

{% endblock %}
