{% extends "/layouts/blank.twig" %}

{% block content %}
    <div class="sidebar-content double left-wider changepadding "> 
        <div class="container ">
            <div class="content text-content " style="max-width:100%; padding-right:0;">  
                <div class="override-width">
                    {{post.content}}
                </div>              
            </div>
        </div>
    </div>
    <style>
        .override-width{
            max-width:800px;
            margin:0 auto;
        }
    </style>
{% endblock %}
