{% extends "/layouts/blank.twig" %}

{% block content %}

<div class="container" data-equalizer>
  <ul class=" left">
    {% for item in main_menu.items %}
    <li class="nav-main-item {{ item.classes|join(' ') }}">
      <a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
      {% if item.children %}
      <ul class="nav-drop">
        {% for child in item.children %}
        <li class="nav-drop-item">
          <a href="{{ child.link }}"><span>{{ child.title }}</span></a>
        </li>

        {% endfor %}
      </ul>
      {% endif %}
      {% if item.id  == 7240 %}
        <ul class="nav-drop">
          {% for child in poradniki %}
            {{ function('generate_li_element_sitemap', child) }}
          {% endfor %}
        </ul>
      {% endif %}
      {% if item.id  == 7446 %}
        <ul class="nav-drop">
          {% for child in typy %}
          <!-- <li class="nav-drop-item">
            <a href="{{ child.link }}"><span>{{ child.title }}</span></a>
          </li> -->
          {{ function('generate_li_element_sitemap', child) }}
          {% endfor %}
        </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
