{% extends "/layouts/blank.twig" %}

{% block content %}

<div class="container archive-filters column">
    <h2>{{ post.title }}</h2>
    {% if powiazane_tagi %}

    <div class="filters">
        <span>Filtruj</span>
        {% for tag in powiazane_tagi %}
        <a href="{{ function('get_tag_link', tag.tag.term_id ) }}" class="btn btn-blue">{{tag.tag.name}}</a>
        {% endfor %}
    </div>

    {% endif %}

{% if show_description %}
    <div class="text-content" style="margin-top:20px;">
        {{post.tekst_gora}}
    </div>
{% endif %}

</div>


<div class="sidebar-content ">
    <div class="container ">
        <div class="content ">
            <div class="posts-columns single-bordered xyz">
                <div class="title-border">
                    <h3>{{ post.title }}</h3>
                </div>
                <div class="container nopadding cols-3 flex-start typ">
                    {% for item in typy %}

                    <div class="single-col">
                        <div class="image"> <a
                                href="{{ item.link }}">
                                <img src="{{ TimberImage(item.thumbnail).src | resize(315, 210) }}" alt="{{ TimberImage(item.thumbnail).post_title }}">
                                <div class="cover"></div>
                            </a></div>
                            {% if item.tags.0 %}

                            <a href="{{ function('get_tag_link', item.tags.0.term_id ) }}" class="btn btn-black smaller-padding" style="display:block;margin-bottom:10px;">{{ item.tags.0.name }}</a>
                            {% endif %}

                        <div class="title">
                            <a
                                href="{{ item.link }}"> {{ item.title }} </a></div>
                        <div class="date"> <span class="date">{{item.post_date | date('d.m.Y')}}</span></div>
                        <div class="excerpt"> {{post.preview.length(10).read_more(' ')}}
                            <a
                                href="{{item.link}}"
                                class="read-more">Więcej</a></div>
                        <div class="additional shadow radius">
                            {% for kurs in item.get_field('kursy') %}
                                {% if loop.index == 1 %}
                                <div class="rate"> {{kurs.kurs}}</div>
                                <div class="text"> {{kurs.typ}}</div>
                                <div class="logo"> <img src="{{ TimberImage(kurs.bukmacher.male_logo).src }}" alt="{{ TimberImage(kurs.bukmacher.male_logo).post_title }}"> </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="navi-holder">
                <div class="wp-pagenavi orange">
                  {{wp_pagenavi}}
                </div>
              </div>
              {% if show_description %}

              <div class="legal-bookmaker collapsable">
                <div class="intro">
                    {{ post.tekst_rozwijany_zajawka }}
                    <div class="expand-btn">Rozwiń <img src="/app/themes/legal/dist/images/chevron-bottom.png" alt="bottom chevron"></div>
                    <div class="hidden-content"  style="display:none;">
                        {{post.tekst_rozwijany}}
                    </div>
                </div>
            </div>

            {% endif %}
        </div>
        <div class="sidebar" data-sticky-container>
            <div class="sidebar-wrapper sticky" data-margin-top="80">
                {% include "parts/sidebar.twig" %}

            </div>
        </div>
    </div>
</div>



{# {{ post.content }} #}

{% endblock %}
