{% extends "/layouts/blank.twig" %}

{% block content %}

<div class="sidebar-content ">
    <div class="container ">
        <div class="content ">
            <div class="posts-columns single-bordered">
                <div class="title-border">
                    <h3>{{ tag.name }}</h3>
                </div>
                <div class="container nopadding cols-3 flex-start typ">
                    {% for item in posts %}

                    <div class="single-col">
                        <div class="image"> <a
                                href="{{ item.link }}">
                                <img src="{{ TimberImage(item.thumbnail).src | resize(315, 210) }}" alt="{{ TimberImage(item.thumbnail).post_title }}">
                                <div class="cover"></div>
                            </a></div>
                            {% if  item.tags.0 %}

                            <a href="{{ function('get_tag_link', item.tags.0.term_id ) }}" class="btn btn-black smaller-padding" style="display:block;margin-bottom:10px;">{{ item.tags.0.name }}</a>
                            {% endif %}

                        <div class="title">
                            <a
                                href="{{ item.link }}"> {{ item.title }} </a></div>
                        <div class="date"> <span class="date">{{item.post_date | date('d.m.Y')}}</span></div>
                        <div class="excerpt"> {{post.preview.length(10).read_more(' ')}}
                            <a
                                href="{{item.link}}"
                                class="read-more">Więcej</a></div>
                        <div class="additional shadow radius">
                            {% for kurs in item.get_field('kursy') %}
                                {% if loop.index == 1 %}
                                <div class="rate"> {{kurs.kurs}}</div>
                                <div class="text"> {{kurs.typ}}</div>
                                <div class="logo"> <img src="{{ TimberImage(kurs.bukmacher.male_logo).src }}" alt="{{ TimberImage(kurs.bukmacher.male_logo).post_title }}"> </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="text-content">
                {{tag.description}}
             </div>
            <div class="navi-holder">
                <div class="wp-pagenavi orange">
                  {{wp_pagenavi}}
                </div>
              </div>
        </div>
        <div class="sidebar" data-sticky-container>
            <a class="simple-sidebar" href="{{ function('get_the_permalink', 4582) }}" class="simple-sidebar" style="background-image:url(/app/themes/legal/assets/images/sidebar-own.png)">
                <button href="" class="btn btn-transparent" style="visibility:hidden"></button>

                  <img src="{{TimberImage(options.logo).src | resize(130,0)}}" alt="{{ TimberImage(options.logo).post_title }}" style="max-width:initial;">
                  <button href="" class="btn btn-black">RANKING BUKMACHERÓW</button>
                </a>

        </div>
    </div>
</div>



{# {{ post.content }} #}

{% endblock %}
