{% extends "/layouts/typ-single.twig" %}

{% block content %}
<div class="sidebar-content" style="padding-bottom:0;background-color:transparent">
    <div class="container mobile-block">
        <div class="content header-typy container column">
            <div class="tags">

        {% for tag in post.tags %}
                <a href="{{ function('get_tag_link', tag.term_id ) }}" class="btn btn-black">{{tag.name}}</a>
        {% endfor %}
    </div>

        <h2>{{ post.title }}</h2>

            <a class="author" href="{{  function( 'get_author_posts_url', post.post_author) }}">  
                <time datetime="{{post.post_date | date('Y-m-d')}}" class="date">{{ post.post_date | date('d.m.Y')}}</time>

                <div class="image" style="margin-right:0;">
                    <img src="{{ function('get_avatar_url', post.post_author )}}" alt="author avatar" style="width:40px;height:40px;">
                </div>
                <div class="info">
                    <span class="author-name" style="color:#101f3c;">{{ function('get_the_author_meta','user_nicename', post.post_author ) }}</span>
                </div>
            </a>
        </div>
        <div class="sidebar"></div>
    </div>
</div>


    <div class="sidebar-content " style="background-color:transparent;">
        <div class="container ">
            <div class="content text-content bigger-padding">
                <div class="event-info radius">
                    <div class="single">
                        Data: <b>{{ post.data_wydarzenia | date('d.m.Y') }}</b>

                    </div>
                    <div class="single">
                        Godzina: <b>{{ post.godzina_wydarzenia }}</b>

                    </div>

                    <div class="single">
                        Miejsce: <b>{{post.miejsce_wydarzenia}}</b>

                    </div>
                </div>

                <div class="bet-bar">
                    {% for item in post.get_field('kursy') %}

                    <div class="single radius shadow ">
                        <div class="number">
                            {{item.kurs}}
                        </div>
                        <div class="text">
                            {{item.typ}}
                        </div>
                        <div class="logo">
                            <img src=" {{ TimberImage(item.bukmacher.male_logo).src | resize(0, 36) }} " alt="{{ TimberImage(item.bukmacher.male_logo).post_title }}">
                        </div>
                        <div class="buttons">
                            <a href="{{item.bukmacher.go_link}}" class="btn">GRAJ</a>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <div class="wp-block-image"><img src="{{ TimberImage(post.thumbnail).src }}" alt="{{ TimberImage(post.thumbnail).post_title }}"></div>
                   {{post.content}}

                <div class="event-info radius">
                    <div class="single">
                        Data: <b>{{ post.data_wydarzenia | date('d.m.Y')}}</b>

                    </div>
                    <div class="single">
                        Godzina: <b>{{ post.godzina_wydarzenia }}</b>

                    </div>

                    <div class="single">
                        Miejsce: <b>{{post.miejsce_wydarzenia}}</b>

                    </div>
                </div>

                <div class="bet-bar">
                    {% for item in post.get_field('kursy') %}

                    <div class="single radius shadow ">
                        <div class="number">
                            {{item.kurs}}
                        </div>
                        <div class="text">
                            {{item.typ}}
                        </div>
                        <div class="logo">
                            <img src=" {{ TimberImage(item.bukmacher.male_logo).src | resize(0, 36) }} " alt="{{ TimberImage(item.bukmacher.male_logo).post_title }}">
                        </div>
                        <div class="buttons">
                            <a href="{{item.bukmacher.go_link}}" class="btn">GRAJ</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <h3 style="margin:20px 0 20px 0;">Najlepsze oferty dla Ciebie</h3>
                <section class="container cols-3 buks-boxes nopadding nohover grow-equal" style="margin:30px 0;">
                    {% for item in kafelki_bukmacherzy %}
                        {% if loop.index <= 3 %}
                            <article class="single-col smaller-gap ">
                                <a class="single-wrap noafter" href="{{ item.link }}" style="display:block; padding-right:0;">
                                    <div class="top" style="max-height:100px;">
                                        <div class="background" style="width: 100%;
                                        height: 100%;background-color:{{ item.kolor_glowny_bukmachera }}">

                                            <img src="{{ TimberImage(item.tlo_pod_logo).src }}" alt="{{ TimberImage(item.tlo_pod_logo).post_title }}">
                                        </div>
                                        <div class="buk-logo">
                                            <img src="{{ TimberImage(item.logo).src }}" alt="{{ TimberImage(item.logo).post_title }}">
                                        </div>
                                    </div>
                                    <div class="middle" style="background-color:#28313B;display:flex;flex-flow:column;padding:10px 15px 10px 15px;">
                                        {% for item in item.get_field('wlasciwosci') %}
                                        {% if loop.index <= 3 %}
                                        <div class="single" style="padding:5px 0;">
                                          <img src="{{TimberImage(item.ikona).src | resize(30,30)}}" alt="{{ TimberImage(item.ikona).post_title }}" style="margin-right:5px;">
                                          <span style="color:white;font-size:13px;  ">{{item.tekst}}</span>
                                        </div>
                                        {% endif %}
                                      {% endfor %}
                                    </div>
                                    <div class="bottom shadow" style="padding-top:1px;border-top:1px solid black;background-color:#1A2026;padding-bottom:45px;">
                                        <div class="promocode bordered-dark shadow" style="color:{{ item.kolor_tekstu_bukmachera }}; position:initial; transform:translate(0); margin:10px 20px; border:none;background-color:#1A2026;justify-content:center;">
                                            <span>KOD</span> {{item.kod}}
                                        </div>
                                        <div class="rest">
                                            {% for single in item.get_field('kwoty') %}
                                            <div class="single">
                                                <div class="left">
                                                    {% if single.kwota_stara %}

                                                    <span class="old">
                                                        {{single.kwota_stara}}
                                                    </span>
                                                    {% endif %}

                                                    {{single.kwota_standard}}
                                                </div>
                                                <div class="right">
                                                   {{single.opis}}
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <a href="{{ item.link_odbierz }}" class="btn btn-arrow shadow">
                                            {{item.tekst_button_odbierz}}
                                        </a>
                                    </div>
                                </a>
                            </article>
                        {% endif %}
                    {% endfor %}
                </section>
            </div>
            <div class="sidebar wider" data-sticky-container  >
                <div class="sidebar-wrapper sticky"  data-margin-top="80">
                    {% include "parts/sidebar.twig" %}

                </div>
            </div>
        </div>
    </div>

    <div class="sidebar-content " style="background-color:transparent; margin-bottom:20px;">
        <div class="container ">
            <div class="content text-content ">
                <div class="posts-columns">
                    <div class="title-border">
                        <h3>Typy bukmacherskie</h3>
                    </div>
                        <div class="container nopadding cols-3 slick-mobile">
                            {% for item in typy %}
                                <div class="single-col">
                                    <div class="image">
                                        <a href="{{item.link}}" class="noafter">
                                            <img src="{{ TimberImage(item.thumbnail).src | resize(400, 240) }}" alt="{{ TimberImage(item.thumbnail).post_title }}">
                                        <div class="cover"></div>
                                        </a>

                                    </div>
                                    {% if item.tags.0 %}

                        <a href="{{ function('get_tag_link', item.tags.0.term_id ) }}" class="btn btn-black smaller-padding noafter" style="display:block;margin-bottom:10px;">{{ item.tags.0.name }}</a>
                        {% endif %}

                                    <div class="title">
                                        <a href="{{item.link}}" class="noafter">
                                            {{item.title}}
                                        </a>
                                    </div>
                                    <div class="date">
                                        <span class="date">{{item.post_date | date('d.m.Y')}}</span>
                                    </div>
                                    <div class="excerpt">
                                        {{ item.preview.length(10).read_more(' ').force }}
                                    </div>

                                    <div class="additional shadow radius">
                                        {% for kurs in item.get_field('kursy') %}
                                        {% if loop.index == 1 %}
                                            <div class="rate">
                                                {{kurs.kurs}}
                                            </div>
                                            <div class="text">
                                                {{kurs.typ}}
                                            </div>
                                            <div class="logo">
                                                <img src="{{ TimberImage(kurs.bukmacher.male_logo).src | resize(0,36) }}" alt="{{ TimberImage(kurs.bukmacher.male_logo).post_title }}">
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                </div>
                            {% endfor %}
                        </div>
                </div>
            </div>
            <div class="sidebar wider" data-sticky-container  >
                <div class="sidebar-wrapper sticky"  data-margin-top="80">

                </div>
            </div>
        </div>
    </div>




<style>
    .posts-columns .single-col .excerpt a::after{
        display:none!important;
    }

    @media all and (max-width:860px){
        body .sidebar-content .container.mobile-block{
            display:block;
        }
        body .sidebar-content .container.mobile-block .content{
            margin-top:0;
        }
    }
</style>

    {# {{ post.content }} #}

{% endblock %}
