<div class="breadcrumbs" style="background-color:#F7F9FD;">
  <div class="container">
    <ul>
      {% for single in breadcrumbs %}
        <li>
          {% if single.link == 'no-link-no' %}
            <span>{{ single.title }}</span>
          {% else %}
            <a href="{{ single.link }}" class="single">{{ single.title }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<style>
  .breadcrumbs{
    display:flex;
    align-items: center;
    padding:5px 0;
  }

  .breadcrumbs ul{
    margin:0;
  }

  .breadcrumbs li{
    list-style-type: none;
  }

  .breadcrumbs a, .breadcrumbs span{
    color:#101F3C;
    font-size:14px;
    text-transform: capitalize;
  } 

  .breadcrumbs li:not(:last-child)::after {
    content: " ";
    background-repeat: no-repeat;
    background-size: 6px 8px;
    background-position:center;
    background-image:url(/app/themes/legal/assets/images/header-triangle.png);
    width:8px;
    height:8px;
    display:inline-block;
    transform:rotate(180deg);
    margin: 0 6px 0 3px;
}
</style>