<div class="goup" id="goUp">
  <img src="/app/themes/legal/assets/images/arrow-goup.png" alt="arrow">
</div>
<div class="mobile-menu-blinder">

</div>
<footer class="main-footer">
  <div class="upper">
    <div class="container cols-5">
      <div class="single-col">
        <img src="{{TimberImage(options.logo).src | resize(0,30)}}" alt="{{ TimberImage(options.logo).post_title }}">

      </div>
      <div class="single-col buks">
        <p class="heading">Bukmacherzy</p>
        <div class="content">
          {{options.stopka_bukmacherzy}}
        </div>
      </div>
      <div class="single-col">
        <p class="heading">Kody</p>
        <ul class="footer-menu zeroed left">
          {% for item in footer1_menu.items %}
          <li class="nav-main-item {{ item.classes|join(' ') }}">
            <a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="single-col">
        <p class="heading">Bonusy</p>
        <ul class="footer-menu zeroed left">
          {% for item in footer2_menu.items %}
          <li class="nav-main-item {{ item.classes|join(' ') }}">
            <a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="single-col">
        <p class="heading">Najciekawsze</p>
        <ul class="footer-menu zeroed left">
          {% for item in footer3_menu.items %}
          <li class="nav-main-item {{ item.classes|join(' ') }}">
            <a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="lower">
    <div class="container">
        {{options.stopka_ciemna}}
    </div>
  </div>
</footer>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-98717213-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-98717213-2');
</script>
<script>
	jQuery('a[href*="/go/"]').each(function() {
		jQuery(this).attr('rel','nofollow')
  });
  
</script>

<style>
  .buks-boxes.vertical .single-col .middle-text, .buks-boxes.vertical .single-col .middle-text p{
    font-size:16px!important;
  }
  @media (max-width: 450px){
body .buks-table .table .row .buttons .btn {
    font-size: 13px;
}
  }

  body .buks-table .table .row .bulletpoints .bulletpoints-content{
    min-width: 200px;
  }

  @media all and (max-width:1200px){
    body .archive-filters .filters{
      flex-flow: row wrap;
      margin-bottom:25px;
    }
  }

  body.post-template-tpl-poradnik-single .buks-boxes.vertical .single-col .single-wrap .top{
    min-width:140px;
  }
</style>