<header class="main-header shadow">
  <div class="container">

    {% include "parts/menu.twig" %}
{#
        <button class="hamburger hamburger--spring" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button> #}
  </div>
</header>
{% include "parts/crumbs.twig" %}
<div class="under-header" style="padding-bottom:0">
  <div class="container">
    <h1>
      {{header_h2}}
    </h1>
    <h2>
      {{header_h3}}
    </h2>
    <section class="container cols-1 buks-boxes nopadding vertical m-kod-vertical" style="margin-top:40px!important">
              <article class="single-col smaller-gap shadow-bottom {{bookmaker.nazwa}}">
                  <div class="single-wrap" href="{{ bookmaker.link }}">
                    <div class="top wider">
                      <div class="background bookmaker" style="background-color:{{ bookmaker.kolor_glowny_bukmachera }}">

                          <img src="{{ TimberImage(bookmaker.tlo_pod_logo).src | resize(500, 500)}}" alt="{{ TimberImage(bookmaker.tlo_pod_logo).post_title }}">
                      </div>
                      <div class="buk-logo">
                          <img src="{{ TimberImage(bookmaker.logo).src | resize(200, 0)}}" alt="{{ TimberImage(bookmaker.logo).post_title }}">
                      </div>
                      <a href="{{bookmaker.link_do_strony_bukmachera}}" rel="nofollow" class="addr radius ">
                        {{bookmaker.tekst_link_do_strony_bukmachera}}
                      </a>
                  </div>
                      <div class="middle-text text-content white">

                        <div class="stars" data-stars="{{ bookmaker.bukmacher_ocena }}" >
                          {% set count = bookmaker.bukmacher_ocena %}
                          {% for i in 1 .. count %}
                            <img src="/app/themes/legal/dist/images/star.png" alt="star">
                          {% endfor %}
                          {% if count != 5 %}
                            {% set count = 5 - bookmaker.bukmacher_ocena %}
                            {% for i in 1 .. count %}
                              <img src="/app/themes/legal/dist/images/star-dark.png" alt="star dark">
                            {% endfor %}
                          {% endif %}

                        </div>
                        <p>
                          {{bookmaker.krotki_opis}}
                        </p>

                          <div class="pros">
                            {% for item in bookmaker.get_field('wlasciwosci') %}
                            <div class="single">
                              <img src="{{TimberImage(item.ikona).src}}" alt="{{ TimberImage(item.ikona).post_title }}">
                              <span>{{item.tekst}}</span>
                            </div>
                          {% endfor %}
                          </div>
                      </div>
                      <div class="bottom shadow">
                        <a href="{{bookmaker.link_do_strony_bukmachera}}" rel="nofollow" class="addr-mobile radius ">
                          {{bookmaker.tekst_link_do_strony_bukmachera}}
                        </a>
                          <div class="promocode bordered-dark shadow smaller notranslate" style="color:{{ bookmaker.kolor_tekstu_bukmachera }}">
                              <div style="color:{{ bookmaker.kolor_tekstu_bukmachera }}"><span>KOD</span> {{post.kod}}</div>
                          </div>
                          <span class="green copy-code custom" data-code="{{ post.kod }}">kopiuj kod</span>

                          <div class="rest">
                          <div class="stars m-stars-hide" style="display:none;" data-stars="4" >
                            {% set count = bookmaker.bukmacher_ocena %}
                            {% for i in 1 .. count %}
                              <img src="/app/themes/legal/dist/images/star.png" alt="star">
                            {% endfor %}
                            {% if count != 5 %}
                              {% set count = 5 - bookmaker.bukmacher_ocena %}
                              {% for i in 1 .. count %}
                                <img src="/app/themes/legal/dist/images/star-dark.png" alt="star dark">
                              {% endfor %}
                            {% endif %}
                          </div>
                          {% for single in bookmaker.get_field('kwoty') %}
                          <div class="single">
                              <div class="left">
                                  {% if single.kwota_stara %}

                                  <span class="old">
                                      {{single.kwota_stara}}
                                  </span>
                                  {% endif %}

                                  {{single.kwota_standard}}
                              </div>
                              <div class="right">
                                 {{single.opis}}
                              </div>
                          </div>
                          {% endfor %}
                          </div>
                          <a href="{{ bookmaker.link_odbierz }}" class="btn shadow btn-arrow sticking-out safari-width">
                            <span>{{bookmaker.tekst_button_odbierz}}</span>
                          </a>
                      </div>
                  </div>
              </article>

               <div class="middle-text text-content white m-kod-bottom" style="display:none">

                          <p>
                            {{ bookmaker.krotki_opis }}
                          </p>
                          <div class="pros">
                            {% for item in bookmaker.get_field('wlasciwosci') %}
                            <div class="single">
                              <img src="{{ TimberImage(item.ikona).src }}" alt="{{ TimberImage(item.ikona).post_title }}">
                              <span>{{ item.tekst }}</span>
                            </div>
                          {% endfor %}
                          </div>
                      </div>

      <div class="table-date">
        Aktualizacja {{ first_month_day | date('d F Y')}}

      </div>
  </section>

  </div>
</div>

<style>
  body .buks-boxes.m-kod-vertical .single-col .bottom .green.custom{
    margin-bottom: 20px;
    margin-top: -25px!important;
  }

  .addr-mobile{
    display:none;
  }
  @media all and (max-width:1175px){
    .bottom .promocode.notranslate{
      -webkit-transform: translate(0)!important;
      -ms-transform: translate(0)!important;
      transform: translate(0)!important;
    }
    body .buks-boxes.m-kod-vertical .single-col .bottom .rest .m-stars-hide{
      margin-bottom:15px;
    }
    body .buks-boxes.m-kod-vertical .single-col .bottom .green{
      margin-top:0!important;
    }
    body .buks-boxes.m-kod-vertical .single-col .bottom{
      padding-bottom:25px!important;
    }

    body .buks-boxes.m-kod-vertical .single-col .bottom .green.custom{
      margin-bottom: 10px;
      margin-top: 0px!important;
    }
    .addr-mobile{
      display:block;
    }
  }


  @media all and (max-width: 900px){


    .addr-mobile{
      display:block;
      color: white;
      background: black;
      padding: 3px 8px;
    }
body .buks-boxes.vertical .single-col .bottom .rest {
top:0;


}
body .buks-boxes.m-kod-vertical .single-col .bottom {
  padding-top: 5px;
}
  }


</style>
