<header class="main-header shadow">
  <div class="container">

    {% include "parts/menu.twig" %}

  </div>
</header>
{% include "parts/crumbs.twig" %}


  <div class="container news-header">
      <div class="text-content arrows">
        <div class="archive-filters">
          {% for item in post.tags %}
            <a href="{{ function('get_tag_link', item.term_id ) }}" class="btn btn-blue smaller-padding">{{ item.name }}</a>

          {% endfor %}
        </div>
        <h1>
          {{post.title}}
        </h1>
        <a class="author noafter" href="{{function('get_author_posts_url', post.post_author)}}">
          <div class="info">
            <time datetime="{{post.post_date | date('Y-m-d')}}" class="date">{{post.post_date | date('d.m.Y')}}</time>

          </div>
          <div class="image">
              <img src="{{ function('get_avatar_url', post.post_author )}}" alt="author avatar" style="width:40px;height:40px;">
          </div>
          <div class="info">
              <span class="author-name">{{ function('get_the_author_meta','user_nicename', post.post_author ) }}</span>
          </div>
        </a>
      </div>

</div>
