<header class="main-header shadow">
  <div class="container">

    {% include "parts/menu.twig" %}

  </div>
</header>
{% include "parts/crumbs.twig" %}

  <div class="container poradnik-header">
      <div class="text-content arrows">
        {% if post.tags.0 %}
          <div class="archive-filters column">
            <a href="{{ function('get_tag_link', post.tags.0.term_id ) }}" class="btn btn-blue smaller-padding">{{ post.tags.0.name }}</a>
          </div>
        {%  endif %}
        <h1>
          {{post.title}}
        </h1>
        <a class="author noafter" href="{{function('get_author_posts_url', post.post_author)}}" >
          <div class="image">
            <img src="{{ function('get_avatar_url', post.post_author )}}" alt="author avatar" style="width:40px;height:40px;">
          </div>
          <div class="info">
            <time datetime="{{post.post_date | date('Y-m-d')}}" class="date"> {{post.post_date | date('d.m.Y')}}</time>
              <span class="author-name">{{ function('get_the_author_meta','user_nicename', post.post_author ) }}</span>
          </div>
        </a>
      </div>
      <div class="share-icons">
        <span>Share:</span>{{ function('do_shortcode', '[addtoany]') }}
      </div>

      <img src="{{TimberImage(post.thumbnail).src | resize(1040, 350)}}" alt="{{ TimberImage(post.thumbnail).post_title }}" class="bg-image">

</div>
