<header class="main-header shadow">
  <div class="container">

    {% include "parts/menu.twig" %}
{#
        <button class="hamburger hamburger--spring" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button> #}
  </div>
</header>
{% include "parts/crumbs.twig" %}
<div class="under-header" style="padding-bottom:0">
  <div class="container">
    <h1>
      {{header_h2}}
    </h1>
    <h2>
      {{header_h3}}
    </h2>

    <section class="container cols-2 buks-boxes nopadding vertical porownanie" style="margin-top:40px!important">

              <article class="single-col smaller-gap  ">
                  <div class="single-wrap reorder shadow-bottom radius">
                      <div class="top wider">
                          <div class="background bookmaker" style="background-color:{{ buk_lewy.kolor_glowny_bukmachera }}">

                              <img src="{{ TimberImage(buk_lewy.tlo_pod_logo).src | resize(500, 500)}}" alt="{{ TimberImage(buk_lewy.tlo_pod_logo).post_title }}">
                          </div>
                          <div class="buk-logo" style="width:160px">
                              <img src="{{ TimberImage(buk_lewy.logo).src | resize(300, 0)}}" alt="{{ TimberImage(buk_lewy.logo).post_title }}">
                          </div>
                          <a href="{{buk_lewy.link_do_strony_bukmachera}}" rel="nofollow" class="addr radius ">
                            {{buk_lewy.tekst_link_do_strony_bukmachera}}
                          </a>
                      </div>
                      <div class="middle-text text-content white two-cols yet-single">

                        <div class="left pros">
                            {% for item in buk_lewy.get_field('pozytywy_negatywy') %}
                              <div class="single">
                                {% if item.negatyw %}
                                 <img src="/app/themes/legal/dist/images/li-cons.png" alt="li cons">
                                 {% else %}
                                 <img src="/app/themes/legal/dist/images/li-pros.png" alt="li pros">

                                {% endif %}
                                <span>{{ item.tekst }}</span>
                              </div>
                            {% endfor %}

                        </div>
                      </div>
                  </div>
              </article>
              <article class="single-col smaller-gap">
                  <div class="single-wrap reorder shadow-bottom radius">
                      <div class="top wider">
                          <div class="background bookmaker" style="background-color:{{ buk_prawy.kolor_glowny_bukmachera }}">

                              <img src="{{ TimberImage(buk_prawy.tlo_pod_logo).src | resize(500, 500)}}" alt="{{ TimberImage(buk_prawy.tlo_pod_logo).post_title }}">
                          </div>
                          <div class="buk-logo" style="width:160px">
                              <img src="{{ TimberImage(buk_prawy.logo).src | resize(300, 0)}}" alt="{{ TimberImage(buk_prawy.logo).post_title }}">
                          </div>
                          <a href="{{buk_prawy.link_do_strony_bukmachera}}" rel="nofollow" class="addr radius ">
                            {{buk_prawy.tekst_link_do_strony_bukmachera}}
                          </a>
                      </div>
                      <div class="middle-text text-content white two-cols yet-single">

                        <div class="left pros">
                            {% for item in buk_prawy.get_field('pozytywy_negatywy') %}
                              <div class="single">
                                {% if item.negatyw %}
                                 <img src="/app/themes/legal/dist/images/li-cons.png" alt="li cons">
                                 {% else %}
                                 <img src="/app/themes/legal/dist/images/li-pros.png" alt="li pros">

                                {% endif %}
                                <span>{{ item.tekst }}</span>
                              </div>
                            {% endfor %}

                        </div>
                      </div>
                  </div>
              </article>
  </section>

  </div>
</div>
