<header class="main-header shadow">
  <div class="container">

    {% include "parts/menu.twig" %}
{#
        <button class="hamburger hamburger--spring" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button> #}
  </div>
</header>
{% include "parts/crumbs.twig" %}
<div class="under-header" style="padding-bottom:0">
  <div class="container">
    <h1>
      {{header_h2}}
    </h1>
    <h2>
      {{header_h3}}
    </h2>
    <div class="review-boxes">
      <div class="single-box bordered radius">
        <span>Bukmacher - ocena</span>
          <div class="stars" data-stars="{{post.bukmacher_ocena}}" >
            {% set count = post.bukmacher_ocena %}
            {% for i in 1 .. count %}
              <img src="/app/themes/legal/dist/images/star.png" alt="star">
            {% endfor %}
            {% if count != 5 %}
            {% set count = 5 - post.bukmacher_ocena %}
            {% for i in 1 .. count %}
              <img src="/app/themes/legal/dist/images/star-dark.png" alt="star dark">
            {% endfor %}
            {% endif %}

          </div>
      </div>
    </div>

    <section class="container cols-1 buks-boxes nopadding vertical" style="margin-top:40px!important">

              <article class="single-col smaller-gap shadow-bottom ">
                  <div class="single-wrap reorder">
                      <div class="top wider">
                          <div class="background bookmaker" style="background-color:{{ post.kolor_glowny_bukmachera }}">

                              <img src="{{ TimberImage(post.tlo_pod_logo).src | resize(500, 500)}}" alt="{{ TimberImage(post.tlo_pod_logo).post_title }}">
                          </div>
                          <div class="buk-logo">
                              <img src="{{ TimberImage(post.logo).src | resize(200, 0)}}" alt="{{ TimberImage(post.logo).post_title }}">
                          </div>
                          <a href="{{post.link_do_strony_bukmachera}}" rel="nofollow" class="addr radius ">
                            {{post.tekst_link_do_strony_bukmachera}}
                          </a>
                      </div>
                      <div class="middle-text text-content white two-cols">

                        <div class="left pros">
                            {% for item in post.get_field('pozytywy_negatywy') %}
                              <div class="single">
                                {% if item.negatyw %}
                                 <img src="/app/themes/legal/dist/images/li-cons.png" alt="li cons">
                                 {% else %}
                                 <img src="/app/themes/legal/dist/images/li-pros.png" alt="li pros">

                                {% endif %}
                                <span>{{ item.tekst }}</span>
                              </div>
                            {% endfor %}

                        </div>

                        <div class="right pros">
                          {% for item in post.get_field('wlasciwosci') %}
                          <div class="single">
                            <img src="{{TimberImage(item.ikona).src}}" alt="{{ TimberImage(item.ikona).post_title }}">
                            <span>{{item.tekst}}</span>
                          </div>
                          {% endfor %}
                        </div>


                      </div>
                      <div class="bottom shadow">
                          <div class="promocode bordered-dark shadow bookmaker" style="color:{{ post.kolor_tekstu_bukmachera }};" >
                              <div style="color:{{ post.kolor_tekstu_bukmachera }}"><span>{% if post.id == 3505 %} VOUCHER {% else %}KOD{% endif %}</span> {{post.kod}}</div>
                              <span class="green copy-code" data-code="{{ post.kod }}">kopiuj {% if post.id == 3505 %} voucher {% else %}KOD{% endif %}</span>
                          </div>


                          <div class="rest" {% if post.get_field('kwoty')|length > 3 %}style="padding-bottom:30px;"{% endif %}>
                            {% for single in post.get_field('kwoty') %}
                            <div class="single">
                                <div class="left">
                                    {% if single.kwota_stara|length %}

                                    <span class="old">
                                        {{single.kwota_stara}}
                                    </span>
                                    {% endif %}

                                    {{single.kwota_standard}}
                                </div>
                                <div class="right">
                                   {{single.opis}}
                                </div>
                            </div>
                            {% endfor %}
                          </div>
                          <a href="{{ post.link_odbierz }}" class="btn shadow btn-arrow sticking-out safari-width">
                              <span>{{post.tekst_button_odbierz}}</span>
                          </a>
                      </div>
                  </div>
              </article>


      <div class="table-date">
        Aktualizacja {{function('the_modified_time', 'd F Y')}}
      </div>


      {% if hide_review_form %}

      <div class="header-rate-buk shadow radius">
          <div class="left">
              <div class="avatar">
                <img src="/app/themes/legal/dist/images/avatar-blank.png" alt="blank avatar">
              </div>
              <span>OCEŃ BUKMACHERA</span>
              <div class="stars user-rate scrollToReview" data-rating="0" >
                <img src="/app/themes/legal/dist/images/star.png" alt="star">
                <img src="/app/themes/legal/dist/images/star.png" alt="star">
                <img src="/app/themes/legal/dist/images/star.png" alt="star">
                <img src="/app/themes/legal/dist/images/star.png" alt="star">
                <img src="/app/themes/legal/dist/images/star.png" alt="star">
              </div>
          </div>

          <div class="right">
            <a href="#dodajOpinie" class="btn btn-black scrollToReview">
              SPRAWDŹ OPINIE
            </a>
          </div>
      </div>
      {% endif %}

  </section>

  </div>
</div>
