<nav class="menu desktop-menu">
  <a class="logo" href="{{ site.url }}">
    <img src="{{TimberImage(options.logo).src | resize(0,60)}}" alt="{{ TimberImage(options.logo).post_title }}" style="max-height:30px;">
  </a>
  <div class="menu-mobile-btn" style="display: none;">        <button class="hamburger hamburger--spring" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button></div>

  <ul class="header-menu zeroed left">
    <a class="logo mobile" href="{{ site.url }}">
      <img src="{{TimberImage(options.logo).src | resize(218,0)}}" alt="{{ TimberImage(options.logo).post_title }}">
    </a>
    {% for item in main_menu.items %}
    <li class="nav-main-item {{ item.classes|join(' ') }}">
      <a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
      {% if item.children %}
      <ul class="nav-drop zeroed radius shadow">
        <a class="logo mobile" href="{{ site.url }}">
          <img src="{{TimberImage(options.logo).src | resize(218,0)}}" alt="{{ TimberImage(options.logo).post_title }}">
        </a>
        <div class="mobile back">
          {{item.title}}
        </div>
        {% for child in item.children %}
        <li class="nav-drop-item">
          <a href="{{ child.link }}">{% if child.meta('image') %}<img src="{{TimberImage(child.meta('image')).src}}" alt="{{ TimberImage(child.meta('image')).post_title }}"> {% endif %} <span>{{ child.title }}</span></a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}

    <ul class="social-icons">
      <p class="social-title">
        Dołącz do nas
      </p>
      {% for item in options.social_ikonki %}
        <li>
          <a href="{{ item.link }}">
            <img src="{{ TimberImage(item.ikona).src }}" alt="{{ TimberImage(item.ikona).post_title }}">
          </a>
        </li>
      {% endfor %}
    </ul>
  </ul>

</nav>
