{% if related %}

<div class="posts-mosaic">
    <div class="title-border">
        <h3>Aktualności</h3>
    </div>
    <div class="posts">
        <div class="left">
            {% for item in related %}
                {% if loop.index == 1 %}
                    <div class="single">
                        <a href="{{item.link}}" class="noafter"><h3 class="post-title">{{ item.title }}</h3></a>
                        <div class="image"><a href="{{item.link}}" class="noafter"><img src="{{ TimberImage(item.thumbnail).src | resize(570, 200) }}" alt="{{ TimberImage(item.thumbnail).post_title }}"></a></div>
                        <div class="info">
                            <div class="excerpt">
                                {{item.preview.length(10).read_more(' ')}}
                            </div>
                            <div class="author">
                                <div class="image">
                                    <img src="{{ function('get_avatar_url', item.post_author )}}" alt="author avatar" style="width:40px;height:40px;">
                                </div>
                                <div class="info">
                                    <span class="date">{{item.post_date | date('d.m.Y')}}</span>
                                    <span class="author-name">{{ function('get_the_author_meta','user_nicename', item.post_author ) }}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="right">
            {% for item in related %}
                {% if loop.index != 1 %}
                <div class="single">
                    <div class="info">
                        <a href="{{item.link}}" class="noafter"><h3 class="post-title">{{ item.title }}</h3></a>
                        <div class="excerpt">
                            {{item.preview.length(10).read_more(' ')}}
                        </div>
                        <span class="date">{{item.post_date | date('d.m.Y')}}</span>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

</div>
{% endif %}
