<div class="single">
  {% if post.wersja_sidebara == 'simple'  %}

    <a class="simple-sidebar" href="{{bukmacher_sidebar.go_link}}" style="background-image:url('{{ TimberImage( bukmacher_sidebar.tlo_pod_logo ).src }}');background-color:{{bukmacher_sidebar.kolor_glowny_bukmachera}}">
      <button href="" class="btn btn-transparent" style="{% if post.sidebar_box_text %}{% else %}visibility:hidden;{% endif %}">{{ post.sidebar_box_text }}</button>
      <img src="{{TimberImage(bukmacher_sidebar.logo).src | resize(130,0)}}" alt="{{ TimberImage(bukmacher_sidebar.logo).post_title }}">
      <button href="" class="btn btn-black">ZAŁÓŻ KONTO</button>
    </a>

  {% endif %}
  {% if post.wersja_sidebara == 'own'  %}
  <a class="simple-sidebar" href="{{ function('get_the_permalink', 4582) }}" class="simple-sidebar" style="background-image:url(/app/themes/legal/assets/images/sidebar-own.png)">
  <button href="" class="btn btn-transparent" style="visibility:hidden"></button>

    <img src="{{TimberImage(options.logo).src | resize(130,0)}}" alt="{{ TimberImage(options.logo).post_title }}" style="max-width:initial;">
    <button href="" class="btn btn-black">RANKING BUKMACHERÓW</button>
  </a>

{% endif %}
  {% if post.wersja_sidebara == 'cashes'  %}
  {% if post.id == 2 %}
    <button href="{{bukmacher_sidebar.go_link}}" class="btn btn-transparent hide-after-break"  style="margin:5px auto; display:block;">BUKMACHER MIESIĄCA</button>
  {% endif %}

    <div class="cashes-sidebar hide-after-break" style="background-color:{{bukmacher_sidebar.kolor_glowny_bukmachera}}">

      <div class="top" style="background-image:url('{{ TimberImage( bukmacher_sidebar.tlo_pod_logo ).src }}');border-radius:5px 5px 0 0" >
        <a href="{{bukmacher_sidebar.go_link}}">
          <img src="{{TimberImage(bukmacher_sidebar.logo).src | resize(160,0)}}" alt="{{ TimberImage(bukmacher_sidebar.logo).post_title }}" >
        </a>
      </div>
      <div class="bottom">
        <div class="bulletpoints">
          {% if post.get_field('sidebar_kwoty') %}
            {% for single in post.get_field('sidebar_kwoty') %}
            <div class="single">
                <div class="left">
                    {% if single.kwota_stara|length %}

                    <span class="old" style="text-decoration:line-through">
                        {{single.kwota_stara}}
                    </span>
                    {% endif %}

                    <span class="green">{{single.kwota}}</span>

                </div>
                <div class="right">
                  <span>
                  {{single.nazwa}}
                  </span>
                </div>
            </div>
            {% endfor %}
          {% else %}
            {% for single in bukmacher_sidebar.get_field('kwoty') %}
            <div class="single">
                <div class="left">
                    {% if single.kwota_stara %}

                    <span class="old" style="text-decoration:line-through">
                        {{single.kwota_stara}}
                    </span>
                    {% endif %}

                    <span class="green">{{single.kwota_standard}}</span>

                </div>
                <div class="right">
                  <span>
                  {{single.opis}}
                  </span>
                </div>
            </div>
            {% endfor %}
          {% endif %}


        </div>

        <a href="{{bukmacher_sidebar.go_link}}" class="btn btn-arrow">{% if post.sidebar_tekst_buttona %}{{post.sidebar_tekst_buttona}}{% else %}ODBIERZ BONUS{% endif %}</a>
      </div>
    </div>

    <style>
      @media screen and (max-width:1360px){
        .sidebar:not(.chapters){
          display:none!important;
        }
      }
    </style>

  {% endif %}

  {% if post.wersja_sidebara == 'home'  %}

    <button href="{{bukmacher_sidebar.go_link}}" class="btn btn-transparent hide-after-break"  style="margin:5px auto; display:block;">BUKMACHER MIESIĄCA</button>

    <div class="cashes-sidebar hide-after-break" style="background-color:{{bukmacher_sidebar.kolor_glowny_bukmachera}}">

      <div class="top" style="background-image:url('{{ TimberImage( bukmacher_sidebar.tlo_pod_logo ).src }}');border-radius:5px 5px 0 0" >
        <a href="{{bukmacher_sidebar.go_link}}">
          <img src="{{TimberImage(bukmacher_sidebar.logo).src | resize(160,0)}}" alt="{{ TimberImage(bukmacher_sidebar.logo).post_title }}" >
        </a>
      </div>
      <div class="bottom">
        <div class="bulletpoints">
          {% if home_sidebar.get_field('sidebar_kwoty') %}
            {% for single in home_sidebar.get_field('sidebar_kwoty') %}
            <div class="single">
                <div class="left">
                    {% if single.kwota_stara|length %}

                    <span class="old" style="text-decoration:line-through">
                        {{single.kwota_stara}}
                    </span>
                    {% endif %}

                    <span class="green">{{single.kwota}}</span>

                </div>
                <div class="right">
                  <span>
                  {{single.nazwa}}
                  </span>
                </div>
            </div>
            {% endfor %}
          {% else %}
            {% for single in bukmacher_sidebar.get_field('kwoty') %}
            <div class="single">
                <div class="left">
                    {% if single.kwota_stara %}

                    <span class="old" style="text-decoration:line-through">
                        {{single.kwota_stara}}
                    </span>
                    {% endif %}

                    <span class="green">{{single.kwota_standard}}</span>

                </div>
                <div class="right">
                  <span>
                  {{single.opis}}
                  </span>
                </div>
            </div>
            {% endfor %}
          {% endif %}


        </div>

        <a href="{{bukmacher_sidebar.go_link}}" class="btn btn-arrow">{% if home_sidebar.sidebar_tekst_buttona %}{{home_sidebar.sidebar_tekst_buttona}}{% else %}ODBIERZ BONUS{% endif %}</a>
      </div>
    </div>
    <style>
      @media screen and (max-width:1360px){
        .sidebar:not(.chapters){
          display:none!important;
        }
        body .sidebar-content:nth-child(2){
          margin-top:-30px;
          padding-top:0;

        }
      }
    </style>
  {% endif %}

  {% if post.wersja_sidebara == 'review'  %}

  <div class="cashes-sidebar review" style="background-image:url('{{ TimberImage( bukmacher_sidebar.tlo_pod_logo ).src }}');background-color:{{bukmacher_sidebar.kolor_glowny_bukmachera}}">
    <div class="top">
      <a href="{{bukmacher_sidebar.go_link}}">
        <img src="{{TimberImage(bukmacher_sidebar.logo).src | resize(160,0)}}" alt="{{ TimberImage(bukmacher_sidebar.logo).post_title }}">
      </a>
    </div>
    <div class="bottom">
      <div class="stars" data-stars="{{bukmacher_sidebar.bukmacher_ocena}}" >
        {% set count = bukmacher_sidebar.bukmacher_ocena %}
        {% for i in 1 .. count %}
          <img src="/app/themes/legal/dist/images/star.png" alt="star">
        {% endfor %}
        {% if count != 5 %}
        {% set count = 5 - bukmacher_sidebar.bukmacher_ocena %}
        {% for i in 1 .. count %}
          <img src="/app/themes/legal/dist/images/star-dark.png" alt="star dark">
        {% endfor %}
        {% endif %}

      </div>

      <div class="pros-cons">
        {% for item in bukmacher_sidebar.get_field('pozytywy_negatywy') %}
        {% if index.loop < 3 %}
          <div class="single">
            {% if item.negatyw %}
            <img src="/app/themes/legal/dist/images/li-cons.png" alt="li cons">
            {% else %}
            <img src="/app/themes/legal/dist/images/li-pros.png" alt="li pros">

            {% endif %}
            <span>{{ item.tekst }}</span>
          </div>
        {% endif %}
      {% endfor %}
      </div>

      <a href="{{bukmacher_sidebar.go_link}}" class="btn btn-arrow">ODBIERZ BONUS</a>
    </div>
  </div>

{% endif %}
{% if post.wersja_sidebara == 'ranking'  %}
  <div class="ranking-table-sidebar">
      
  </div>
{% endif %}
</div>

{% if post.post_type != 'bookmaker' %} 

{% if not ukryj_dodatkowy %}
<div class="single hide-after-break" style="margin-top:50px;">
  <a href="{{ options.dodatkowy_sidebar_url }}" target="_blank">
    <img src="{{ TimberImage(options.dodatkowy_sidebar_zdjecie).src | resize(300, 0) }}" alt="">
  </a>
</div>
{% endif %}
{% endif %}

<style>
  @media screen and (max-width:1360px){
    .hide-after-break{
      display:none!important;
    }    
  }
</style>
