{% block header %}
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="{{ function( 'language_attributes' ) }}" > <![endif]-->
<html {{ function( 'language_attributes' ) }}>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% set ogimage = options.og_image %}

  {% if post.obrazek_og %}
    {% set ogimage = post.obrazek_og %}
  {% endif %}

  <meta property="og:image" content="{{ TimberImage(ogimage).src | resize(1200,630) }}">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  {{ function( 'wp_head' ) }}
</head>
<body {{ function( 'body_class' ) }} style="{% if post.header_bg %} background-image:url('{{TimberImage(post.header_bg).src}}') {% else %} background-image:url('/app/themes/legal/assets/images/agregator-bg.png') {% endif %}">

{% endblock %}
{% include "parts/header.twig" %}

<section class="main">
  {% block content %}

  {% endblock %}
</section>


{% include "parts/footer.twig" %}


{% block footer %}
  {{ function( 'wp_footer' ) }}
  </body>
</html>
{% endblock %}
