<header class="main-header shadow">
  <div class="container">

    {% include "parts/menu.twig" %}
{# 
        <button class="hamburger hamburger--spring" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button> #}
  </div>
</header>
<div class="under-header">
  <div class="container">
    <h1>
      {{header_h2}}
    </h1>
    <h2>
      {{header_h3}}
    </h2>
  </div>
</div>