{% block header %}
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="{{ function( 'language_attributes' ) }}" > <![endif]-->
<html {{ function( 'language_attributes' ) }}>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ function( 'wp_head' ) }}
</head>
<body {{ function( 'body_class' ) }} style="background-image:url('https://www.bukmacher-legalny.pl/app/uploads/2020/04/Component-4-–-1@2x.png')">
{% endblock %}
{% include "parts/header-porownanie.twig" %}

<section class="main">

  {% block content %}

  {% endblock %}
</section>


{% include "parts/footer.twig" %}


{% block footer %}
  {{ function( 'wp_footer' ) }}
  </body>
</html>
{% endblock %}
