<div class="bet-bar block">
  <table >
    <thead>
      <tr>
        {% for item in naglowki %}
          <td>{{ item.tekst }}</td>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in belki %}
        <tr>
          <td>
            <img src=" {{ TimberImage(row.bukmacher.male_logo).src | resize(0, 36) }} " alt="">

            {% if row.link %}
              <a href="{{row.link}}" class="btn">GRAJ</a>          
            {% else %}
              <a href="{{row.bukmacher.go_link}}" class="btn">GRAJ</a>          
            {% endif %}
          </td>
          {% for item in row.teksty %}
            <td>{{item.tekst}}</td>
          {% endfor %}

        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<style>
  body .bet-bar.block thead, body .bet-bar.block tbody{
    border:0;

  }
  body .bet-bar.block table{
    border-collapse: separate;
    border-spacing: 15px;
  }
  body .bet-bar.block tr{
    border:0;
    box-shadow: 0 2px 14px rgba(16,41,60,0.1);
    background-color: white;
    border-radius:5px;
  }

  body .bet-bar.block td{
    margin: 8px 0;
    padding:10px;
    color:#101F3C;
    text-align:center;
    border:0;

  }

  body .bet-bar.block td img{
    margin-right:10px;
  }

  @media all and (max-width:800px){
    body .bet-bar.block td img{
      margin-right:0;
      margin-top:10px;
    }
  }
</style>