{% if close_div %}
  </div>
{% endif %}
<div class="grey-bg" style="width:100%;background-color:#F7F9FD;padding: 40px 0 ">
  <div class="inside" style="max-width:730px; margin: 0 auto;">
    {{text}}

  </div>
</div>
{% if close_div %}
<div class="override-width">
{% endif %}