<div class="verdict-bar" style="padding:0!important; margin:25px 150px;">
  <div class="left">
    <div class="logo {% if lewo_gwiazdki < prawo_gwiazdki %} lost {% endif %} " style="background:{{ buk_lewo.kolor_glowny_bukmachera }}">
      <img src="{{ TimberImage(buk_lewo.logo).src | resize(0, 70) }}" alt="{{ TimberImage(buk_lewo.logo).post_title }}">
    </div>
    <div class="stars" data-stars="{{lewo_gwiazdki}}" >
      {% set count = lewo_gwiazdki %}
      {% for i in 1 .. count %}
        <img src="/app/themes/legal/dist/images/star.png" alt="star">
      {% endfor %}
      {% if count != 5 %}
      {% set count = 5 - lewo_gwiazdki %}
      {% for i in 1 .. count %}
        <img src="/app/themes/legal/dist/images/star-dark.png" alt="star dark">
      {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="right">
    <div class="logo {% if prawo_gwiazdki < lewo_gwiazdki %} lost {% endif %}" style="background:{{ buk_prawo.kolor_glowny_bukmachera }}">
      <img src="{{ TimberImage(buk_prawo.logo).src | resize(0, 70) }}" alt="{{ TimberImage(buk_prawo.logo).post_title }}">
    </div>
    <div class="stars" data-stars="{{prawo_gwiazdki}}" >
      {% set count = prawo_gwiazdki %}
      {% for i in 1 .. count %}
        <img src="/app/themes/legal/dist/images/star.png" alt="star">
      {% endfor %}
      {% if count != 5 %}
      {% set count = 5 - prawo_gwiazdki %}
      {% for i in 1 .. count %}
        <img src="/app/themes/legal/dist/images/star-dark.png" alt="star dark">
      {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="verdict-header">
    WERDYKT
  </div>
</div>
