<div class="versus-images" style="padding:20px 0!important;">
  <div class="photo-with-bg radius" style="background-color:{{ buk_lewo.kolor_glowny_bukmachera }}">
    <img src="{{ TimberImage(zdjcie_lewe).src }}" alt="{{ TimberImage(zdjcie_lewe).post_title }}">
    <div class="btn-holder">
      <a href="{{ buk_lewo.go_link }}" class="btn btn-black">ODBIERZ BONUS</a>
    </div>
  </div>
  <div class="photo-with-bg radius" style="background-color:{{ buk_prawo.kolor_glowny_bukmachera }}">
    <img src="{{ TimberImage(zdjcie_prawe).src }}" alt="{{ TimberImage(zdjcie_prawe).post_title }}">
    {{post.title}}
    <div class="btn-holder">
      <a href="{{ buk_prawo.go_link }}" class="btn btn-black">ODBIERZ BONUS</a>
    </div>
  </div>
</div>
<style>
  .post-template-tpl-porownanie .sidebar-content .content.text-content.bigger-padding-elements .wp-block-image {padding:0!important;}

</style>