<section class=" cols-1 buks-boxes nopadding  vertical small nohover" style="padding-bottom:10px!important;">
  {% for item in all_buks %}
  <article class="single-col smaller-gap shadow-bottom {{item.nazwa}}">
    <div class="single-wrap" href="{{ item.link }}">
        <div class="top">
            <div class="background" style="background-color:{{ item.kolor_glowny_bukmachera }};width:100%;height:100%;">
            </div>
            <div class="buk-logo" style="width: 90%;">
                <img src="{{ TimberImage(item.logo).src }}" alt="{{ TimberImage(item.logo).post_title }}" style="max-height:100px;">
            </div>
        </div>
        <div class="middle-text text-content white dotted" style="display:flex!important;">
            {% if item.kwota_1_tekst %}

            <div class="single">
                <span>{{item.kwota_1_tekst}}</span>
                <span>{{item.kwota_1}}</span>
            </div>
            {% endif %}
            {% if item.kwota_2_tekst %}

            <div class="single">
                <span>{{ item.kwota_2_tekst }}</span>
                <span class="green">{{item.kwota_2}}</span>
            </div>
            {% endif %}

        </div>
        <div class="bottom shadow">
            <div class="promocode bordered-dark shadow smaller noabsolute" style="color:{{ item.kolor_tekstu_bukmachera }};">
                <div style="color:{{ item.kolor_tekstu_bukmachera }}"><span>KOD</span> {{item.kod}}</div>
            </div>

            <div class="rest">

            </div>
            <a href="{{ item.link_odbierz }}" class="btn shadow safari-width">
              <span>{{item.tekst_button_odbierz}}</span>
            </a>
            {# <a href="https://google.pl" class="white">
                Sprawdź opinie graczy </a> #}
        </div>

    </div>
</article>
  {% endfor %}
</section>

<style>
    @media all and (max-width:1000px){
        .buks-boxes.small .single-col .single-wrap .bottom .promocode.noabsolute{
            top:0;
        }
    }

</style>
