 <div class="contact-data-box">

  <div class="left">
    <div class="single" style="margin-bottom:16px;">
      <span>Telefon</span>
      <span class="auto"><b><a href="tel:+48{{phone}}" class="noafter">{{phone}}</a></b></span>
    </div>
    <div class="single">
      <span>Mail</span>
      <span class="auto"><b><a href="mailto:{{mail}}" class="noafter">{{mail}}</a></b></span>
    </div>
  </div>
  <div class="right">
    <div class="single">
      <span>Język</span>
      <div class="flags" style="margin-bottom:10px;">
        {% for item in language.rows %}
            <img src="{{ TimberImage(item.flaga).src | resize(30,30)}}" alt="{{ TimberImage(item.flaga).post_title }}">
        {% endfor %}
      </div>
    </div>
    <div class="single">
      <span>Dostępność</span>
      <span class="auto"><b>{{availability}}</b></span>
    </div>
  </div>

 </div>
