
    <section class="container cols-3 buks-boxes nopadding smaller flex-start" style="padding:0!important;">
      {% for item in kafelki_bukmacherzy %}
              <article class="single-col smaller-gap">
                  <a class="single-wrap noafter" href="{{ item.link }}">
                      <div class="top">
                          <div class="background" style="width: 100%;
                          height: 100%;background-color:{{ item.kolor_glowny_bukmachera }}">

                              <img src="{{ TimberImage(item.tlo_pod_logo).src }}" alt="{{ TimberImage(item.tlo_pod_logo).post_title }}">
                          </div>
                          <div class="sponsor">
                              sponsor serwisu
                          </div>
                          <div class="buk-logo {{item.id}}{% if item.id != 2408 and item.id != 190 %} bigger {% endif %}">

                              <img src="{{ TimberImage(item.logo).src }}" alt="{{ TimberImage(item.logo).post_title }}">
                          </div>
                      </div>
                      <div class="bottom shadow" style="    padding-top: 5px;
                      padding-bottom: 35px;">
                          <div class="rest">
                            <div class="middle" style="background-color:#28313B;display:flex;flex-flow:column;padding:10px 15px 10px 15px;">
                                {% for item in item.get_field('wlasciwosci') %}
                                {% if loop.index <= 3 %}
                                <div class="single no-border" style="padding:5px 0;align-items:center;justify-content:flex-start;">
                                  <img src="{{TimberImage(item.ikona).src | resize(30,30)}}" alt="{{ TimberImage(item.ikona).post_title }}" style="margin-right:10px;">
                                  <span style="color:white;font-size:13px;  ">{{item.tekst}}</span>
                                </div>
                                {% endif %}
                              {% endfor %}
                            </div>
                          </div>
                          <a href="{{ item.link }}" class="btn btn-arrow shadow safari-width">
                                <span>
                                    Zobacz opinie

                                </span>
                          </a>
                      </div>
                  </a>
              </article>
      {% endfor %}
  </section>

  <style>
    .buks-boxes .single-col .bottom .rest .single.no-border:after{
        display:none;
    }
  </style>
