<section class=" article-sneakpeak radius shadow">
    {% if with_image %}
        <div class="img">
            <img src="/app/themes/legal/dist/images/book-icon.png" alt="book icon">
        </div>

    {% else %}

        <div class="border-left">

        </div>

    {% endif %}

    <div class="content">
        <a href="{{ url }}" class="title noafter"><h3>{{ title }}</h3></a>
        <div class="short-desc">
            {{ short_desc }}
        </div>
    </div>
    <a href="{{ url }}" class="btn">CZYTAJ</a>


</section>
