<section class="simple-intersection steps-intersection radius" >
    <h3>JAK TO DZIAŁA</h3>

    <div class="background" style="background-image:url('{{ TimberImage(bg).src }}');">

    </div>

    <div class="flayer" style="background-color: {{ color }} ;">

    </div>

    <div class="steps">
        <div class="step">
            <header>
                <img src="/app/themes/legal/dist/images/step1.png" alt="step 1">
                1. krok
            </header>
            <div class="step-content">
                {{ step_1_text }}
            </div>
            <a href="#" data-code="{{ code }}" class="btn copy-code btn-white" style="width:auto">
                <span>
                    SKOPIUJ KOD
                </span>
            </a>
        </div>
        {% if step_2_text %}
            <div class="step">
                <header>
                    <img src="/app/themes/legal/dist/images/step2.png" alt="step 2">
                    2. krok
                </header>
                <div class="step-content">
                    {{ step_2_text }}
                </div>
                <a href="{{step_2_url}}" data-code="{{ code }}" class="btn  btn-white-border" style="width:auto">
                    <span>
                    {{step_2_btn}}
                </span>
                </a>
            </div>
        {% endif %}
        {% if step_3_text %}
            <div class="step">
                <header>
                    <img src="/app/themes/legal/dist/images/step3.png" alt="step 3">
                    3. krok
                </header>
                <div class="step-content">
                        {{ step_3_text }}
                </div>
                <a href="{{step_3_url}}" data-code="{{ code }}" class="btn btn-white-border" style="width:auto">
                    {{step_3_btn}}
                </a>
            </div>
        {% endif %}
    </div>

</section>
