<section class=" cols-1 buks-boxes nopadding  vertical medium nohover single" style="padding-bottom: 5px!important;">
        <article class="single-col smaller-gap shadow-bottom">
            <div class="single-wrap" href="{{ item.link }}">
                <div class="top" style="width:230px;height:auto;">
                    <div class="background"
                    style="width: 100%;
        height: 100%;background-color:{{ item.kolor_glowny_bukmachera }}">
        <img src="{{ TimberImage(item.tlo_pod_logo).src }}" alt="{{ TimberImage(item.tlo_pod_logo).post_title }}">

                    </div>
                    <div class="buk-logo">
                        <img src="{{ TimberImage(item.logo).src }}" alt="{{ TimberImage(item.logo).post_title }}">
                    </div>
                </div>
                <div class="middle-text text-content white dotted" style="min-width: 250px;display:flex!important;">
                    {% if kwoty %}

                        {% for single in kwoty %}
                        <div class="single flex-start">
                            <span class="green">{{single.kwota_tekst}}</span>
                            <span>{{single.kwota}}</span>
                        </div>
                        {% endfor %}

                    {% else %}

                        {% for single in item.get_field('kwoty') %}
                        <div class="single flex-start">
                            <span class="green">{{single.kwota_standard}}</span>
                            <span>{{single.opis}}</span>
                        </div>
                        {% endfor %}
                    {% endif %}


                </div>
                <div class="bottom shadow" style="border-left:solid 1px #101317;margin: 0 0 0 auto;">
                    <div class="promocode bordered-dark shadow sticked notransform-mobile " style="color:{{ item.kolor_tekstu_bukmachera }}; border-radius:5px!important">
                        <div style="color:{{ item.kolor_tekstu_bukmachera }}"><span>KOD</span> {{item.kod}}</div>
            <span class="green copy-code" data-code="{{ item.kod }}">kopiuj kod</span>

                    </div>

                    <div class="rest">
                        <p style="font-size:13px;
                        color:white; text-align:center;">
                            {{text}}
                        </p>
                    </div>
                    <a href="{{ item.link_odbierz }}" class="btn shadow absolute safari-width">
                       <span>{{item.tekst_button_odbierz}}</span>
                    </a>
                    {# <a href="https://google.pl" class="white">
                        Sprawdź opinie graczy </a> #}
                </div>

            </div>
        </article>
</section>
<style>
    @media all and (max-width:1060px){
        .bottom .promocode.notransform-mobile{
            -webkit-transform: translateY(0)!important;
            -ms-transform: translateY(0)!important;
            transform: translateY(0)!important;
            top:0!important;
        }
    }
</style>
