    <section class="container cols-3 buks-boxes nopadding smaller flex-start" style="padding:0!important;">
      {% for item in kafelki_bukmacherzy %}
          {% if loop.index <= block_num %}
              <article class="single-col smaller-gap">

                {% if link_type == "kod" %}

                {% set link = function('get_kod_link_by_recenzja_id', item.id) %}

                 {% elseif link_type == "recenzja" %}
                 {% set link = item.link %}


                {% else %}

                {% set link = item.go_link %}


                 {% endif %}

                  <a class="single-wrap noafter" href="{{link }}">
                      <div class="top">
                          <div class="background" style="width: 100%;
                          height: 100%;background-color:{{ item.kolor_glowny_bukmachera }}">

                              <img src="{{ TimberImage(item.tlo_pod_logo).src }}" alt="{{ TimberImage(item.tlo_pod_logo).post_title }}">
                          </div>
                          <div class="sponsor">
                              sponsor serwisu
                          </div>
                          <div class="buk-logo {{item.id}}{% if item.id != 2408 and item.id != 190 %} bigger {% endif %}">
                              <img src="{{ TimberImage(item.logo).src }}" alt="{{ TimberImage(item.logo).post_title }}">
                          </div>
                      </div>
                      <div class="bottom shadow" {% if item.get_field('kwoty')|length > 3 %} style="padding-bottom: 45px;" {% endif %}>
                          <div class="promocode bordered-dark shadow" style="color:{{ item.kolor_tekstu_bukmachera }}">
                              <span>KOD</span> {{item.kod}}
                          </div>
                          <div class="rest">
                            {% for single in item.get_field('kwoty') %}
                            <div class="single">
                                <div class="left">
                                    {% if single.kwota_stara %}

                                    <span class="old">
                                        {{single.kwota_stara}}
                                    </span>
                                    {% endif %}

                                    {{single.kwota_standard}}
                                </div>
                                <div class="right">
                                   {{single.opis}}
                                </div>
                            </div>
                            {% endfor %}
                          </div>

                          <a href="{{ link }}" class="btn btn-arrow shadow safari-width">
                              <span>{{item.tekst_button_odbierz}}</span>
                          </a>
                      </div>
                  </a>
                  <div class="under">
                      {{item.tekst_pod_kafelkiem}}
                  </div>
              </article>
          {% endif %}
      {% endfor %}
  </section>
