<section class="buks-table">

    <div class="table">
        {% for row in lista_bukmacherow %}
            <div class="row">
                <div class="index">
                    {{loop.index}}
                </div>
                <div class="logo" style="background:{{ row.kolor_glowny_bukmachera }}">
                    <img src="{{ TimberImage(row.logo).src | resize(140,0) }}" alt="{{ TimberImage(row.logo).post_title }}">
                </div>
                <div class="score-vote">
                <div class="score">
                    <span class="count">{{row.ilosc_glosow_tabelka}}&nbsp;</span> głosów
                </div>
                <div class="vote">
                    <span class="vote-btn">
                    </span>
                </div>
                </div>
                <div class="bulletpoints">
                <content class="bulletpoints-content">
                    {{row.bulletpointy_tabelka}}
                </content>
                <content class="more-info">
                <button class="btn-info" style="display: none;">
                wiecej informacji </button>
                <a href="{{ function('get_kod_link_by_recenzja_id', row.id) }}" class="grey grey-mobile" style="text-align:center;">BONUS INFO</a>

                </content>
                </div>

                <div class="prices">
                    <span class="old">
                        {{row.kwota_przed_tabelka}}
                    </span>
                    <div class="price">
                    <span class="new">
                        {{row.kwota_po_tabelka}}
                    </span>
                    </div>
                </div>
                <div class="buttons">
                    <a href="{{ row.link_odbierz }}" class="btn" style="width:100%; text-align:center;">ODBIERZ</a>
                    <a href="{{ function('get_kod_link_by_recenzja_id', row.id) }}" class="grey"  style="width:100%; text-align:center;">BONUS INFO</a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
