<section class="buks-table">
    <div class="table">
        {% for row in lista_bukmacherow %}
            <div class="row">
                <div class="index">
                    {{loop.index}}
                </div>
                <div class="logo" style="background:{{ row.kolor_glowny_bukmachera }}">
                    <img src="{{ TimberImage(row.logo).src | resize(140,0) }}" alt="{{ TimberImage(row.logo).post_title }}">
                </div>
                <div class="bulletpoints custom" style="margin: auto;">
                    <content class="bulletpoints-content" style="padding:10px 20px ; ">
                        {{row.custom_text_table}}
                    </content>
                    <content class="more-info">
                        <button class="btn-info" style="display: none;">
                        wiecej informacji </button>
                        </content>

                    {% if row.custom_text_table_second %}
                        <content class="bulletpoints-content" style="padding:10px 20px ;">
                            {{row.custom_text_table_second}}
                        </content>
                    {% endif %}

                </div>

                {% if row.custom_nowa_kwota %}


                <div class="prices">
                    <span class="old">
                        {{row.custom_stara_kwota}}
                    </span>
                    <div class="price">
                    <span class="new">
                        {{row.custom_nowa_kwota}}
                    </span>
                    </div>
                </div>

                {% endif %}


                <div class="buttons" style="margin-left:auto;">
                    <a href="{{ row.go_link }}" class="btn" style="width:100%; text-align:center;">{{go_btn_text}}</a>
                    <a href="{{ function('get_kod_link_by_recenzja_id', row.id) }}" class="grey"  style="width:100%; text-align:center;">BONUS INFO</a>

                </div>
                <div class="buttons buttons-mobile">
                    <a href="{{ function('get_kod_link_by_recenzja_id', row.id) }}" class="grey"  style="width:100%; text-align:center;">BONUS INFO</a>

                </div>
            </div>
        {% endfor %}
    </div>
</section>

<style>
    .buks-table .buttons-mobile{
        display:none!important;
    }

    @media all and (max-width: 1060px) {
        body .text-content .override-width .buks-table .row .bulletpoints.custom {
            max-width: 50%!important;
            width: 50%;
        }
    }
    @media all and (max-width: 730px) {
        .buks-table .buttons-mobile{
            display:block!important;
            border-radius:0 0 5px 5px!important;
            background: #EBF1FC!important;
            max-width:50%!important;

        }
        .buks-table .buttons-mobile a.grey{
            color: #6D6FA6;
            display:block!important;

        }
        body .text-content .override-width .buks-table .row .bulletpoints.custom {
            max-width: 100%!important;
            width: 100%;
        }
    }
</style>
