<table class=" white-bars">
  <tbody style="border:none;">
      {% for item in belki.rows %}
      <tr class="single radius shadow-bottom">
          <td class="left">
              {{item.tekst_lewo}}
          </td>
          <td class="right"> 
              {{item.tekst_prawo}}
          </td>
      </tr>

      {% endfor %}
  </tbody>
</table>