<div class="photo-with-bg radius" style="background-color:{{ color.kolor_glowny_bukmachera }}">
  <img src="{{ TimberImage(image).src }}" alt="{{ TimberImage(image).post_title }}">

  {% if button_text %}
  <div class="btn-holder">
    <a href="{{ button_url }}" class="btn btn-arrow">{{ button_text }}</a>
  </div>
  {% endif %}
</div>
<style>
  .photo-with-bg img{display:block;}
  .post-template-tpl-porownanie .sidebar-content .content .photo-with-bg img{padding:20px 0!important;}
</style>