{% if close_div %}
  </div>
{% endif %}
<section class="container cols-1 buks-boxes nopadding  vertical">
  {% for item in all_buks %}
  <article class="single-col smaller-gap shadow-bottom {{item.nazwa}}">
    <div class="single-wrap" href="{{ item.link }}">
      <div class="top">
        <div class="background" style="width: 100%;
        height: 100%;background-color:{{ item.kolor_glowny_bukmachera }}">

          <img src="{{ TimberImage(item.tlo_pod_logo).src }}" alt="{{ TimberImage(item.tlo_pod_logo).post_title }}">
        </div>
        <div class="buk-logo">
          <img src="{{ TimberImage(item.logo).src }}" alt="{{ TimberImage(item.logo).post_title }}">
        </div>
      </div>
      <div class="middle-text text-content white">
        <h3>{{  item.naglowek_poziome_bloki }}</h3>
        <div class="stars" data-stars="4">
          {% set count = item.bukmacher_ocena %}
          {% for i in 1 .. count %}
            <img src="/app/themes/legal/dist/images/star.png" alt="star">
          {% endfor %}
          {% if item.bukmacher_ocena != 5 %}

          {% set count = 5 - item.bukmacher_ocena %}
          {% for i in 1 .. count %}
            <img src="/app/themes/legal/dist/images/star-dark.png" alt="star dark">
          {% endfor %}

          {% endif %}
        </div>
        {{item.tekst_poziome_bloki}}
        <a href="{{ item.link }}" class="noafter" >Sprawdź opinie</a>
      </div>
      <div class="bottom shadow">
        <div class="promocode bordered-dark shadow" style="color:{{ item.kolor_tekstu_bukmachera }}; transform: translateY(-15px);">
          <div style="color:{{ item.kolor_tekstu_bukmachera }}"><span>KOD</span> {{item.kod}}</div>
          <span class="green nm copy-code" data-code="{{ item.code }}">kopiuj kod</span>
        </div>
        <div class="rest">
          {% for single in item.get_field('kwoty') %}
          <div class="single">
              <div class="left">
                  {% if single.kwota_stara %}

                  <span class="old">
                      {{single.kwota_stara}}
                  </span>
                  {% endif %}

                  {{single.kwota_standard}}
              </div>
              <div class="right">
                 {{single.opis}}
              </div>
          </div>
          {% endfor %}
        </div>
        <a href="{{ item.link_odbierz }}" class="btn shadow btn-hide-mobile">
          {{item.tekst_button_odbierz}}
        </a>
        <a href="{{ function('get_kod_link_by_recenzja_id', item.id)}}" class="white noafter btn-hide-mobile">
          Bonus Info </a>
      </div>

    </div>
    <div class='wrap-mobile' style="display:none;">
      <a href="{{ item.link_odbierz }}" class="btn shadow">
        {{item.tekst_button_odbierz}}
      </a>
      <a href="{{ item.link }}" class="white">
        Zobacz opinie </a>
      <div class="middle-text text-content white wrap-mobile-text">
        <div class="stars" data-stars="4">
          {% set count = item.bukmacher_ocena %}
          {% for i in 1 .. count %}
            <img src="/app/themes/legal/dist/images/star.png" alt="star dark">
          {% endfor %}
          {% if count != 5 %}

          {% set count = 5 - item.bukmacher_ocena %}
          {% for i in 1 .. count %}
            <img src="/app/themes/legal/dist/images/star-dark.png" alt="star dark">
          {% endfor %}
          {% endif %}
        </div>
        {{item.krotki_opis}}
      </div>
    </div>
  </article>
  {% endfor %}
</section>
{% if close_div %}
<div class="override-width">
{% endif %}

<style>
  @media all and (max-width: 900px){
    .btn-hide-mobile{
      display:none!important;
    }
  }
</style>
