<section class="simple-intersection radius"  {% if bg %} style="background-image:url('{{ TimberImage(bg).src }}');" {% else %} style="background-color:{{bg_color}};" {% endif %}>
    <h3>{{title}}</h3>
    {% if button_text %}
    <a href="{{ button_url }}" class="btn {% if dark_button %} green {% else %} black {% endif %} btn-black">{{ button_text }}</a>
    {% endif %}
</section>