.buks-table-aff .col:first-of-type{
  flex: 0 0 8.333333%;
}
.buks-table-aff .btn-lg{
  font-size:15px;
}

.buks-table-aff .row{
  padding:10px 0!important;

}


.buks-table-aff .col-xl-4 p{
  margin-bottom:-5px;
}


@media all and (max-width:1200px){
  .buks-table-aff .col-xl-1:first-of-type{
    display:none;
  }

  .buks-table-aff .col-xl-1:nth-child(2){
    margin-bottom:10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buks-table-aff .col-xl-1:nth-child(2) button{
    margin-left:10px;
  }

  .buks-table-aff .col-xl-1:nth-child(2) span{
    margin-right:5px;
  }

  .buks-table-aff .col-xl-2 .badge{
    margin-bottom:15px;
  }

  .buks-table-aff .col-xl-4{
    margin-top:15px;
  }


  .buks-table-aff .row{
    padding: 20px 15px!important;
  }
}

.noty_layout_mixin, #noty_layout__top, #noty_layout__topLeft, #noty_layout__topCenter, #noty_layout__topRight, #noty_layout__bottom, #noty_layout__bottomLeft, #noty_layout__bottomCenter, #noty_layout__bottomRight, #noty_layout__center, #noty_layout__centerLeft, #noty_layout__centerRight {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 9999999;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0) scale(1, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  filter: blur(0);
  -webkit-filter: blur(0);
  max-width: 90%;
}

#noty_layout__top {
  top: 0;
  left: 5%;
  width: 90%;
}

#noty_layout__topLeft {
  top: 20px;
  left: 20px;
  width: 325px;
}

#noty_layout__topCenter {
  top: 5%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(-webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
  transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__topRight {
  top: 20px;
  right: 20px;
  width: 325px;
}

#noty_layout__bottom {
  bottom: 0;
  left: 5%;
  width: 90%;
}

#noty_layout__bottomLeft {
  bottom: 20px;
  left: 20px;
  width: 325px;
}

#noty_layout__bottomCenter {
  bottom: 5%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(-webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
  transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__bottomRight {
  bottom: 20px;
  right: 20px;
  width: 325px;
}

#noty_layout__center {
  top: 50%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(-webkit-calc(-50% - .5px), -webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
  transform: translate(calc(-50% - .5px), calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerLeft {
  top: 50%;
  left: 20px;
  width: 325px;
  -webkit-transform: translate(0, -webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
  transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerRight {
  top: 50%;
  right: 20px;
  width: 325px;
  -webkit-transform: translate(0, -webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
  transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

.noty_progressbar {
  display: none;
}

.noty_has_timeout.noty_has_progressbar .noty_progressbar {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #646464;
  opacity: 0.2;
  filter: alpha(opacity=10);
}

.noty_bar {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate(0, 0) translateZ(0) scale(1, 1);
  -ms-transform: translate(0, 0) scale(1, 1);
  transform: translate(0, 0) scale(1, 1);
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: hidden;
}

.noty_effects_open {
  opacity: 0;
  -webkit-transform: translate(50%);
  -ms-transform: translate(50%);
  transform: translate(50%);
  -webkit-animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.noty_effects_close {
  -webkit-animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.noty_fix_effects_height {
  -webkit-animation: noty_anim_height 75ms ease-out;
  animation: noty_anim_height 75ms ease-out;
}

.noty_close_with_click {
  cursor: pointer;
}

.noty_close_button {
  position: absolute;
  top: 2px;
  right: 2px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.noty_close_button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.noty_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10000;
  opacity: .3;
  left: 0;
  top: 0;
}

.noty_modal.noty_modal_open {
  opacity: 0;
  -webkit-animation: noty_modal_in .3s ease-out;
  animation: noty_modal_in .3s ease-out;
}

.noty_modal.noty_modal_close {
  -webkit-animation: noty_modal_out .3s ease-out;
  animation: noty_modal_out .3s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes noty_modal_in {
  100% {
      opacity: .3;
  }
}

@keyframes noty_modal_in {
  100% {
      opacity: .3;
  }
}

@-webkit-keyframes noty_modal_out {
  100% {
      opacity: 0;
  }
}

@keyframes noty_modal_out {
  100% {
      opacity: 0;
  }
}

@keyframes noty_modal_out {
  100% {
      opacity: 0;
  }
}

@-webkit-keyframes noty_anim_in {
  100% {
      -webkit-transform: translate(0);
      transform: translate(0);
      opacity: 1;
  }
}

@keyframes noty_anim_in {
  100% {
      -webkit-transform: translate(0);
      transform: translate(0);
      opacity: 1;
  }
}

@-webkit-keyframes noty_anim_out {
  100% {
      -webkit-transform: translate(50%);
      transform: translate(50%);
      opacity: 0;
  }
}

@keyframes noty_anim_out {
  100% {
      -webkit-transform: translate(50%);
      transform: translate(50%);
      opacity: 0;
  }
}

@-webkit-keyframes noty_anim_height {
  100% {
      height: 0;
  }
}

@keyframes noty_anim_height {
  100% {
      height: 0;
  }
}

/*# sourceMappingURL=noty.css.map*/

.noty_theme__mint.noty_bar {
  margin: 4px 0;
  overflow: hidden;
  border-radius: 2px;
  position: relative;
}

.noty_theme__mint.noty_bar .noty_body {
  padding: 10px;
  font-size: 14px;
  color: white !important;
}

.noty_theme__mint.noty_bar .noty_buttons {
  padding: 10px;
}

.noty_theme__mint.noty_type__alert,
.noty_theme__mint.noty_type__notification {
  background-color: #fff;
  border-bottom: 1px solid #D1D1D1;
  color: #2F2F2F;
}

.noty_theme__mint.noty_type__warning {
  background-color: #FFAE42;
  border-bottom: 1px solid #E89F3C;
  color: #fff;
}

.noty_theme__mint.noty_type__error {
  background-color: #DE636F;
  border-bottom: 1px solid #CA5A65;
  color: #fff;
}

.noty_theme__mint.noty_type__info,
.noty_theme__mint.noty_type__information {
  background-color: #7F7EFF;
  border-bottom: 1px solid #7473E8;
  color: #fff;
}

.noty_theme__mint.noty_type__success {
  background-color: #AFC765;
  border-bottom: 1px solid #A0B55C;
  color: #fff;
}


  .jq-ry-container {
	position: relative;
	padding: 0;
	line-height: 0;
	display: block;
	cursor: pointer;
	box-sizing: content-box;
	direction: ltr
}

  .jq-ry-container[readonly="readonly"] {
	cursor: default;
	box-sizing: border-box;
	padding: 0
}

  .jq-ry-container>.jq-ry-group-wrapper {
	position: relative;
	width: 100%;
	max-width: 100px
}

  .jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group {
	position: relative;
	line-height: 0;
	z-index: 10;
	white-space: nowrap
}

  .jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group>svg {
	display: inline-block;
	width: 17px
}

  .jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group.jq-ry-normal-group {
	width: 100%
}

  .jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group.jq-ry-rated-group {
	width: 0;
	z-index: 11;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden
}

  .credit-rate {
	width: 85px !important
}

  .stars-holder {
	pointer-events: none;
	max-width: 85px;
	margin: 0
}

  .stars-holder .rate-status {
	font-size: 11px;
	line-height: 14px;
	text-align: center;
	padding-bottom: 5px
}

  .stars-holder.enable-click{
  pointer-events: initial;
}

  #review .inp-group{
  padding:10px 0;
}

  #review input, #review textarea{
  padding:5px;
}

  #review .btn-holder{
  padding:30px 0;
}

  #review .btn-holder .btn{
  float:right;
}

.opinion-csg .single-item{
  display:flex;
  border:1px solid #646464;
  border-radius: 4px;
  margin:3px 5px;
  padding:10px;
}
.opinion-csg .single-item .opinion-rating{
  margin-right:25px;
}
.opinion-csg .single-item .opinion-comment {
  width:100%;
}
.opinion-csg .single-item .opinion-comment .date{
  font-size:11px;
  font-style: italic;
}
.opinion-csg .single-item .opinion-comment .positive{
  background:rgba(54, 196, 73, 0.09);

  width:100%;
  padding:2px 10px;
  margin-bottom:15px;
}
.opinion-csg .single-item .opinion-comment .negative{
  background:rgba(196,54,54,.09);

  width:100%;
  padding:2px 10px;
  margin-bottom:15px;
}

@media all and (max-width:1260px){
  .postid-5407 .esport-table .header{
    display:none;
  }

  .postid-5407 .esport-table .row div:first-of-type{
    display:none;
  }

  .postid-5407 .esport-table .row div:nth-child(5) .badge-success{
    font-size:18px!important;
  }
  .postid-5407 .esport-table .row div:nth-child(4) p{
    font-size:16px!important;
  }
}

@media all and (max-width:1200px){
  .postid-5407 .esport-table .header{
    display:none;
  }

  .postid-5407 .esport-table .row div:first-of-type{
    display:none;
  }

  .postid-5407 .esport-table .row div:nth-child(2){
    order:1;
  }
  .postid-5407 .esport-table .row div:nth-child(3){
    order:2;
  }

  .postid-5407 .esport-table .row div:nth-child(3)::before{
    content:'Dyscypliny: ';
    font-size:18px;
    margin-bottom:10px;    
    display:inline-block;
  }
  .postid-5407 .esport-table .row div:nth-child(4){
    order:7;
  }

  .postid-5407 .esport-table .row div:nth-child(4)::before{
    content:'Ocena: ';
    font-size:18px;    
  }

  .postid-5407 .esport-table .row div:nth-child(5){
    order:8;
    margin:10px 0;
    margin-bottom:25px;
    position: relative;
  }

  .postid-5407 .esport-table .row div:nth-child(5)::before{
    content:'LIVE: ';
    font-size:18px;    
  }
  
  .postid-5407 .esport-table .row div:nth-child(6){
    order:3;

  }

  .postid-5407 .esport-table .row div:nth-child(6)::before{
    content:'Inne: ';
    font-size:18px;
    margin-bottom:10px;
    margin-top:20px;    
    display:inline-block;
  }
  .postid-5407 .esport-table .row div:nth-child(7){
    order:9;
    margin-bottom:15px;
  }

}


@media all and (max-width:991px){
  .slick-slider-buks{
    margin-top:30px;
  }
}


footer .menus{
  background: #202224;
  padding:20px;
}
footer .menus .row{
  max-width:1140px;
  margin:0 auto;
}

footer .menus h3{
  color:white;
}

footer .menus li a{
  color:#6d7072;
}

#footer{
  padding: 0px 10px 30px;
}