body{

  .sidebar-wrapper.sticky{
    @media all and (max-width:1360px){
     position:relative!important; 
     left:0!important;
     top:0!important;
    }
  }
  .sidebar-content{
      .container{
           @media all and (max-width:730px){
            padding: 0px 10px; 
           } 
      }
      .content{
            @media all and (max-width:730px){
                max-width:1135px;
                width:100%;
                padding-right:0;
               }
               p, h1, h2, h3{
                @media all and (max-width:1360px){
                 padding:0;
                 padding-top: 20px;
                }
                @media all and (max-width:660px){
                 padding:0;
                 padding-top: 10px;
                }
               }
               p, ol li, ul li{
                 @media all and (max-width:850px){
                  font-size:15px; 
                 }
                 @media all and (max-width:700px){
                  font-size:14px; 
                 }
               }
               h1{
                @media all and (max-width:850px){
                 font-size:28px; 
                }
                @media all and (max-width:700px){
                 font-size:24px; 
                }
              }
              h2{
                @media all and (max-width:700px){
                 font-size:24px; 
                }
              }
              h3{
                @media all and (max-width:700px){
                 font-size:24px; 
                }
              }
            }
  }
  .mobile-900{
        display:none!important;
        @media all and (max-width:900px){
         display:block!important; 
        }
  }
  .btn{
    font-size:13px;
        .btn-blue{
            @media all and (max-width:1470px){
            font-size:14px!important;
          }
        }
        body .btn.btn-blue{
            @media all and (max-width:1470px){
            font-size:14px!important;
          }
        }
        &.btn-reverse{
            @media all and (max-width:600px){
                font-size: 14px;
            }
        }
        &.btn-arrow{
            @media all and (max-width:600px){
                padding: 13px 20px;
            }
          &::after{
              @media all and (max-width:600px){
                display: none; 
              }
          }
          &::before{
            @media all and (max-width:600px){
                display: none; 
              }
          }
        }
  }
   .title-menu{
   

    &.fixed{
      
    }

      .context-menu{
        @media all and (max-width:1360px){
         flex-flow: row wrap;
        }
       @media all and (max-width:600px){
        flex-flow: column; 
       }
        li{
          @media all and (max-width:600px){
          border-bottom: 1px solid #D8D8D8!important; 
          position:relative;

          &::after{
            content:'';
            position:absolute;
            right:25px;
            top:50%;
            transform:translateY(-50%) rotate(90deg);
            width:20px;
            height:16px;
            background-repeat: no-repeat;
            background-position:center;
            background-image:url(../images/header-triangle.png);
          }
        }
          

          a{

            @media all and (max-width:600px){
              width: 100%;
              display: block; 
            }
            
          }

          &.active{
            @media all and (max-width:600px){
              border-top: 1px #D8D8D8!important;
            }
            
          }
        }
      }
  }
  .container{
        @media all and (max-width:1360px){
            flex-flow: column-reverse;
            width: 100%;
        }
        @media all and (max-width:880px){
        width:100%;
        max-width:calc(100% - 20px);
        padding: 0px;
        }
        &.center{
            flex-flow: inherit;
        }
        &.cols{

           &-5{
              @media all and (max-width:1470px){
               flex-flow:row wrap;
               justify-content: space-evenly; 
              }
            .single-col{
              &.smaller-gap{
                @media all and (max-width:1370px){
                    max-width: calc((100% / 3) - 15px);
                 }
                 @media all and (max-width:880px){
                    max-width: calc((100% / 2) - 15px);
                 }
                 @media all and (max-width:600px){
                    max-width: calc((100% / 1) - 20px);
                 }
              }
            }
          }
        }
  }
  .buks-boxes{
    @media all and (max-width:600px){
     margin-top:20px!important;
    }
        .single-col{
          .top{
              @media all and (max-width:600px){
                position:relative;
                width:100%;
                height: 100px;
                transition-duration: .0s;
                transform:translateY(0px);
              }
            .background{
                @media all and (max-width:600px){
                    height: inherit;
                    width:100%;
                }
            }
            .sponsor{
                @media all and (max-width:600px){
                    padding: 5px 17px;
                    font-size: 8px;
                }
            }
            .buk-logo{
                @media all and (max-width:600px){
                    transform: translate(-50%,-50%);
                    transition: none;
                }
            }
          }
          .bottom{
            @media all and (max-width:600px){   
                padding-bottom: 35px;
                padding-top: 22px;
            }
        }
        .single-wrap{
          transition-duration: 1;
          &:hover{
            .top{
              .buk-logo{ 
                top: calc(50% - 7px);
              }
            }
          }
        }
    }
    &.vertical{
      @media all and (max-width:900px){
        justify-content: center;
        padding: 0px;
      }
      .single-col{
        @media all and (max-width:900px){
         background-color: transparent;
         box-shadow: none;
        }
        .wrap-mobile{
          @media all and (max-width:900px){
            background-color: transparent;
            display: flex!important;
            color: black;
            flex-flow: column;
            align-items: center; 
          }
            .btn{
              @media all and (max-width:900px){
                position: relative;
                top: -15px; 
              }
            }
            .white{
              @media all and (max-width:900px){
                margin: -10px;
                color: #101f3c;
                font-size: 13px;
              }
            }
            .wrap-mobile-text{
              @media all and (max-width:900px){
                color: #101f3c;
                display: flex;
                border: none;
                padding: 10px;
                background:white;
                margin-top:20px;

                *{
                  color:#101f3c;
                }

                .stars{
                  margin-bottom:5px;
                }
              }
              h3{
                @media all and (max-width:900px){
                  color: #101f3c;
                }
              }
            }
        }
        .single-wrap{
          min-height: 250px;
          @media all and (max-width:900px){
            max-width: 600px;
            margin: auto; 
            flex-flow: column;
            border-radius: 5px;
            min-height: unset!important;
          }
          
          .top{
              transform:none;
              @media all and (max-width:900px){
                min-height: 80px;
                min-width: 100%;
                width: 100%;
              }
              .background{
                @media all and (max-width:900px){
                  width: 100%;
                  position: relative;
                  border-radius: 10px 10px 0 0px !important;
                }
              }
          }
            
          }
          .middle-text{
            @media all and (max-width:900px){
             display:none; 
            }
            h3{
              @media all and (max-width:970px){
               font-size: 18px!important; 
              }
            }
          }
          .bottom{
            @media all and (max-width:900px){
              border-radius: 0 0 5px 5px;
              margin: unset; 
            }
            .rest{
              @media all and (max-width:900px){
                position: relative;
                top: -25px; 
              }
            }
            .promocode{
              @media all and (max-width:900px){
                display: flex!important;
                position: relative;
                top: -20px;
                left: 0%;
                border-radius: 5px;
                padding: 5px 20px; 
              }
              .green{
                @media all and (max-width:900px){
                  display: none;
                
                }
              }
            }
          }
        }
      }
    &.m-kod-vertical{
        @media all and (max-width:1175px){
          align-items: center;
           margin-top: 40px!important;
        }
        .single-col{
          @media all and (max-width:1175px){
           
            max-width: 600px!important;
          }
          @media all and (max-width:900px){
            height: 335px; 
          }
          .wrap-mobile{
            @media all and (max-width:1175px){
              
            }
              .btn{
                @media all and (max-width:1175px){
                  
                }
              }
              .white{
                @media all and (max-width:1175px){
                  
                }
              }
              .wrap-mobile-text{
                @media all and (max-width:1175px){
                  
                }
                h3{
                  @media all and (max-width:1175px){
                    
                  }
                }
              }
          }
          .single-wrap{
            min-height: 280px;
            @media all and (max-width:1175px){
              flex-flow: row wrap;
            }
            
            .top{
                
                @media all and (max-width:1175px){
                  width: 100%;
                  order: 0;
                  height: 100px;
                }
                .background{
                  @media all and (max-width:1175px){
                    height: 100px;
                    width: 100%;
                  }
                }
            }
              
            }
            .middle-text{
              @media all and (max-width:1175px){
                display: none;
              }
              .stars{
                @media all and (max-width:1175px){
                 display:none; 
                }
              }
              p{
                @media all and (max-width:1200px){
                 font-size: 14px;
                }
              }
            }
            .bottom{
              @media all and (max-width:1175px){
                width: 100%;
                flex-flow: row wrap;
                height: 240px;
              }
              @media all and (max-width:900px){
                padding-top: 35px; 
              }
              .btn{
                @media all and (max-width:1175px){
                 bottom: 0px !important; 
                }
              }
              .rest{
                width: 90%;
                @media all and (max-width:1175px){
                  
                }
                .single{
                  @media all and (max-width:1175px){
                    padding-bottom: 2px;
                    margin-bottom: 2px;
                  }
                }
                .m-stars-hide{
                  @media all and (max-width:1175px){
                   display: flex!important;
                   justify-content: center;
                   position: relative;
                    width: 100%;
                    margin-top: 0px;
                  }
                }
                .boost{
                  margin: auto;
                  width: max-content;
                  padding: 20px;
                  @media all and (max-width:1175px){
                    padding: 15px; 
                  }
                  @media all and (max-width:900px){
                    padding: 10px; 
                  }
                    a{
                      color: white;
                      font-weight: 700;
                     }
                }
              }
              .promocode{
                *{
                  font-weight: 700;
                }
                @media all and (max-width:1175px){
                  order: 5;
                  display: flex;
                  position: relative;
                  margin: 0;
                  top: 5px;
                  left: 0;
                  }
                  @media all and (max-width:900px){
                   top:-5px; 
                  }
                }
              .green{
                  margin: 0px;
                  margin-top: -10px!important;
                  @media all and (max-width:1175px){
                    order: 6;
                    margin-left: 23px;
                    margin-top: -20px!important;
                  }
                  @media all and (max-width:900px){
                    margin-top: -40px !important; 
                  }  
              }
            }
          }
      }
      .m-kod-bottom{
        @media all and (max-width:1175px){
         display:flex!important;
         flex-flow: column;
         align-items: center; 
        }
        p{
          color: black;
          margin: 20px 0;
        }
        .pros{
          @media all and (max-width:1175px){
            background-color: #28313b;
            border-radius: 5px;
            width: 100%;
            max-width: 600px;
          }
          .single{
            .lazyloaded{
              margin: 10px;
            }
            span{
              color: white;
            }
          }

          .single{
            img{
              max-width:30px;
              margin:10px;
            }
          }
        }
      }
      .table-date{
        @media all and (max-width:1175px){
          position: relative;
          width: 100%;
          left: 0;
          padding-top: 15px;
        }
      }
  }
  .grey-bg{
  @media all and (max-width:900px){
    background:transparent;
    padding: 0px;
    }
  }
  .posts-mosaic{
        @media all and (max-width:1070px){
            width:100%;
        }
        .posts{
            @media all and (max-width:1070px){
                flex-flow: wrap;
                border-bottom: none;
                padding-bottom: 0px;
            }
          .left{
            @media all and (max-width:1070px){
                width: 100%; 
                border-bottom:1px solid rgba(16,31,60,.5);
                border-right: none;
                padding-right: 0px;
                max-width: 100%;
                }
            .single{
              .excerpt-mobile{
                @media all and (max-width:1070px){
                 display: flex!important;
                 text-decoration: none;
                cursor: pointer;
                a{
                  @media all and (max-width:1070px){
                   color: #101f3c;
                   font-weight: 700;
                   font-size: 18px;
                   font-family: 'Muli',sans-serif;
                  }
                }
                }
              }
              .image{
                a{ 
                  @media all and (max-width:1070px){
                    display: flex;
                    min-width: 100%;
                  }
                  
                  .lazyloaded{
                    @media all and (max-width:1250px){
                      height: 100%; 
                    }
                    @media all and (max-width:1070px){
                      margin: auto;
                      margin-top: 5px;
                      margin-bottom: 25px;
                      border-radius: 7px;
                      min-width: 100%;
                      height: auto;
                    }
                    @media all and (max-width:700px){
                      font-size: 14px; 
                    }
                  }
                }
                &.text-overlay{
                  @media all and (max-width:1070px){
                    width: 100%; 
                  }
                  .overlay{
                    @media all and (max-width:1070px){
                     background-color: transparent; 
                     position: relative;
                     width: 100%;
                     padding: 0px;
                    }
                    .more{
                      @media all and (max-width:1070px){
                        display:none; 
                       }
                    }
                    .excerpt{
                      @media all and (max-width:1070px){
                        color: black; 
                       }
                      a{
                        @media all and (max-width:1070px){
                         color: black; 
                         display: none;
                        }
                      }
                    }
                  }
                }
              }
              .author{
                  @media all and (max-width:1070px){
                    margin-bottom: 24px;
                  }
              }
            }
          }
          .right{
              @media all and (max-width:1070px){
                padding-left: 0px;
                width: 100%; 
                max-width:100%;
              }
            .single{
              &.w-image{
                .excerpt{
                  @media all and (max-width:1070px){
                   display:none; 
                  }
                }
    
                .more{
                  @media all and (max-width:1070px){
                    display:none; 
                   }
                }
                .info{
                  .post-title{
                    @media all and (max-width:1070px){
                     font-size: 18px; 
                    }
                  }
                }
              }
            }
          }
        }
  }
  .content-left-green{
    @media all and (max-width:1360px){
      margin: auto;
    }
    @media all and (max-width:900px){
      border-left: solid 0px #10c174; 
      border-top: solid 8px #10c174;
      padding: 15px;

      margin-top:40px;

      &::after{
        left:15px;
        top:0;
        transform: translateY(-32px);
      }
    }
    h4{
      @media all and (max-width:900px){
        font-size: 18px;
        margin-bottom: 0px;
      }
      
    }
  }

  .sidebar-content{
      .content{
            @media all and (max-width:1470px){
                max-width: calc(100% - 300px);
                padding-right: 0px;
            }
            @media all and (max-width:1360px){
                max-width: calc(100%);
                padding-right: 0px;
            }
            .wp-block-image{
              img{
                @media all and (max-width:600px){
                  max-width: 100vw; 
                }
              }
            }
            .container{
              @media all and (max-width:1000px){
               margin: 30px 0;
              }
            }
            .container-mobile{
            @media all and (max-width:1000px){
              margin: 0px 0 30px!important; 
            }
          }
          &.m-kod-single{
            .white-bars{
              .single{
                @media all and (max-width:700px){
                  flex-flow: row wrap;
                  justify-content: center;
                  position: relative;
                }
                .left{
                  @media all and (max-width:700px){
                    width: 100%;
                    text-align: center; 
                  }
                }

                .right{
                  @media all and (max-width:800px){
                    text-align: center; 
                  }
                }
                .btn{
                  @media all and (max-width:700px){
                    position: absolute;
                    bottom: 0px;
                    transform: translateY(50%); 
                  }
                }
                .green{
                  @media all and (max-width:700px){
                    margin-bottom: 10px;
                    width: 100%;
                    text-align: center;
                  }
                }
                .lazyloaded{
                  @media all and (max-width:700px){
                    margin: 13px; 
                  }
                }
              }
            }
          }
      }
      .sidebar-off{
        @media all and (max-width:1360px){
         display: none; 
        }
      }
      .m-sidebar-horizontal{
        @media all and (max-width:1360px){
          display: flex!important;
          margin: auto;  
        }
      }
  }
  .subheader{
      @media all and (max-width:550px){
      padding: 0;
      padding-top: 30px;
        }
      .content{
        @media all and (max-width:800px){
          align-items: center; 
        }
        h3{
          @media all and (max-width:820px){
            font-size: 18px;
          }
        }
        p{
          @media all and (max-width:800px){
            max-width: 400px;
            line-height: 2;
          }
          @media all and (max-width:500px){
           font-size: 14px;
           max-width: 380px; 
          }
        }
      }
  }
  .buks-table{
        .table{
          padding-top: 20px;
          .row{
              @media all and (max-width:1187px){
                display: flex;
                flex-wrap: inherit; 
                position: relative;
              }
              @media all and (max-width:1060px){
                display: flex;
                flex-flow: row wrap;
              }
            .index{
                @media all and (max-width:1187px){
                    position: absolute;
                    top: calc(50% - 20px);
                    z-index: 10;
                    border-radius: 100%;
                    width: 40px;
                    height: 40px;
                    order: 1;
                    left: 15px
                }
                @media all and (max-width:1060px){
                 order:1 ;
                 top: 32px;
                 left: 15px
                }
                @media all and (max-width:700px){
                  top: 20px; 
                }
                @media all and (max-width:550px){
                    top: 5px;
                    left: 5px; 
                    height:30px;
                    width:30px;
                }
            }
            .logo{
                background-color: #0161cf;
                .lazyloaded{
                    @media all and (max-width:1187px){
                        position: relative;
                        left: 30px; 
                        background-color: #0161cf;
                    }
                    @media all and (max-width:700px){
                        left: 70px;
                        height: 80px; 
                    }
                    @media all and (max-width:450px){
                        left: 55px;
                        height: 70px;
                    }
                }
                @media all and (max-width:1187px){
                    border-radius: 5px 0 0 5px;
                    order: 2;
                    left: 15px;
                    background-color: #0161cf;
                    min-width: 180px;
                }
                @media all and (max-width:1060px){
                 order: 2;
                 left: 15px; 
                 background-color: #0161cf;
                 border-radius: 5px 0px 0 0;
                width: 50%;
                z-index: 9;
                }
                @media all and (max-width:550px){
                    min-height: 70px;
                    height:100%;
                    overflow: hidden;
                    z-index: 9; 
                    display: flex;
                    align-items: center;
                    min-width: 50px;  
                }
            }
            .score-vote{
                @media all and (max-width:1187px){
                order:3;
                justify-content: center;
                flex-flow: column;
                align-items: flex-end;
                
                }
                @media all and (max-width:1060px){
                 order:3;
                 flex-direction: row-reverse;
                 justify-content: flex-end;
                 margin: 5px;
                 align-items: normal;
                 width: 20%;
                 justify-content: center;
                }
                @media all and (max-width:730px){
                    width: 50%; 
                    margin: 0px;
                    margin: 15px 0 15px 0;
                }
            }
            .score{
                @media all and (max-width:1060px){
                    flex-flow:column;
                    width: 70px!important;
                }
            }
            .vote{
                @media all and (max-width:1187px){
                order: 4;
                margin-top: 7px;
                }
                @media all and (max-width:1060px){
                order: 4;
                width: 40px!important;
                margin-top: 0px;
                }
              .vote-btn{
                @media all and (max-width:1187px){
                    order: 5;
                }
                @media all and (max-width:1060px){
                 order: 5;
                }
              }
            }
            .bulletpoints{
                @media all and (max-width:1187px){
                    order: 6;
                }
                @media all and (max-width:1060px){
                    order: 6;
                }
                @media all and (max-width:730px){
                    order: 10;
                    flex-flow: column;
                    display: flex;
                    width: 100%;
                }
            .bulletpoints-content{
                @media all and (max-width:730px){
                    display:none;
                    align-items: baseline;
                    padding: 0px 20px;
                    border-top: 1px solid #e3e6ff;
                    width: 100%;
                }
                @media all and (min-width:731px ){
                 display: flex!important; 
                }
                
            }
            .more-info{
                @media all and (max-width:730px){
                    border-top: 1px solid #e3e6ff;
                    width: 100%;
                    display: flex;
                    flex-flow: row-reverse;
                }
            .btn-info{
                @media all and (max-width:730px){
                 display: flex!important; 
                 position: relative;
                 justify-content: flex-end;
                 padding: 5px 50px;
                 height: 38px;
                }
                &::after{
                    content:"";
                    position:absolute;
                    top:50%;
                    right: 7px;
                    transform: translate(-50%,-50%);
                    display: block;
                    width: 20px;
                    height: 20px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-image:url(../images/chevron_down.png);
                    transition-duration: 700ms;
                    }
            }

            .grey-mobile{
                padding:5px 20px;
                font-size:12px;
                color:#6D6FA6;
                border-radius:5px;
                margin: 5px;
                background:#EBF1FC;
                font-weight:bold;
                display: none;
                width: 153px;
                left: calc(50% - 76px);
            }
            .expanded{
                font-size: 0px;
                color: transparent;
                height: 38px;
                &::after{
                    transition-duration: 700ms;
                    transform: rotateX(180deg);
                    right: 15px;
                    top:20%;
                }
                &+.grey-mobile{
                    display:flex;
                    position: absolute;
                }
            }
              ul{
                li{
                 @media all and (max-width:730px){
                    margin: 10px 0; 
                 }
                }
              }
            }
        }
            .prices{
                @media all and (max-width:1187px){
                    order: 7;
                }
                @media all and (max-width:1060px){
                    order: 7;
                }
                @media all and (max-width:730px){
                    width: 50%;
                    flex-flow: column;
                }
              .old{
                  @media all and (max-width:730px){
                    position: relative;
                    top: 10px;
                    right: 20px; 
                  }
              }
            }
            .buttons{
                @media all and (max-width:1187px){
                    order: 8;
                    flex-flow: column;
                }
                @media all and (max-width:1060px){
                    order: 2;
                    right: 0;
                    padding-top: 10px;
                    align-items: center;
                    width: 50%;
                    border-bottom: 1px solid #e3e6ff;
                }
                @media all and (max-width:730px){
                 background-color: $green;
                 border-bottom: 0px; 
                 border-radius: 0px 5px 0 0;
                }
              .btn{
                  @media all and (max-width:1060px){
                  margin: 5px;
                  font-weight: 500;
                  }
                  @media all and (max-width:730px){
                    font-size: 20px;
                    padding-right: 0px;
                    margin: 0;
                  }
                  @media all and (max-width:450px){
                    font-size: 15px;
                  }
              }
              .grey{
                  @media all and (max-width:1060px){
                    margin: 5px;
                  }
                  @media all and (max-width:730px){
                   display:none; 
                  }
              }
            }
            }
        }
  }
  .posts-columns{
      .single-col{
        @media all and (max-width:920px){
        }
        &::after{
            @media all and (max-width:920px){
             display: none!important;
             width: 0px!important;
            }
        }
     >.image{
       @media all and (max-width:920px){
        border-radius: 5px 5px 0 0;
        width: 100%; 
       }
       img{
         @media all and (max-width:920px){
          width: 100%;
          overflow: hidden; 
         }  
       }
     }
    }

  }
  .current-bonuses{
    @media all and (max-width:950px){
        border-radius: 0px;
        width: 100vw;     
        margin: 50px 0;
        margin-left: -30px;
    }
    @media all and (max-width:900px){
        background-image: none!important; 
        padding-top: 0px;
    }
        .text{
          p{
              @media all and (max-width:900px){
                margin: 0 20px;
                padding: 10px;
                color: #000;
              }
          }
          h3{
           @media all and (max-width:900px){
            display:none; 
           }
          }
        }
        .buttons{
         @media all and (max-width:900px){
            display: flex;
            flex-flow: column;
            align-items: center; 
         }
         @media all and (max-width:900px){
          padding-bottom: 15px; 
         }
          .btn{
            @media all and (max-width:900px){
                margin: 6px 0px;
                width: 50%;
                min-width: 250px; 
                padding: 10px 18px;
                text-align: center;
                font-size: 18px;
            }
          }
        }
  }
  .mobile-900{
            @media all and (max-width:900px){
                background-image: url(/app/themes/legal/dist/images/AdobeStock_70603462.png)!important;
                padding-top: 220px;
                width: 100vw!important;
            }
            .text{
                @media all and (max-width:900px){
                    padding-bottom: 20px;
                }
                .mobile-h3{
                    @media all and (max-width:900px){
                     display:block; 
                    }
                }
            }
              @media all and (max-width:730px){
                margin-left: -20px!important;
                width: 100vw!important;
              }
  }
  .main-header{
            @media all and (max-width:1255px){
              height: 60px; 
            }
            @media all and (max-width:600px){
              height:max-content;
            }
            .menu{
              
              .logo{
                @media all and (max-width:1255px){
                  padding: 15px 2px; 
                }

                @media all and (max-width:600px){
                 max-width:60%; 
                }
                
              }
              .menu-mobile-btn{
                @media all and (max-width:1255px){
                 display: flex!important; 
                 cursor:pointer;
                }
              }
              
              .expanded-menu{
                transform: translatex(0%)!important;
                z-index: 999;
              }
        }
  }
  .text-content{
  &.smaller{
    @media all and (max-width:600px){
      max-width:960px;
      padding:0;
    }
  }
  h3{
    @media all and (max-width:500px){
      font-size: 18px;
    }
  }
  p{
    @media all and (max-width:500px){
      font-size: 14px; 
    }
  }
  }
  .posts-columns{
  @media all and (max-width:600px){
   padding-bottom: 0;
   border-bottom: none;
  }
  }
  .legal-bookmaker{
        @media all and (max-width:500px){
        padding-top:0; 
        }
        
          h3{
            @media all and (max-width:900px){
            font-size: 18px;
             margin-bottom: 20px;
            }
          }
          p{
            @media all and (max-width:900px){
            font-size: 14px; 
            }
          }
  .expand-btn{
    &.expanded{
      filter:grayscale(100%);
    }
  }
  p{
    @media all and (max-width:500px){
      font-size: 14px; 
    }
  }
  .two-cols{
    @media all and (max-width:900px){
      width: 100%; 
    }
   
    .left,.right{
      h3{
        @media all and (max-width:900px){
         font-size: 18px;
        }
        @media all and (max-width:650px){
          height: 100px;
          font-size: 16px; 
        }
        @media all and (max-width:400px){
          height: 120px; 
        }
      }
      .headers{
        @media all and (max-width:400px){
          height: 25px;
        }
        div{
          @media all and (max-width:400px){
           font-size: 13px; 
          }
        }
      }
    }
  }
  }
  .main-footer{
    .upper{
      .single-col{
      @media all and (max-width:1000px){
       max-width: none; 
       margin: 15px 0;
      }
      &.buks{
        .content{
          justify-content: flex-start;
          p{
            @media all and (max-width:1000px){
              padding: 0 5px 5px 5px;
            }
            @media all and (max-width:600px){
              width:50%;
              display:inline-block;

              img{
                display:block;
                margin:0 auto;
              }
            }
          }
        }
      }
    }
  } 
  }
}