// zmienne
$text-color: #101F3C;
$lighter-blue: rgba(16,31,60,.5);
$main-orange: #f05f1d  ;
$main-green: #10C174  ;
$green: #10C174  ;

@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
html{
  scroll-behavior: smooth;

  overflow-x:hidden;

}
body *{
  font-family: 'Muli', sans-serif;
  font-weight:500;



  .playfair{
    font-family: 'Playfair Display', serif;
  }

}

body{
  background-repeat:no-repeat!important;
  background-position:top center!important;
  background-size: 100% auto!important;
  @media all and (max-width:900px){
    max-width:100vw;
    overflow-x:hidden; 
   }
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    font-family: 'Muli', sans-serif;
    font-weight: bold;
  }

  h1{
    font-size:36px;
  }

  #toc_container,.crp_related {
    display:none!important;
  }

  .main{
  margin-bottom:0px;


  }

  *{
    outline:none;
  }
  .shadow{
    box-shadow: 0 2px 14px  rgba(16,41,60,.1);

    &-stronger{
      box-shadow: 0 2px 24px  rgba(16,31,60,.2);

    }

    &-bottom{
      box-shadow: 0 6px 6px  rgba(16,41,60,.1);

    }
  }

  .radius{
    border-radius:5px;
  }

  .bordered{
    border: solid 1px #101F3C;
    border-radius:5px;
    padding:4px 14px;

    &-dark{
      border-radius:5px;
      padding:4px 14px;
      border: 1px solid #090B0D;
    }
  }


  .posts-columns{
    padding-bottom:20px;
    border-bottom:1px solid rgba(16,31,60,.5);

    .title-border{
      margin-bottom:15px;
    }
    .single-col{
      position:relative;
      margin:20px 30px;

      @media all and (max-width:700px){
       margin:20px 0; 
      }

      &::after{
        position:absolute;
        content:'';
        display:block;
        width:1px;
        height:85%;
        right:-30px;
        bottom:5px;
        background:rgba(16,31,60,.5) ;
      }

      &:nth-child(3n+3){
        &::after{
          display:none;
        }
      }

      &:last-of-type{
        &::after{
          display:none;
        }
      }
    }
    .read-more{
      display:none;
    }
    .date{
      font-size:16px;
      font-weight:700;
      color:$main-green;   
      margin:8px 0;    
   }

   .image{
     overflow: hidden;
     border-radius:5px;
     position:relative;
     margin-bottom:15px;

     img{
       filter:grayscale(100%);
     }

     .cover{
       position:absolute;
       top:0;
       left:0;
       width:100%;
       height:100%;
       background:linear-gradient(180deg, rgba(4,15,35,.3) 0%, rgba(4,15,35,.3) 100% );
        transition-duration: .3s;
     }
     &:hover{
       .cover{
         background:linear-gradient(180deg, rgba(16,193,116,.7) 0%, rgba(0,0,0,.5) 100% );

       }
     }
   }

   .excerpt{
     font-size:14px;
     color:$text-color;
     font-weight:400;
   }

   .additional{
     display:flex;
     justify-content: space-between;
     margin-top:20px;
     align-items:stretch;


     >*{
      padding:8px;
      display: flex;
      align-items: center;
     }

     img{
       border-radius:5px;
     }

     .rate{
       background: #F7F9FD;
       font-size:16px;
       font-weight:bold;
       color:$text-color;

     }

     .tekst{
       font-size:14px;
       font-weight: 400;
       color:$text-color;
     }
   }

   .title{
     a{
       font-size:24px;
       font-weight:700;
       color:$text-color;
     }
   }

   &.single-bordered{
     border-bottom:0;
    .single-col{

      &::before{
        content:'';
        position:absolute;
        width:calc(100% + 60px);
        bottom:-20px;
        left:50%;
        transform:translateX(-50%);
        height:1px;
        background-color:rgba(16,31,60,.5);
        display:block;

        @media all and (max-width:700px){
         display:none; 
        }
      }
    }
   }
  }

  .title-beforemenu{
    margin-top:60px;
    h2{
      color:$text-color;
      font-size:36px;
      font-weight:20px;
      margin-bottom:20px;
      text-align: center;
    }
  }

  .title-menu{
    margin-bottom:15px;
    width:100%;
    top:0;
    left:0;
    z-index:9;
    background: white;;

    &.fixed{
      position:fixed;

      @media all and (max-width:1100px){
       position:initial!important; 
      }

      .logo{
        display:block!important;
        transition-duration: .3s;
        margin: auto;
        margin-right: 20px;
        margin-left: 0;

        @media all and (max-width:1100px){
         display:none!important; 
        }

      }
    }

      .context-menu{
        display:flex;
        list-style-type:none;
        margin:0;
        li{
          padding:16px 20px;
          padding-bottom:11px;
          border-bottom:5px solid white;

          a{
            color:$text-color;
            font-size:14px;
            font-weight:bold;
          }

          &.active{
            border-bottom:5px solid $green;
          }
        }
      }
  }

  .posts-mosaic{
    width:100%;
    margin-bottom:15px;

    a::after{
      display:none;
    }
    .posts{
      display:flex;
      padding-top:20px;
      padding-bottom:20px;
      border-bottom: 1px solid rgba(16,31,60,.5);

      .read-more{
        display:none;
      }

      .date{
         font-size:16px;
         font-weight:700;
         color:$main-green;       
      }

      .post-title{
        color:$text-color;
        font-weight: 700;
        transition-duration: .3s;

        &:hover{
          color:$main-green;
        }

      }
    
      .left{
        max-width:50%;
        padding-right:30px;
        border-right: 1px solid rgba(16,31,60,.5);
        

        .single{
          display:flex;
          flex-flow:column;


          .post-title{
            font-size:28px;
          }

          .image{
            border-radius:5px;
            max-width:100%;
            margin-top:20px;
            margin-bottom:25px;
            overflow:hidden;

            &.text-overlay{
              position:relative;
              width:580px;

              .overlay{
                position:absolute;
                left:0;
                top:0;
                height:100%;
                width:60%;
                background-color:rgba(16, 193, 116, .8) ;
                padding:20px;
                display:flex;
                flex-flow:column;

                .more{
                  font-size:14px;
                  color:white;
                  border-radius:5px;
                  border:1px solid white;
                  padding:8px 14px;
                  width:max-content;
                  margin-top:auto;
                }

                .excerpt{
                  color:white;
                  font-size:16px;


                  a{
                    font-size:26px;
                    font-weight: 700;
                    color:white;
                    display:block;
                    line-height:34px;
                    margin-bottom:10px;

                    &.read-more{
                      display:none;
                    }
                  }
                }
              }
            }
          }

          .excerpt{
            color:$text-color;
            font-size:16px;
            font-weight:400;
            margin-bottom:15px;
          }

          .author{
            display:flex;

            .image{
              overflow: hidden;
              border-radius:100%;
              height:40px;
              width:40px;
              margin:0;
              margin-right:10px;

              img{
                min-width:100%;
                min-height:100%;
                max-width:initial;
                max-height:initial
              }
            }

            .info{
              display:flex;
              flex-flow:column;

              .more{
                color:$green;
              }
    

              .author{
                color:$text-color;
                font-size:16px;
                font-weight:400;
              }
            }
          }

          &.poradnik{
            height:100%;

            .image.text-overlay{
              height:100%;

              img{
                min-width:100%;
                height: 100%;
                width:auto;
                max-width:initial;

                @media all and (max-width:1060px){
                 width:100%;
                 margin-bottom:10px; 
                }
              }
            }
          }
        }
      }

      .right{
        max-width:50%;
        padding-left:30px;  

        .date{
          display:inline-block;
          margin-top:10px;
        } 

        .single{
          padding:30px 0;

          @media all and (max-width:500px){
            padding:10px 0;

           }

          &.w-image{
            display:flex;
            align-items:center;

            .image{
              position:relative;

              @media all and (max-width:500px){
               display:none; 
              }

              a{
                display:block;
                width:160px;
  
                img{
                  border-radius:5px;
                }
              }

            }


            .more{
              color:$green;
            }
            .info{
              margin-left:15px;
            }

            &.poradnik{
              .image{
                position:relative;

                a{
                  img{
                    filter: grayscale(1);
                  }
                }

  
                .overlay{
                  position:absolute;
                  width:100%;
                  height:100%;
                  top:0;
                  left:0;
                  background: linear-gradient(180deg, rgba(4,15,35,0.3) 0%, rgba(4,15,35,0.3) 100%);
                  transition-duration: .3s;
                }
              }

            }
          }

          &:first-of-type{
            border-bottom:1px solid rgba(16,31,60,.5);
          }

          &.single.poradnik{
            
            &:hover{
              .overlay{
                position:absolute;
                width:100%;
                height:100%;
                top:0;
                left:0;
                background: rgba(16,193,116,1) 0%!important;

                &::after{
                  position: absolute;
                  top:50%;
                  left:50%;
                  transform:translate(-50%, -50%);
                  content:'';
                  display:block;
                  width:40px;
                  height:40px;
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: cover;
                  background-image:url(../images/book.png);
                }
              }
            }
          }
        }
        
        .post-title{
          font-size:24px;
        }
      }
    }

    &.archive{
      .left{

        padding-right:0;

        @media all and (max-width:1070px){
         padding-left:0!important; 
        }



        .single{

          >.image{
            img{
              border-radius:5px;
            }
          }


          .post-title{
            font-size:28px;
            margin-bottom:20px;
          }
        }

        &:nth-child(n+2){
          border-right:none;
          padding-left:30px;
          padding-right:0;
        }
      }
    }
  }

  .archive-filters{
    margin-bottom:60px!important;

    ::-webkit-scrollbar {
      width: 0px;  /* Remove scrollbar space */
      background: transparent;  /* Optional: just make scrollbar invisible */
    }
    /* Optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
        background: transparent;
    }

    h2{
      font-size:24px;
      font-weight:bold;
      margin-top:50px;
      margin-bottom:25px;
    }

    .filters{
      display:flex;
      align-items:center;
      flex-flow:row nowrap;
      overflow-x:scroll;

      a{
        margin:5px;

        @media all and (max-width:860px){
          padding: 3px 11px;
        }
      }
    }

    .text-content{
      @media all and (max-width:900px){
       display:none;
      }
    }
  }

  .content-left-green{
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(16,31,60,.1);
    padding:55px;
    border-left:solid 8px $green;
    max-width:843px;
    margin-bottom:60px;
    margin-left:calc(170px - 63px);
    position:relative;

    h4{
      color:$green;
      font-weight: bold;
      font-size:26px ;
      margin-bottom:30px;
    }

    &::after{
      content:'';
      left:0;
      top:30px;
      transform:translateX(-32px);
      display:block;
      position:absolute;
      width:32px;
      height:32px;
      background-repeat: no-repeat;
      background-position:center ;
      background-image:url(../images/exclamation.png);
    }
  }

  .context-header{
    margin:20px 0;
  }

  .buks-table{
    .table{
      display:flex;
      flex-flow:column;

      .row{
        border:1px solid #E3E6FF;
        border-radius:5px;
        max-width:100%;
        // width:100%;
        display: flex;
        justify-content: flex-start;
        margin-bottom:8px;
        width:100%;

        .logo{
          display:flex;
          justify-content: center;
          align-items: center;

          img{
            max-width:80%;

          }
        }

        .index{
          font-weight:700;
          font-size:16px;
          color:$text-color;
          display:flex;
          align-items: center;
          justify-content: center;
          background: #F7F9FD;
          width:80px;
        }

        .score-vote{
          display: inline-flex;

          @media all and (max-width:1490px){
            width:200px; 
           }
        

        .score{
          font-size:14px;
          color:$text-color;
          font-weight:400;
          width:130px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .vote{
          width:90px;
          display: flex;
          align-items: center;

          .vote-btn{
            display: flex;
            align-items: center;
            justify-content: center;
            background:#EBF1FC ;
            position:relative;
            cursor:pointer;
            border-radius:100%;
            height:40px;
            width:40px;

            &::after{
              content:"";
              position:absolute;
              top:50%;
              left:50%;
              transform: translate(-50%,-50%);
              display: block;
              width: 16px;
              height: 16px;
              background-repeat: no-repeat;
              background-position: center center;
              background-image:url(../images/vote-plus.png);
              }

          }
        }
      }

        .bulletpoints{
          display: flex;
          align-items: center;

          @media all and (max-width:1490px){
           width:200px; 
          }

          ul{
            list-style-type: none;
            margin:5px 0;

            li{
              position:relative;
              font-size:14px;
              color:$text-color;
              font-weight:400;
              padding-left:18px;
              margin:5px 0;

              &::before{
                content:'';
                position:absolute;
                left:0;
                top:50%;
                width:12px;
                height:9px;
                transform:translateY(-50%);
                display:block;
                background-repeat: no-repeat;
                background-position: center center;
                background-image:url(../images/ul-tick.png);
              }
            }
          }
        }

        .prices{
          display:flex;
          align-items: center;
          width:200px;
          justify-content: center;
          margin-left:auto;


          @media all and (max-width:1490px){
            width:150px; 
           }
          
          .price{
            display: flex;
          }

          .old, .currency{
            font-size: 14px;
            color:$text-color;
            font-weight: 700;
            transform:translateY(-5px);
          }
          .new{
            color:$main-green;
            font-weight:700;
            font-size:24px;
            margin: 0 3px;
          }

          .old{
            text-decoration: line-through;
          }

        }

        .buttons{
          display:flex;
          flex-flow:column;
          align-items:stretch;
          justify-content: center;
          padding-right:17px;
          padding-top:20px;
          padding-bottom: 10px;

          .grey{
            display:block;
            padding:5px 20px;
            font-size:12px;
            color:#6D6FA6;
            border-radius:5px;
            margin: 5px;
            background:#EBF1FC;
            font-weight:bold;
          }
          .btn{
            margin: 5px;
          }
        }
      }
    }

    &+.table-date{
      font-size:16px;
      color:$text-color;
      margin-top:8px;
      font-weight: 700;
      margin-bottom:15px;
    }
  }

  .title-border{
    width:100%;


    h3{
      font-size:28px;
      font-weight: 700;
      color:$text-color;
      border-bottom:1px solid rgba(16,31,60,.5);
      padding-bottom:20px;

      @media all and (max-width:1360px){
        padding-bottom:10px; 
       }
    }
  }

  .text-content{

    .wp-block-image{
      border-radius:5px;
    }

    &.arrows{
      h3, h2{
        position:relative;

        &::after{
          content:'';
          position:absolute;
          left:-10px;
          top:14px;
          transform:translateX(-100%);
          width:16px;
          height:16px;
          background-repeat: no-repeat;
          background-position:center;
          background-image:url(../images/header-triangle.png);
        }
      }
    }

    .yoast-faq-accordion{
      max-width:780px;
      display: flex;
      flex-flow: column;
      margin:0 auto;
      margin-bottom:50px;

      .schema-faq-section{
        border-radius: 5px;
        border:1px solid #E3E6FF;
        margin-bottom:10px;
        display:flex;
        flex-flow:column;

        padding:18px;

        .schema-faq-question{
          text-align:left!important;
        }
        
        button{
          font-weight: bold;
          color:$text-color;
          font-size:20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width:100%;
          position:relative;
          text-align:left!important;

                      &::after{
                        content: "";
              position: absolute;
              top: 50%;
              right: 12px;
                        transform:translateY(-50%);
              display: block;
              width: 16px;
              height: 16px;
              background-repeat: no-repeat;
              background-position: center center;
              background-image: url(../images/vote-plus.png);
            }

            &[aria-expanded="true"]{
              &::after{
                background-image: url(../images/vote-minus.png);
              }
            }

          svg{
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            background: #ebf1fc;
            position: relative;
            border-radius: 100%;
            height: 40px;
            width: 40px;
            min-width: 40px;

            rect{
              fill:transparent;
            }
          }
        }
      }

    }

    &.smaller{
      max-width:960px;
      padding:0 30px;
    }
    *{
      color:$text-color;

      &.green{
        color: $green;
      }
    }

    h3{
      font-size:28px;
      font-weight:bold;
      
    }
    h2{
      font-size:28px;
      font-weight:bold;
    }

    p{
      font-size:16px;
    }

    &.bigger-padding-elements{
      >*:not(.posts-mosaic):not(.yoast-faq-accordion){
        padding:0 150px!important;

        @media all and (max-width:1050px){
          padding:0 15px!important;
        }
      }
    }

    .override-width{
      .buks-table{
        .row{
          .index{
            display:none!important;
          }

          .bulletpoints{
            max-width:200px!important;
          }

          .prices .new{
            font-size:22px;
          }
        }
      }
    }


  }

  .btn{
    font-size:14px;
    font-weight: 700;
    color:white;
    background-color: $main-green ;
    border-radius:5px;
    padding:8px 18px;
    width:max-content;
    transition-duration: .3s;
    white-space: nowrap;

    span{
      color:inherit;
      font-size:inherit;
      display:block;
      font-weight:inherit;
      white-space: nowrap;
    }

    &:hover{
      color:white;
      box-shadow: 0px 0px 6px rgba(16,193, 116, .5);
    }

    &.btn-transparent{
      background: transparent;
      color:#101F3C;
      border:1px solid #101F3C;

      &:hover{
        background-color: #101F3C;
        color:white;
      }
    }

    &.btn-reverse{
      border:1px solid $main-green;
      color:$main-green;
      background-color: transparent;

      &:hover{
        background:$main-green;
        color:white;
      }
    }

    &.btn-black{
      background:#040F23;
      color:white;
    }

    &.btn-blue{
      border:1px solid $text-color;
      color:$text-color;
      background-color: transparent;
      white-space: initial;
      text-align: center;

      &:hover{
        background:$main-green;
        color:white;
        border-color:$main-green;
      }
    }

    &.btn-arrow{
      padding:12px 10px;
      position:relative;
      padding-right:60px;

      &::after{
        content:'';
        position:absolute;
        display:block;
        right:50px;
        top:6px;
        width:1px;
        height: calc(100% - 12px);
        background: rgba(255,255,255,.5);
      }

      &::before{
        content:'';
        position:absolute;
        display:block;
        right:25px;
        top:50%;
        width:20px;
        height:20px;
        transform: translate(50%, -50%);
        background-repeat:no-repeat ;
        background-position: center center;
        background-image: url(../images/btn-arrow.png);
      }
    }

    &.btn-white-border{
      color:white;
      border:1px solid white;
      background: transparent;

      &:hover{
        color:$green;
        background: white;;
      }
    }
    &.btn-white{
      color:$text-color;
      border:1px solid white;
      background: white;

      &:hover{
        color:white;
        background: $green;
        border-color:$green;
      }
    }

    .smaller-padding{
      padding: 4px 12px;
    }
  }


  .container{
    width:1440px;
    max-width:100%;
    padding:0 30px;
    margin:0 auto;
    display:flex;


    &.poradnik-header{
      position: relative;
      overflow:hidden;
      min-height:350px;
      flex-flow:column;
      justify-content: center;

      &::after{
        content: '';
        display: block;
        height: 100%;
        width: 30%;
        position: absolute;
        background: white;
        z-index: -1;
        margin-left:-30px;

        @media all and (max-width:1060px){
          display:none!important;
         }
      }

      .share-icons{
        display:flex;
        margin-top:auto;

        @media all and (max-width:1060px){
          margin:10px 15px;
        }


        span{
          margin-right:5px;
        }
      }

      .addtoany_shortcode{

        .a2a_dd.addtoany_share_save.addtoany_share{
          display:none;
        }
      }

      .archive-filters{
        margin-bottom:10px!important;
      }

      .text-content{
        margin: auto 0;

        @media all and (max-width:1060px){
         margin:15px; 
        }
        h1{
          max-width:720px;
          padding:10px 15px;
          padding-left:0;
          background:white;
          display:inline-block;
          font-size:36px;
        }
      }

      .bg-image{
        position:absolute;
        right:0;
        top:0;
        z-index: -1;

        @media all and (max-width:1060px){
         position:initial!important; 
        }
      }
    }
    &.news-header{
      position: relative;
      overflow:hidden;
      min-height:350px;
      flex-flow:column;
      justify-content: center;
      align-items: center;

      .share-icons{
        display:flex;
        margin-top:auto;




        span{
          margin-right:5px;
        }
      }

      .addtoany_shortcode{

        .a2a_dd.addtoany_share_save.addtoany_share{
          display:none;
        }
      }

      .archive-filters{
        margin-bottom:10px!important;
        display:flex;
        justify-content: center;

        a{
          margin: 0 5px;
        }
      }

      .text-content{
        margin: auto 0;
        h1{
          max-width:720px;
          padding:10px 15px;
          padding-left:0;
          display:inline-block;
          font-size:36px;
          text-align:center;
        }

        .author{
          flex-flow:column;
        }
      }

      .bg-image{
        position:absolute;
        right:0;
        top:0;
        z-index: -1;
      }
    }

    &.smaller{
      max-width:900px!important;
      margin:0 auto;
    }


    &.column{
      flex-flow:column;
    }

    &.center{
      justify-content: center;
    }

    &.v-center{
      align-items:center;
    }

    &.center{
      justify-content:center;
    }

    &.nopadding{
      padding:0;
    }
    
    &.cols{
      &-1{
        display:flex;
        justify-content:space-between;
        align-items:stretch;

        .single-col{
          width:100%;
          max-width:calc(100% - 60px );

          &.smaller-gap{
            max-width:calc(100%);
          }
        }

        &.flex-start{
          justify-content:flex-start;

          .single-col{
            margin:0 30px;
  
            &.smaller-gap{
              margin:0 10px;
            }
          }
        }
      }

      &-5{
        display:flex;
        justify-content:space-between;
        align-items:stretch;

        .single-col{
          width:100%;
          max-width:calc((100% / 5) - 60px );

          &.smaller-gap{
            max-width:calc((100% / 5) - 20px );
          }
        }

        &.flex-start{
          justify-content:flex-start;

          .single-col{
            margin:0 30px;
  
            &.smaller-gap{
              margin:0 10px;
            }
          }
        }
      }
      &-3{
        display:flex;
        justify-content:space-between;
        align-items:stretch;

        .single-col{
          width:100%;
          max-width:calc((100% / 3) - 60px );

          @media all and (max-width:1100px){
            max-width:calc((100% / 2) - 60px ); 
          }
          @media all and (max-width:700px){
            max-width:calc((100% / 1) ); 
          }

          &.smaller-gap{
            max-width:calc((100% / 3) - 20px );
            @media all and (max-width:1100px){
              max-width:calc((100% / 2) - 20px ); 
            }
            @media all and (max-width:700px){
              max-width:calc((100% / 1) ); 
            }
          }
        }

        &.flex-start{
          justify-content:flex-start;

          .single-col{
            margin:0 30px;
  
            &.smaller-gap{
              margin:0 10px;
            }
          }
        }
      }
    }

    &.wrap{
      flex-flow:row wrap;
    }
  }

  .sidebar-content{
    background-color:white;
    padding:25px 0;
    padding-bottom:0px;
    display:flex;
    justify-content: space-between;
    .content{
      max-width:1135px;
      width:100%;
      padding-right:15px;

      &.bigger-padding{
        padding: 0px 170px;

        @media all and (max-width:1060px){
         padding:0 10px; 
        }
      }

      ul, ol{
        list-style-type: none;
        li{
          position:relative;

          &::before{
            position:absolute;
            content:'';
            display: block;
            width:8px;
            height:8px;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../images/list-triangle.png);
            left: -20px;
            top: 9px;
          }
        }
      }

      .wp-block-image{
        display: flex;
        justify-content: center;
        margin:20px 0;
      }

      >p{
        margin:20px 0;
      }


      .container{
        max-width:100%;
        flex-flow:row wrap;
      }
    }

    &.double{
      .content{
        max-width:1135px;
        width:100%;
        padding-right:15px;
  
        >p, >h3, >h1, >h2, >ul, >ol{
          padding: 0px 10px;
          display:block;
        }
  
      }
    }

    .sidebar{
      padding:20px;
      width:295px;
      min-width:275px;

      @media all and (max-width:1400px){
       width:500px;
       margin:0 auto;
       max-width:100%; 
      }

      @media all and (max-width:600px){
        padding:20px 0;
      }

      &.wider{
        padding:20px 0;
        width:345px;
      }

      &.chapters{
        min-width:280px;
      }

      .single{
        margin-bottom:20px;
      }

      .sidebar-wrapper{
        &.chapters{
          min-width:280px;
          .chapter{
            border-left:8px solid white;
            padding-left: 20px;
            span{
              font-size:14px;
              color: $text-color;
            }

            p{
              font-size:16px;
              font-weight: bold;
              color: $text-color;

            }

            &.active{
              border-left:8px solid $green;
              p, span{
                color:$green;
              }
            }
          }
        }
      }

      .simple-sidebar{
        display:flex;
        background-repeat: no-repeat;
        background-size: cover;
        flex-flow:column;
        justify-content: space-between;
        padding:6px 12px;
        width:100%;
        height:300px;
        align-items:center;
        border-radius:5px;

        @media all and (max-width:800px){
         height:200px;
        }
        @media all and (max-width:600px){
         height:150px;
        }

        img{
          max-width:50%;
        }

        .btn{
          width:100%;
          cursor:pointer;
        }
      }
      .cashes-sidebar{
        display:flex;
        flex-flow:column;
        width:100%;
        border-radius:5px;

        .top{
          background-repeat: no-repeat;
          background-size: cover;
          min-height:140px;
          display:flex;
          justify-content: center;
          align-items: center;
        }

        .bottom{
          background-color: #28313B;
          padding: 10px 10px 60px 10px;
          position:relative;
          border-radius:0 0 5px 5px;

          .bulletpoints{
            display:flex;
            flex-flow:column;

            .single{
              padding:8px 0;
              border-bottom: 1px dotted rgba(255,255,255,.2);
              margin-bottom:0;
              display:flex;

              .right{
                max-width:60%;
                width:60%;
              }

              .left{
                max-width:40%;
                width:40%;
                text-align:right;
              }

              &:last-of-type{
                border-bottom:none;
              }
              
              img{
                width:20px;
                margin-right:10px;
              }

              span{
                font-size:16px;
                color:white;
                font-weight: normal;
              }

              .green{
                color:$green;
                margin-right:10px;
              }
            }
          }

          .btn{
            position:absolute;
            bottom:0;
            left:50%;
            transform:translate(-50%, 50%);
            min-width:180px;
          }
        }

        &.review{
          .stars{
            margin: 10px auto;
            display:flex;
            justify-content: center;
            margin-bottom:15px;
          }

          .pros-cons{
            .single{
              margin-bottom:0;
              margin:8px 0;
              display: flex;
              align-items: center; 
            }
            img{
              width:20px;
              margin-right:10px;
            }
            span{
              color:white;
              font-size:13px;
            }
          }
        }
      }
    }

      .sidebar.context{
        width:315px;
        min-width:370px;
        padding-left:0;

        .chapter{
          font-size:13px!important;
          padding-top:5px;
          padding-bottom:5px;
          a{
            font-size: inherit;
            color:$text-color;
            font-weight:bold;
          }

          &.active{
            a{
              color:$green;
            }
          }
        }

        .sidebar-wrapper{
          min-width:330px;
        }
      }

    &.subheader{
      padding:35px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
  
      .content{
        h3{
          color:$text-color;
          font-size:20px;
          font-weight:20px;
          margin-bottom:20px;
          text-align: center;
        }
  
        p{
          font-size:16px;
          color:$text-color;
          text-align: center;
  
        }
      }
    }
  }

  .text-content{
    .content-left-green{
      margin-left:0;
      width:100%;
    }
    a:not(.btn):not(.grey):not(.noafter){
      font-weight: bold;
      color:$green;
      position:relative;
      display:inline;
      

      b, strong{
        color:$green;
      }

      &::after{
        content:'';
        margin-left:4px;
        transform:translateY(5px);
        display:inline-block;
        right:0;
        top:50%;
        height:18px;
        width:18px;
        background-repeat: no-repeat;
        background-position:center center;
        background-image:url(../images/anchor-icon.png);
      }
    }

    &.white{
      color:white;

      p, h1, h2, h3, h4,h5,h6{
        color:white;
      }
    }

    .posts-mosaic{
      a::after{
        display:none!important;
      }
    }

    .wp-block-table{
      max-width:75%;
      margin:0 auto;
    }
    table{
      tbody{
        border-color:rgba(16,31,60,.2);

      }
    }
  }

  .review-boxes{
    display:flex;
    margin:10px;

    @media all and (max-width:860px){
     flex-flow:column 
    }

    .single-box{
      display:flex;
      align-items: center;
      padding:15px 15px;
      margin:10px;

      @media all and (max-width:860px){
        padding:10px;
        margin:5px 0;
       }

      span{
        font-size:16px;
        font-weight: bold;
        color:$text-color;
        margin-right:30px;
        text-transform: uppercase;

        @media all and (max-width:860px){
         font-size:14px; 
        }
      }

      .stars{
        display: flex;
        align-items: center;
        margin-left:auto;
          @media all and (max-width:860px){
            width: 130px;
            justify-content: flex-end;
          }

        img{
          margin:0 2px;
        }


      }
    }
  }

  .stars{
    // margin-top:-8px;

    img{
      margin:0 3px;
    }
  }

  .table-comparison{
    padding: 50px 0;
    background:#F7F9FD;
    margin-bottom:30px;

    h3{
      font-size:36px;
      font-weight: bold;
      color:$text-color;
      text-align:center;
      margin-bottom:30px;
    }

    .table{
      max-width:900px;
      margin:0 auto;

      table{
        border:0;
        width:100%;

        tbody{
          border:0;
        width:100%;

        }

        tr{
          td{
            background: #222A33;
            border-left: 1px solid #101317;
            text-align:center;

            img{
              display:inline;
            }

            &:first-of-type{
              background: #28313B;
              color:white;
              font-size:13px;
              border-left:none;
              padding:15px 30px;
              width:190px;
              text-align:left;

            
              &.green{
                color:$green;
              }
            }
          }
        }

        tr{
          &:nth-child(2){
            td{
              padding-top:30px;

              &:first-of-type{
                border-radius:5px 0 0 0;
              }
            }
          }
          &:last-of-type{
            td{
              padding-bottom:30px;
              &:first-of-type{
                border-radius:0 0 0 5px;
              }
            }
            td{
              padding-bottom:30px;
              &:last-of-type{
                border-radius:0 0 5px 0;
              }
            }
          }
        }

        tr{
          &:first-of-type{
            td{
              height:70px;
              align-items: center;
              justify-content: center;
              position:relative;
              border-left:none;

              a{
                background-color:#222A33 ;
                color:white;
                font-size:13px;
                font-weight: bold;
                padding:2px 12px;
                position:absolute;
                bottom:0;
                transform: translate(-50%, 50%);
                width: max-content;
                left: 50%;
                line-height: 13px;;

                &::after{
                  display:none;
                }
              }

              &:first-of-type{
                background: transparent;                
              }

              &:nth-child(2){
              border-radius:5px 0 0 0;
                
              }

              &:last-of-type{
              border-radius:0 5px 0 0;

              }

              >img{
                position:absolute;
                top:50%;
                left:50%;
                transform:translate(-50%, -50%);
                max-width:80px;
              }
            }

          }
        }
      }
    }

  }  

  .under-post-reviews{
    max-width:900px;
    margin:0 auto;
    margin-bottom:40px;

    .single-review{
      margin-top:30px;
      padding:25px 15px;

      .about{
        display:flex;
        align-items: center;

        @media all and (max-width:700px){
         flex-flow:row wrap; 
        }
        >img{
          margin-right:25px;
        }

        .date{
          font-size:14px;
          font-weight: bold;
          color:$text-color;
          margin-right:20px;
        }

        .name{
          font-size:14px;
          font-weight: bold;
          color:$text-color;
          opacity:.5;
          margin-right:20px;
        }

        .stars{
          order: -1;
    width: 100%;
    margin-left: auto;
    /* margin-top: -10px; */
    display: flex;
    justify-content: flex-end;
        }
      }

      .content{
        margin:30px 0;
        padding-left:50px;

        .positive{
          margin-bottom:30px;
        }

        .negative, .positive{
          position:relative;

          &::before{
            content:'';
            position:absolute;
            left:-40px;
            top:0;
            width:30px;
            height:30px;
            background-repeat: no-repeat;
            background-position: center center;
          }
        }

        .positive{
          margin-bottom:30px;

          &::before{
            background-image:url(../images/pos-trans.png)
          }
        }
        .negative{
          margin-bottom:30px;

          &::before{
            background-image:url(../images/cons-trans.png)
          }
        }
      }
    }
  }

  .add-review{
    margin:50px 0 70px 0;

    .rate{
      display:flex;
      margin-bottom:20px;

      .stars{
        margin-left:25px;
        margin-top:-3px;
      }


    }

    .textarea-wrap{
      position:relative;
      padding-left:35px;

      &::before{
        content:'';
        position:absolute;
        left:0;
        top:0;
        width:30px;
        height:30px;
        background-repeat: no-repeat;
        background-position: center center;
      }

      &.pros{
        &::before{
          background-image:url(../images/pos-trans.png)
        }
      }
      &.cons{
        &::before{
          background-image:url(../images/cons-trans.png)
        }
      }

      textarea{
        border:0;
        resize:none;
        background: #F7F9FD;
        height:100px;
        box-shadow: none;
      }
    }

    .author{
      width:100%;
      display:flex;
      align-items: center;
      justify-content: space-between;
      margin-top:20px;

      .green{
        margin-left:15px;
        margin-right:auto;
      }

      input{
        border:0;
        resize:none;
        background: #F7F9FD;
        box-shadow: none;
        max-width:300px;
        margin-bottom:0;
        margin-right:15px;
      }
    }
  }

  .header-rate-buk{
    background:white;
    display:flex;
    padding:12px;
    justify-content: space-between;
    margin-top:20px;

    @media all and (max-width:660px){
     flex-flow:column; 
    }

    .left{
      display:flex;
      align-items: center;

      @media all and (max-width:660px){
       flex-flow:column; 

       .avatar{
         display:none;
       }

       .stars{
         margin-top:5px;
       }
      }

      span{
        font-size:14px;
        font-weight: bold;
        color:$text-color;
        margin:0 20px;
      }
    }

    .right{
      display:flex;
      align-items: center;

      @media all and (max-width:660px){
       justify-content:center; 
       margin-top:10px;
      }
    }
  }

  .header-typy{
    justify-content: center;
    align-items: center;
    margin-top:45px;

    h2{
      font-size:36px;
      color:$text-color;
      margin-top:20px;
    }

    .author{
      display:flex;
      flex-flow:column;
      align-items:center;

      .date{
        color:$green;
        font-weight:bold;
        font-size:16px;
        margin-top:0px;
        margin-bottom:30px;
      }

      .info{
        margin-top:10px;
      }
    }
  }

  .tags{
    display:flex;
    flex-flow:row wrap;
    .btn{
      margin:5px;
    }
  }

  .tag{
    border-radius:5px;
    color:white;
    padding:8px 12px;
    background: $text-color;
    font-weight:bold;
    font-size:13px;
    line-height:13px;
  }

  .bet-bar{
    margin-bottom:20px;
    margin-top:20px;

    .single{
      display:flex;
      justify-content: space-between;
      margin:8px 0;

      @media all and (max-width:700px){
       flex-flow:row wrap; 

       .buttons{
         width:50%;
         margin-left:auto;

         .btn{
           width:100%;
           text-align:center;
         }
       }
      }

      >div{
        padding:10px;
        display:flex;
        align-items: center;
      }

      .logo{

        @media all and (max-width:700px){
         width:50%; 
        }
        img{
          border-radius:5px;

          @media all and (max-width:700px){
            display:block;
            margin:0 auto;
           }
        }
      }

      .number{
        border-radius:5px;
        font-size:16px;
        font-weight:bold;
        background-color: #F7F9FD;
      }

      .text{
        margin-right:auto;
        margin-left: 16px;

        @media all and (max-width:700px){
         min-width:50%; 
        }
      }

      .image{
        border-radius:5px;
      }
    }
  }

  .event-info{
    display:flex;
    flex-flow:row;
    background:#F7F9FD ;
    justify-content: center;

    .single{
      padding: 20px 20px 20px 20px;
      color:$text-color;
      font-size:14px;
      border-right:1px solid rgba(16,31,60,.1) ;

      &:last-of-type{
        border-right:none;
      }
      b{
        margin-left:5px;
      }
    }
  }

  ul.zeroed, ol.zeroed{
    padding:0;
    margin:0;
    list-style:none;

    li{
      margin:0;
      padding:0;
      list-style:none;
    }
  }
  .author{
    display:flex;
    align-items:center;

    .image{
      overflow: hidden;
      border-radius:100%;
      height:40px;
      width:40px;
      margin:0;
      margin-right:10px;

      img{
        min-width:100%;
        min-height:100%;
        max-width:initial;
        max-height:initial
      }
    }

    .info{
      display:flex;
      flex-flow:column;

      .more{
        color:$green;
      }

      .date{
        color:$green;
        font-weight:bold;
        font-size:16px;
      }


      .author{
        color:$text-color;
        font-size:16px;
        font-weight:400;
      }
    }
  }
}

.context-list{
  li{
    list-style:none;
  }
}

.simple-intersection{
  width:100%;
  background-size:cover;
  background-repeat: no-repeat;
  padding:30px;
  display:flex;
  flex-flow:column;
  align-items:center;
  margin:25px 0;

  h3{
    color:white;
    font-weight: bold;
    font-size:28px;
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
  }

  &.steps-intersection{
    padding:70px 30px;
    position:relative;

    @media all and (max-width:800px){
     padding:20px; 
     width: 100vw;
     margin-left: calc( (-100vw + 100%) / 2);
    }

    @media all and (max-width:500px){
     padding:20px 10px; 
    }

    .background{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-size:cover;
      background-repeat: no-repeat;
      filter:grayscale(1);
    }

    .flayer{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-size:cover;
      background-repeat: no-repeat;
      opacity:.3;
    }
      h3{
        color:white;
        font-size:14px;
        font-weight:bold;
        text-align:center;
        z-index:2;

        @media all and (max-width:800px){
         padding-top:0!important; 
        }

        &::after{
          display:none;
        }

        span{
          color:inherit;
          font-size:inherit;
          font-weight: inherit;
        }
    }

    .steps{
      display:flex;
      justify-content: center;
      z-index:2;

      @media all and (max-width:800px){
       flex-flow:column; 
       width:100%;
      }


      .step{
        display:flex;
        flex-flow:column;
        align-items:center;
        width:150px;
        margin:0 40px;

        @media all and (max-width:800px){
         margin:10px 0; 
         width:100%;
         align-items: flex-start;
         position:relative;
        }

        header{
          display:flex;
          flex-flow:column;
          color:white;
          align-items:center;
          font-size:13px;

          @media all and (max-width:800px){
           min-width:41px; 
           flex-flow:row;
          }

          img{
            margin-bottom:5px;

            @media all and (max-width:800px){
             margin-bottom:0;
             margin-right:5px; 
            }
          }

        }
        .step-content{
          margin:10px 0;
          color:white;
          font-size:13px;
          text-align:center;

          @media all and (max-width:800px){
           max-width:130px;
           text-align:left; 
          }
        }

        .btn{
          margin-top:auto;
          
          @media all and (max-width:800px){
            position:absolute;
            top:50%;
            transform:translateY(-50%);
            right:0; 
           }

        }

      }
    }
  }
}

.article-sneakpeak{
  display:flex;
  margin:20px 0;

  .img{
    min-width:150px;
    background-color:#10C174;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:5px 0 0 5px;

  }

  .border-left{
    background-color:#10C174;
    width:6px;
    border-radius:5px 0 0 5px;
  }

  .content{
    padding:20px;
    padding-right:0;

    h3{
      font-size:24px;
      font-weight:bold;
    }

    .short-desc{
      font-size:16px;
    }
  }

  .btn{
    height:max-content;
    margin-top:auto;
    margin-bottom:20px;
    border-radius:5px 0 0 5px;
  }
}

.photo-with-bg{
  max-width:100%;
  padding:40px 150px;
  position:relative;
  margin:20px 0;
  margin-bottom:40px;

  @media all and (max-width:800px){
   padding:40px 60px; 
  }
  @media all and (max-width:600px){
   padding:20px 20px; 
  }

  img{
    max-width:100%;
    height:auto;
    box-shadow: 0 0 44px rgba(16,31,61, .2);
    padding:0!important;
    margin:0 auto!important;
  }

  .btn-holder{
    position:absolute;
    left:50%;
    bottom:0;
    transform:translate(-50%, 50%);
  }
}

.p{
  &-50{
    padding:50px;
  }
  &-100{
    padding:100px;
  }
  &-150{
    padding:150px;
  }
}


.pb{
  &-20{
    padding-bottom:20px;
  }
  &-30{
    padding-bottom:30px;
  }
  &-50{
    padding-bottom:50px;
  }
  &-100{
    padding-bottom:100px;
  }
  &-150{
    padding-bottom:150px;
  }
}

.pbt{
  &-50{
    padding:50px 0;
  }
  &-100{
    padding:100px 0;
  }
  &-150{
    padding:150px 0;
  }
}

.plr{
  &-50{
    padding:0 50px;
  }
  &-100{
    padding:0 100px;
  }
  &-150{
    padding:0 150px;
  }
}

.pt{
  &-30{
    padding-top:30px;
  }
  &-50{
    padding-top:50px;
  }
  &-100{
    padding-top:100px;
  }
  &-150{
    padding-top:150px;
  }
}


.pl{
  &-30{
    padding-left:30px;
  }
  &-50{
    padding-left:50px;
  }
  &-100{
    padding-left:100px;
  }
  &-150{
    padding-left:150px;
  }
}

.pr{
  &-30{
    padding-right:30px;
  }
  &-50{
    padding-right:50px;
  }
  &-100{
    padding-right:100px;
  }
  &-150{
    padding-right:150px;
  }

  .mt{
    &-30{
      margin-top:30px;
    }
  }
}

.stars.user-rate{
  img{
    transition: filter ease-in .2s;
    filter:grayscale(100%);
    cursor: pointer;
  }

  &.active-1{
    img:first-of-type{
      filter:grayscale(0)!important;
    }
  }
  &.active-2{
    img:first-of-type,
    img:nth-of-type(2){
      filter:grayscale(0)!important;
    }
  }
  &.active-3{
    img:first-of-type,
    img:nth-of-type(2),
    img:nth-of-type(3){
      filter:grayscale(0)!important;
    }
  }
  &.active-4{
    img:first-of-type,
    img:nth-of-type(2),
    img:nth-of-type(3),
    img:nth-of-type(4){
      filter:grayscale(0)!important;
    }
  }
  &.active-5{
    img:first-of-type,
    img:nth-of-type(2),
    img:nth-of-type(3),
    img:nth-of-type(4),
    img:nth-of-type(5){
      filter:grayscale(0)!important;
    }
  }

}

.navi-holder{
  display:flex;
  margin:30px auto;
  justify-content: center;

  @media all and (max-width:600px){
   max-width:100%; 
  }

  .wp-pagenavi{
    display:flex;

    @media all and (max-width:600px){
      max-width:100%; 
     }
  }

  span, a{
    border:1px solid #101F3C;
    border-radius:5px;
    font-size:14px;
    display:flex!important;
    justify-content: center;
    align-items: center;
    width:30px;
    height:30px;
    margin:0 8px;
    color: $text-color!important;
    padding:0!important;

    @media all and (max-width:600px){
      width:25px;
      height:25px;
      margin: 0 5px;
      font-size:12px;
     }

    &::after{
      display:none!important;
    }

    &.last, &.first{
      display:none!important;
    }

    &.current{
      color:$green!important;
      border-color: $green;
    }

    &.nextpostslink{
      font-size:0;
      position:relative;
      border:none;
      background-position: center;
      background-repeat: no-repeat;
      background-image:url(../images/header-triangle.png)

    }
    &.previouspostslink{
      font-size:0;
      position:relative;
      border:none;
      background-position: center;
      background-repeat: no-repeat;
      background-image:url(../images/header-triangle.png);
      transform:rotate(180deg);
    }

    &.pages{
      display:none!important;
    }
  }


}

.main-news-in-list{
  display:flex;
  margin-bottom:30px;

  .main-news-wrapper{
    display:flex;
    justify-content: center;
    width:100%;

    @media all and (max-width:860px){
     flex-flow:column; 
     align-items:center;
    }

    .left{

      img{
        border-radius:5px;
      }
    }

    .right{
      max-width:450px;
      padding:0 20px;

      @media all and (max-width:860px){
       margin-top:30px; 
       max-width: 100%;
      }

      .texts{
        padding:30px 0;
        h3{
          font-size:28px;
          font-weight: bold;
          color:$text-color;
          line-height:32px;

          a{
          color:$text-color;

          }
        }

        p{
          font-size:16px;
        }
      }
    }
  }
}

.contact-data-box{
  display:flex;
  margin:20px 0;

  @media all and (max-width:800px){
   flex-flow:column; 
  }

  .left{
    padding-right:30px;
    border-right:1px dotted rgba(0,0,0,.3);

    @media all and (max-width:800px){
     width:100%;
     padding-bottom:20px;
     margin-bottom:20px;
     border-right:none;
      border-bottom:1px dotted rgba(0,0,0,.3);

     padding-right:none;
    }
  }

  .right{
    padding-left:30px;

    @media all and (max-width:800px){
      width:100%;
      margin-bottom:20px;
      padding-left:0;
     }

    .flags{
      img{
        width:30px;
        height:30px;
        margin:0 5px;
      }
    }
  }
  
  .single{
    display:flex;
    span{
      font-size:16px;
      width:110px;
      display:inline-block;

      &.auto{
        width:auto;
      }
    }

    a{
      font-weight:bold;
    }
  }
}

.photo-with-bg{
  background-color:$green;
}

.copy-code{
  transition-duration: .3s;

  &:hover{
    text-shadow: 0px 0px 6px #10C174;
  }
}


//animations
@keyframes left-to-right{
  49%{-webkit-transform:translate3d(100%, 0, 0);transform:translate3d(100%, 0, 0)}
  50%{opacity:0;-webkit-transform:translate3d(-100%, 0, 0);
    transform:translate3d(-100%, 0, 0)}51%{opacity:1}}



    




/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
 .hamburger {
  padding: 0;
  background:transparent;
  display: none;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  border: 0;
  margin: 0;
  overflow: visible; 
  

  @media all and (max-width:1100px){
    display:inline-block;
  }
}
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: c; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 3px;
    background-color: $main-orange;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

    .hamburger-inner::before{
      width:30px;
      margin-left:10px;
      transition-duration: .3s;
    }

    .hamburger--spring.is-active .hamburger-inner::before{
      width:40px;
      margin-left:0;
    }


/*
   * Spring
   */
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear; }
  .hamburger--spring .hamburger-inner::before {
    top: 10px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring .hamburger-inner::after {
    top: 20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important; }
  .hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg); }



    .home .breadcrumbs{
      display:none;
    }
// @import 'components/slick.scss';
@import 'parts/header.scss';
@import 'parts/footer.scss';
@import 'parts/main-page.scss';

.slick-dots{
  bottom:20px;
  

    li{
      width:10px;
      height:10px;

      &::before{
        display:none!important;
      }

      &.slick-active{
        button{
          background: white;
        }
      }
       
     button{
      border-radius:100%;
      border:2px solid white;
      width:8px;
      height:8px;

      &:before{
        display: none;
      }
    }
  }
}




.noty_layout_mixin, #noty_layout__top, #noty_layout__topLeft, #noty_layout__topCenter, #noty_layout__topRight, #noty_layout__bottom, #noty_layout__bottomLeft, #noty_layout__bottomCenter, #noty_layout__bottomRight, #noty_layout__center, #noty_layout__centerLeft, #noty_layout__centerRight {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 9999999;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0) scale(1, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  filter: blur(0);
  -webkit-filter: blur(0);
  max-width: 90%;
}

#noty_layout__top {
  top: 0;
  left: 5%;
  width: 90%;
}

#noty_layout__topLeft {
  top: 20px;
  left: 20px;
  width: 325px;
}

#noty_layout__topCenter {
  top: 5%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(-webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
  transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__topRight {
  top: 20px;
  right: 20px;
  width: 325px;
}

#noty_layout__bottom {
  bottom: 0;
  left: 5%;
  width: 90%;
}

#noty_layout__bottomLeft {
  bottom: 20px;
  left: 20px;
  width: 325px;
}

#noty_layout__bottomCenter {
  bottom: 5%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(-webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
  transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__bottomRight {
  bottom: 20px;
  right: 20px;
  width: 325px;
}

#noty_layout__center {
  top: 50%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(-webkit-calc(-50% - .5px), -webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
  transform: translate(calc(-50% - .5px), calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerLeft {
  top: 50%;
  left: 20px;
  width: 325px;
  -webkit-transform: translate(0, -webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
  transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerRight {
  top: 50%;
  right: 20px;
  width: 325px;
  -webkit-transform: translate(0, -webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
  transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

.noty_progressbar {
  display: none;
}

.noty_has_timeout.noty_has_progressbar .noty_progressbar {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #646464;
  opacity: 0.2;
  filter: alpha(opacity=10);
}

.noty_bar {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate(0, 0) translateZ(0) scale(1, 1);
  -ms-transform: translate(0, 0) scale(1, 1);
  transform: translate(0, 0) scale(1, 1);
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: hidden;
}

.noty_effects_open {
  opacity: 0;
  -webkit-transform: translate(50%);
  -ms-transform: translate(50%);
  transform: translate(50%);
  -webkit-animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.noty_effects_close {
  -webkit-animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.noty_fix_effects_height {
  -webkit-animation: noty_anim_height 75ms ease-out;
  animation: noty_anim_height 75ms ease-out;
}

.noty_close_with_click {
  cursor: pointer;
}

.noty_close_button {
  position: absolute;
  top: 2px;
  right: 2px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.noty_close_button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.noty_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10000;
  opacity: .3;
  left: 0;
  top: 0;
}

.noty_modal.noty_modal_open {
  opacity: 0;
  -webkit-animation: noty_modal_in .3s ease-out;
  animation: noty_modal_in .3s ease-out;
}

.noty_modal.noty_modal_close {
  -webkit-animation: noty_modal_out .3s ease-out;
  animation: noty_modal_out .3s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes noty_modal_in {
  100% {
      opacity: .3;
  }
}

@keyframes noty_modal_in {
  100% {
      opacity: .3;
  }
}

@-webkit-keyframes noty_modal_out {
  100% {
      opacity: 0;
  }
}

@keyframes noty_modal_out {
  100% {
      opacity: 0;
  }
}

@keyframes noty_modal_out {
  100% {
      opacity: 0;
  }
}

@-webkit-keyframes noty_anim_in {
  100% {
      -webkit-transform: translate(0);
      transform: translate(0);
      opacity: 1;
  }
}

@keyframes noty_anim_in {
  100% {
      -webkit-transform: translate(0);
      transform: translate(0);
      opacity: 1;
  }
}

@-webkit-keyframes noty_anim_out {
  100% {
      -webkit-transform: translate(50%);
      transform: translate(50%);
      opacity: 0;
  }
}

@keyframes noty_anim_out {
  100% {
      -webkit-transform: translate(50%);
      transform: translate(50%);
      opacity: 0;
  }
}

@-webkit-keyframes noty_anim_height {
  100% {
      height: 0;
  }
}

@keyframes noty_anim_height {
  100% {
      height: 0;
  }
}

/*# sourceMappingURL=noty.css.map*/

.noty_theme__mint.noty_bar {
  margin: 4px 0;
  overflow: hidden;
  border-radius: 2px;
  position: relative;
}

.noty_theme__mint.noty_bar .noty_body {
  padding: 10px;
  font-size: 14px;
  color: white !important;
}

.noty_theme__mint.noty_bar .noty_buttons {
  padding: 10px;
}

.noty_theme__mint.noty_type__alert,
.noty_theme__mint.noty_type__notification {
  background-color: #fff;
  border-bottom: 1px solid #D1D1D1;
  color: #2F2F2F;
}

.noty_theme__mint.noty_type__warning {
  background-color: #FFAE42;
  border-bottom: 1px solid #E89F3C;
  color: #fff;
}

.noty_theme__mint.noty_type__error {
  background-color: #DE636F;
  border-bottom: 1px solid #CA5A65;
  color: #fff;
}

.noty_theme__mint.noty_type__info,
.noty_theme__mint.noty_type__information {
  background-color: #7F7EFF;
  border-bottom: 1px solid #7473E8;
  color: #fff;
}

.noty_theme__mint.noty_type__success {
  background-color: #AFC765;
  border-bottom: 1px solid #A0B55C;
  color: #fff;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
      outline: none;
  }

  &.dragging {
      cursor: pointer;
      cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:before,
  &:after {
      content: "";
      display: table;
  }

  &:after {
      clear: both;
  }

  .slick-loading & {
      visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
      float: right;
  }
  img {
      display: block;
  }
  &.slick-loading img {
      display: none;
  }

  display: none;

  &.dragging img {
      pointer-events: none;
  }

  .slick-initialized & {
      display: block;
  }

  .slick-loading & {
      visibility: hidden;
  }

  .slick-vertical & {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}
