.goup{
  position:fixed;
  width:40px;
  padding:20px;
  height:40px;
  right:15px;
  bottom:20px;
  border-radius:100%;
  display:none;
  padding: 6px 10px;
  z-index: 999999999;
  background: white;
  cursor: pointer;
  box-shadow:0 2px 14px rgba(16,41,60,0.3);

  &.visible{
    display:block;
  }

  img{
    max-height:20px;
  }
}

.main-footer{
  .upper{
    padding:36px 0;
    background-color:#F7F9FD;

    .single-col{
      
      h3{
        font-size:16px;
        font-weight:800;
        color:$text-color;
        line-height:16px;
        margin-bottom:30px;
      }

      ul{
        li{
          margin:5px 0;
          a{
            color:$text-color;
            font-size:16px;
            font-weight:500;
            padding:5px 0;

            img{
              border-radius:5px;
            }
          }
        }
      }

      &.buks{
        .content{
          display:flex;
          justify-content: space-between;
          flex-flow: row wrap;

          img{
            border-radius:5px!important;
          }

          p{
            margin:0;
            padding-bottom:5px;
            padding-right:5px;
          }

          a{
            max-width:calc(50% - 4px);
          }
        }
      }
    }

  }

  .lower{
    background: #28313B;
    padding:20px 0;
    

    *{
      color:rgba(255,255,255,.7);
      font-size:16px;
      font-weight:500;
      line-height:20px;
      flex-flow: column;
    }
    a{
      text-decoration: underline;
    }
  }
}