.main-header{
  background:white;
  z-index:99;
  position:relative;
  .menu{
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:100%;
    .logo{
      padding:0;
    }

    .header-menu{
      display:flex;

      li{
        padding:16px 0;
        padding-bottom:11px;
        border-bottom:5px solid white;
        position:relative;

        &.current-menu-item{
        border-bottom:5px solid $green;
          
        }
        &.current-menu-parent{
        border-bottom:5px solid $green;
          
        }

        a{
          font-size:14px;
          color:$text-color;
          font-weight:700;
          padding:.7rem 22px;
        }

        &:nth-last-child(1),
        &:nth-last-child(2),
        &:nth-last-child(3){
          a{
            font-weight:500;
          }
        }

        &:nth-last-child(3){
          position:relative;
          a{
            padding-left:45px;
          }
          margin-left:23px;

          &::before{
            position:absolute;
            height:29px;
            width:1px;
            left:0;
            content:'';
            background-color: $lighter-blue;
            top:50%;
            transform:translateY(-50%);
            display:block;
          }
        }

        .nav-drop{
          display:none;
          position:absolute;
          left:0;
          bottom:0;
          transform:translateY(100%);
          background:white;
          padding:10px;
          z-index: 6;
          width:440px;
          flex-flow:row wrap;

          &::after{
            display: block;
            content: '';
            position: absolute;
            z-index: -1;
            top: -15px;
            left: 30px;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(/app/themes/legal/dist/images/header-triangle.png);
            width: 12px;
            height: 17px;
            -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
          }

          li{
            padding:0;
            margin:0;
            display:flex;
            align-items:center;
            width:50%;

            img{
              border-radius:5px;
            }

            &:nth-last-child(3){
              &::before{
                display:none;
              }
              a{
                padding-left:14px;
              }
            }

            a{
              font-size: 14px;
              color:$text-color;
              padding:14px;
              padding-left: 0!important;
              font-weight:700!important;

              img{
                margin-right: 10px;
              }
              span{
                display:inline-block;
              }
            }
          }
        }

        &.menu-item-has-children:hover{
          >.nav-drop{
            display:flex;
          }
        }

        &:nth-last-child(1){
          .nav-drop{
            right:0;
            left:initial;
          }
        }
        &:nth-last-child(2){
          .nav-drop{
            right:0;
            left:initial;
          }
        }
        &:nth-last-child(3){
          .nav-drop{
            right:0;
            left:initial;
          }
        }
      }

      .mobile{
        display:none;
      }

      @media all and (max-width:1255px){
       display:flex;
       position:fixed;
       left:0;
       top:0;
       height:100vh;
       transform:translateX(-100%);
       transition-duration: .3s;
       flex-flow:column;
       background:white;
       box-shadow:0 2px 14px rgba(16,31,60,.1);
       z-index:999;
       min-width:310px;
       padding: 20px;

       &.expanded{
         transform:translateX(0)
       }

       .mobile{
         display:block;
         margin:0 auto;
       }

       li{

        &:nth-last-child(3){
          margin-left:0;
          margin-top:20px;

          &::before{
            height: 1px;
            width: 100%;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
          }

          a{
            padding-left:0;
            padding-top:20px;

            @media all and (max-width:1255px){
             padding-left:5px;
            }
          
          }

        }

         a{
           padding:5px;
           width:max-content;
         }

         &.menu-item-has-children{
            &::after{
              content:'';
              right:0;
              top:50%;
              transform:translateY(-50%);
              background-repeat: no-repeat;
              background-position:center center;
              width:13px;
              height:13px;
              background-image:url(../images/menu-chevron.png);
              position:absolute;
              display:block;
            }

            .nav-drop{
              display:flex;
              position:fixed;
              left:0;
              top:0;
              height:100vh;
              transform:translateX(-100%);
              transition-duration: .3s;
              flex-flow:column;
              background:white;
              box-shadow:0 2px 14px rgba(16,31,60,.1);
              z-index:9999;
              min-width:310px;
              padding: 20px;
              border-radius:5px;
              width:initial;

              .back{
                margin-left: 0;
                margin: 20px;
                font-weight: bold;
                position:relative;

                &::after{
                  content:'';
                  left:-20px;
                  top:50%;
                  transform:translateY(-50%) rotate(180deg);
                  background-repeat: no-repeat;
                  background-position:center center;
                  width:13px;
                  height:13px;
                  background-image:url(../images/menu-chevron.png);
                  position:absolute;
                  display:block;
                }
              }

              li{
                width:100%;
                a{

                }
              }

              &.expanded{
                transform:translateX(0);
              }
            }          
         }
       }
      }
    }
  }
}

.under-header{
  padding:90px 0 ;

  @media all and (max-width:1400px){
   padding:90px 20px;
  }

  @media all and (max-width:900px){
   padding:30px 20px; 
  }

  .container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow:column;

    h1{
        font-size:34px;
        color:$text-color;
        font-weight:700;
        margin:0;

        @media all and (max-width:900px){
         text-align:center; 
        }

        @media all and (max-width:600px){
         font-size:24px;
         line-height:30px; 
        }
    }

    h2{
      font-size:14px;
      color: $text-color;
      font-weight: 500;

      @media all and (max-width:900px){
        text-align:center; 
       }
    }
  } 
}