.buks-boxes{
  padding-bottom:50px!important;
  margin-top:5px!important;
  position:relative;

  &.after{


    &::after{
      content:'';
      position:absolute;
      z-index: -1;
      background-color: #F7F9FD;
      width:100vw;
      left:50%;
      transform:translateX(-50%);
      height: 600px;
      top: 190px;
    }
  }

  .single-col{
    .top{
      position:relative;
      width:100%;
      height: 190px;
      transition-duration: .3s;
      transform:translateY(25px);

      .background{
        position:absolute;
        overflow: hidden;
        max-width: 100%;
        border-radius: 10px 10px 0 0 ;
        background-position:center;
        background-size: cover;

        &.bookmaker{
          height:100%;
          width:100%;
        }


        img{
          min-height:100%;
          min-width:100%;
          width:100%;
          height:100%;
          max-width: initial;
          max-height: initial;
        }
      }
      .sponsor{
        position:absolute;
        left:0;
        top:0;
        transform:rotate(-90deg) translateX(-100%);
        border-radius: 0 5px 0 0 ;
        background: rgba(255,255,255,.2);
        font-size:8px;
        color:$text-color;
        font-weight:400;
        padding: 5px 10px;
        transform-origin: center center;
        transform-origin: left top;
      }
      .buk-logo{ 
        position:absolute;
        left:50%;
        top: calc(50% - 7px);
        transform:translate(-50%, -50%);
        transition-duration: .3s;

        img{
          display:block;
          margin:0 auto;
        }
      }
    }

    .bottom{
      background-color: #28313B;
      border-radius: 0px 0px 5px 5px;
      padding-top:35px;
      padding-bottom:75px;
      position:relative;
      margin-bottom:30px;

      .promocode{
        position:absolute;
        top:0;
        left:50%;
        transform:translate(-50%,-50%);
        background:#1A2026;
        display: flex;
        font-size:13px;
        font-weight: bold;

        span{
          color:white;
          margin-right:5px;
        }
      }

      .rest{

        @media all and (max-width:660px){
         padding-bottom:0!important; 
        }

        .single{
          display: flex;
          justify-content: center;
          padding-bottom:6px;
          margin-bottom:6px;
          position:relative;

          &:after{
            content:'';
            display:block;
            height:1px;
            width: 230px;
            position:absolute;
            bottom:0;
            left:50%;
            transform:translateX(-50%);
            background-image:url(../images/border-dot.png);
            background-repeat:repeat-x;
          }

          &:nth-last-child(1){
            padding-bottom:0;
            margin-bottom:0;
            &:after{
              display:none;
            }
          }

          .left{
            color:#10C174;
            font-size:13px;
            width:50%;
            text-align:right;
            font-weight:800;
            padding-right:14px;

            .old{
              color:white;
              text-decoration: line-through;
              font-weight: 400;
              color:white;
              margin-right:5px;
            }
          }

          .right{
            color:white;
            font-size:13px;
            width:50%;
            font-weight:400;
          }
        }
      }

      .btn{
        display: flex;
        position:absolute;
        bottom:0;
        left:50%;
        transform: translate(-50%, 50%);
        min-width:125px;

        &.sticking-out{
          position:absolute!important;
          bottom:0!important;
          left:50%!important;
          transform: translate(-50%, 50%)!important;
        }
      }
    }

    .under{
      *{
        color:$lighter-blue;
        font-size:10px;
        text-align:center;
      }

      h5{
        color:$text-color;
        font-size: 13px;
        text-align:center;
        font-weight:700;

        &:hover{
          text-decoration: underline;
        }
      }

    }

  }

  &.grow-equal{
    .single-col{
      display:flex;
      flex-flow:column;

      .bottom{
        height:100%;
      }
    }
  }

  &.slick-slider{
    .single-col{
      margin:0 15px;
    }
  }

  .single-wrap{
    transition-duration: .3s;
    &:hover{

      .top{
        transform:translateY(0);

        .buk-logo{ 
          top:calc(50% + 25px);
        }
      }
    }
  }

  &.vertical{
    .single-col{
      margin-bottom:20px;
      width:100%;
      background-color: #28313B;
      border-radius:5px;



      .single-wrap{
        display:flex;
        flex-flow:row nowrap;

        @media all and (max-width:1000px){
          flex-flow:column; 
         }

         &.reorder{
           @media all and (max-width:660px){
            .top{
              order:0;
            } 
            .middle-text{
              order:2;
            }
            .bottom{
              order:1;
              margin-bottom:30px;
            }
           }
         }
        &:hover{

          .top{
            transform:translateY(0);
            .background{
             
            }
            .buk-logo{ 
              top:calc(50%);
            }
          }
        }

      }

      .top{
        width:200px;
        min-width:200px;
        height:auto;
        transform:translateY(0);
        overflow: hidden;

        @media all and (max-width:1000px){
          height: 200px;
          width: 100%!important; 
        }

        .background{
        border-radius:0;

        }

        &.wider{
          min-width:310px;
          width:310px;

          @media all and (max-width:1200px){
           min-width:200px;
           width:200px; 
          }

          @media all and (max-width:660px){
           height:120px; 
          }
        }

        .addr{
          position:absolute;
          bottom:20px;
          left:50%;
          transform:translateX(-50%);
          background:black;
          color:white;
          font-size:16px;
          font-weight:400;
          padding:4px 10px;

          @media all and (max-width:660px){
           display:none; 
          }
        }
      }

      .middle-text{
        padding:22px;
        border-right:1px solid #101317;
        font-size:13px;
        display: flex;
        flex-flow: column;
        background-color: #222A33;

        a{
          color:$green;
        }

        .stars{
          margin-bottom:20px;
        }

        .pros{
          margin-top:auto;
          display:flex;

          .single{
            display:flex;
            align-items:center;
            margin-right: 15px;
            margin-bottom:20px;

            img{
              margin-right:10px;
              max-width:30px;
            }
            
            span{
              font-size:13px;
              color:white;
              font-weight:400;

            }
          }
        }

        &.two-cols{
          display:flex;
          flex-flow:row nowrap;
          align-items:stretch;
          width:800px;
          padding:0;

          @media all and (max-width:1000px){
           width:100%; 
          }

          @media all and (max-width:660px){
           flex-flow:column;
           border-right:none;
           background:transparent;
          }

          .left{
            width:50%;
            margin-top:0;
            max-width:50%;
            display:flex;
            flex-flow:column;
            border-right: 1px solid #101317;
            padding:22px;

            @media all and (max-width:660px){
             width:100%; 
             max-width:100%; 
             background:white;
              border-right:none;
            }

            &.pros{
              @media all and (max-width:660px){
               span{
                 color:$text-color;
               }
              }
            }

          }
          .right{
            margin-top:0;
            width:50%;
            max-width:50%;
            background-color: #28313b;
            flex-flow:column;
            padding:22px;

            @media all and (max-width:1000px){
              background: transparent; 
             }

             @media all and (max-width:660px){
              width:100%; 
             max-width:100%; 
             border-radius:5px;
             background-color:#222A33;
             }
          }
        }

        &.dotted{
          border-right:none;
          background-color:#28313b;
          min-width:410px;
          padding: 0 20px;
          justify-content: center;

          @media all and (max-width:600px){
           min-width:initial;
          }

          .single{
            display:flex;
            justify-content: space-between;
            width:100%; 
            padding:13px 0;
            border-bottom:1px dotted rgba(255,255,255,.2); 

            &.flex-start{
              justify-content: flex-start;

              span{
                margin:0 5px;
              }
            }


            span{
              color:white;
              font-size:13px;
              font-weight: bold;;

              b{
                font-weight: bold;;
              }

              &.green{
                color:$green;
              }
            }

            &:last-of-type{
              border-bottom:none;
            }
          }
        }
      }

      .bottom{
        min-width:260px;
        border-radius:5px;
        margin-bottom:0;
        padding-top:15px;
        padding-bottom:15px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-flow: column;

        @media all and (max-width:1000px){
         width:100%; 

        }

        .rest{
          width:100%;
        }

        .btn{
          position:initial;
          transform:translate(0);
          margin: 0 auto;
          margin-top:20px;

          &.absolute{
            position:absolute;
            bottom:0;
            transform:translateY(50%);
            min-width:130px;
          }
        }

        a.white{
          color:white;
          text-align:center;
          font-size:12px;
          margin: 0 auto;
          display: block;
          font-weight: 300;
          margin-top:10px;
          
          &:hover{
            text-decoration: underline;
          }
        }


        .promocode{
          color: #ffd902;
          position: initial;
          width: max-content;
          margin: 0 auto;
          border-radius: 0 0 5px 5px;
          padding: 15px 15px;
          transform: translateY(-30px);
          display:flex;
          flex-flow:column;
          align-items: center;

          &.smaller{
            padding:3px 12px;
            border-radius:5px;
          }

          &.sticked{
            .green{
              margin:2px;
            }

            transform:translateY(-43px);
            padding:10px 15px;
          }

          &.bookmaker{
            transform: translateY(-40px);

            @media all and (max-width:1000px){
             transform:translateY(-15px);
             position:initial;
             margin-bottom:20px; 
            }

            @media all and (max-width:660px){
             margin-top:20px; 
            }
            .green{
              margin:0!important;
            }
          }

        }
        .green{
          color:$green;
          font-size:13px;
          font-weight: 400;
          margin-top:10px;
          text-decoration: underline;
          cursor:pointer;
          margin:10px;

          &.nm{
            margin:0;
          }
        }
      }
    }
  }

  &.small{
    .single-col {



      .single-wrap{
        min-height:110px!important;

        .top{
          height:115px;
          width:140px;
          min-width:initial;
          border-radius:5px 0 0 5px;
        }

        .bottom{
          min-width:230px;

          .promocode{
            transform: translateY(0);
          }
        }
      }

    }
  }
  &.medium{
    .single-col {
      .single-wrap{
        min-height:170px!important;

        .top{
          height:175px;
          min-width:210px;
          min-width:initial;
          border-radius:5px 0 0 5px;
        }

        .middle-text{
          min-width:330px;
        }

        .bottom{
          min-width:230px;
          margin: 0 auto;

          .btn.absolute{
            left:50%;
            bottom:0;
            transform:translate(-50%, 50%);
          }

          .promocode{
            transform: translateY(0);

            &.sticked{
              transform: translateY(-38px);
            }
          }
        }
      }

    }
  }

  &.nohover{
    .single-col{
      
      .single-wrap{

          .top{
            transform:translateY(0);
            .background{
             
            }
            .buk-logo{ 
              top:calc(50%);
            }
          }
      }
    }
  }
}

.grey-bg{
  background:#F7F9FD;
  margin-bottom:30px;
  padding:35px 200px;
  margin-top:-70px;
  p{
    font-size:16px;
    color:$text-color;
    font-weight: 400;
  }
}

.our-goal{
  background: #f7f9fd;
  padding-bottom:25px;

  .btn-reverse{
    margin:20px 0;
  }
}

.current-bonuses{
  width:100%;
  padding-top:220px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center center;
  margin:30px 0;

  .text{
    max-width:620px;
    color:white!important;
    text-align:center;
    margin:0 auto;

    *{
      color:white;
    }

    p{
      font-size:16px;
    }

    h3{
      font-size:28px;
      font-weight:bold;
    }
  }

  .buttons{
    max-width:1030px;
    margin:0 auto;
    display:flex;
    justify-content: center;
    padding-bottom:30px;

    .btn{
      margin: 0 12px;
    }
  }
  
}

.legal-bookmaker{
  margin-top:60px;
  h3{
    font-size:28px;
    color:$text-color;
    font-weight:bold;
  }

  .expand-btn{
    color:$green;
    text-transform:uppercase;
    font-size:16px;
    cursor:pointer;
    margin-bottom:20px;

    &.expanded{
      filter:grayscale(100%);

      img{
        transform: rotate(180deg);
      }
    }
  }

  p{
    font-size:16px;
    color:$text-color;
    font-weight:300;
  }
  .two-cols{
    display:flex;
    justify-content: flex-start;
    margin:20px 0;
    width: 80%;

    .left,.right{
      display: flex;
      flex-flow:column;
      max-width:370px;

      img{
        margin:5px 0;
      }


      h3{
        font-size:20px;
        min-height:90px;
      }

      .headers{
        display:flex;
        justify-content: space-between;
        max-width:280px;


        div{
          color:rgba(16,31,60,.5);
          font-weight:bold;
          font-size:16px;
          margin-bottom:15px;
        }
      }
    }

    .right{
      margin-left:40px;
    }
  }
}

.white-bars{
  display:flex;
  flex-flow:column;
  margin-top:30px;
  margin-bottom:60px;
  max-width:780px;
  margin:0 auto;

  .single{
    margin-bottom:15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding:8px 15px;
    box-shadow: 0 4px 20px rgba(16,31,60,.1);

    .left{
      color:$text-color;
      font-size:16px;
      font-weight: 400;
    }

    .right{
      background: rgba(16,31,50,0.05);
      color:$text-color;
      font-size:16px;
      font-weight: bold;
      padding:7px 10px;
    }
  }
}